body{
	margin:0px;
	padding:0px;
	background:url(../images/background-shop-register.jpg) no-repeat center top;
	background-size:cover;
	width:100%;
	height:100% !important;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
}


.logo{
	margin:0px;
	padding:0px;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;	
	display: block;
	width:250px;
	height:105px;
	font-size:-12px;
	text-indent: -9000px;
	background: url(../images/logo-thuis-today.png) no-repeat center center #fff;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	float:left;
	background-size:90%;
}
.menu-top {
	float:right;
	
	height:34px;
	margin-top:15px;
}


.menu-top a{
	display: block;
	float:left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height:29px;
	padding-top:5px;
	padding-left:40px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	margin-right:10px;
}

.menu-top a.clear{
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	height:34px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-right:10px;
}


.menu-top a:hover{
-webkit-box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
}

.store{
	background:#fd6602 url(../images/store.png ) no-repeat left center; 
	color:#fff;
	font-size:16px;
	font-weight:700;
}
.change-location{
	background:#fd6602; 
	color:#fff;
	font-size:16px;
	font-weight:700;
	padding-left:20px !important;
}


.my-account{
	background:#fff url(../images/account.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;
}

.help{
	background:#fff url(../images/help.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;	
}

.language{
		background:#fff url(../images/dutch.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;
}



.main-container{
	width:70%;
	margin:0px auto;
	
}



.enter-email{
	width:40%;
	float:right;
	border-radius:30px;
	background:rgba(255,255,255,0.85);
	padding:20px;
	clear:both;
	margin-top:100px;
}

h1{
	margin:0px;
	padding:0px;
	font-weight:normal;
	font-size:20px;
}

.searchform {
	background:#fff url(../images/e-mail.jpg) no-repeat center left;
	width:90%;
	height:62px;
	border-radius:30px;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	margin:0px auto;
	padding-left:50px;
	
}


.searchform input[type="text"]{
	background:#fff;
	border:none !important;
	height:40px;
	width:50%;
	color:#d0cfcf;
	font-size:20px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin-top:10px;
}

.search-location{
	width:165px;
	height:62px;
	background:url(../images/../images/search-store.png) no-repeat center left;
	color:#fff;
	text-transform: uppercase;
	border:none;
	float:right;
	font-size:20px;
	font-weight:700;
}


.small-footer {
	width:100%;
	height:57px;
	background:#e4e7d7;
	clear:both;
	margin-top:300px;
}

.small-footer a{
	color:#000;
	font-size:16px;
}

footer {
	width:100%;
	background:#62990a;
	padding-top:40px;
	font-size:14px;
}

.footer-container{
	display: block !important;
	width:1300px !important;
	margin:0px auto !important;
}

footer div{
	width:25%;
	float:left;
}

footer a {
	text-decoration:none;
	color:#fff;
}

h2{
	font-size:25px;
	font-weight:400;
	color:#fff;
	margin-top:20px;
	margin-bottom:20px;
	padding:0px;
}



/*Register form*/

.register{
	width:100%;
	height:40px;
	border:none;
	border-radius:15px;
-webkit-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.38);
-moz-box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.38);
box-shadow: 1px 0px 5px -1px rgba(0,0,0,0.38);	
}


.submit{
	height:40px;
	border-radius:20px;
	background:#fd6602;
	font-weight:700;
	font-size:15px;
	text-transform: uppercase;
	color:#fff;
	padding-left:40px;
	padding-right:40px;
	border:none;
}


/*Added-css 15-january*/


.shop-page-bg{
	background:url(../images/background-shop-register.jpg) no-repeat center top !important;
	
}