body{
	margin:0px;
	padding:0px;
	font-family: 'Open Sans', sans-serif;
	font-size:16px;
	font-weight:300;
	
}



header{
	width:100%;
	height:671px;
	background:url(../images/background-header-extended.jpg) no-repeat center top;
}


/*desktop css*/


.header-container{
	width:1300px;
	margin:0px auto;
}

.logo{
	margin:0px;
	padding:0px;
	-webkit-border-bottom-right-radius: 30px;
	-webkit-border-bottom-left-radius: 30px;
	-moz-border-radius-bottomright: 30px;
	-moz-border-radius-bottomleft: 30px;
	border-bottom-right-radius: 30px;
	border-bottom-left-radius: 30px;	
	display: block;
	width:250px;
	height:105px;
	font-size:-12px;
	text-indent: -9000px;
	background: url(../images/logo-thuis-today.png) no-repeat center center #fff;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	float:left;
	background-size:90%;
}
.menu-top {
	float:right;
	width:1050px;
	height:34px;
	margin-top:15px;
}


.menu-top a{
	display: block;
	float:left;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	height:29px;
	padding-top:5px;
	padding-left:40px;
	padding-right:20px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.25);
	margin-right:10px;
}

.links-menu-top{
	float:right;
}

.menu-top a.clear{
	
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 15px;
	height:34px;
	padding-top:0px;
	padding-left:0px;
	padding-right:0px;
	font-family: 'Open Sans', sans-serif;
	text-decoration:none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	margin-right:10px;
}


.menu-top a:hover{
-webkit-box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
-moz-box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
box-shadow: 0px 4px 5px 0px rgba(80,117,49,1);
}

.store{
	background:#fd6602 url(../images/store.png ) no-repeat left center; 
	color:#fff;
	font-size:16px;
	font-weight:700;
}
.change-location{
	background:#fd6602; 
	color:#fff;
	font-size:16px;
	font-weight:700;
	padding-left:20px !important;
}


.my-account{
	background:#fff url(../images/account.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;
}

.help{
	background:#fff url(../images/help.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;	
}

.language{
		background:#fff url(../images/dutch.jpg) no-repeat center left;
	color:#62990a;
	font-weight:300;
	font-size:16px;
}


.search-container{
	margin-top:40px;
	text-align:center;
	clear:both;
}

.searchform {
	background:#fff url(../images/location.jpg) no-repeat center left;
	/*width:745px;*/
	height:77px;
	border-radius:38px;
	-moz-border-radius:38px;
	-webkit-border-radius:38px;
	margin:0px auto;
	padding-left:50px;
	position:relative;
	
}
.searchform.hh {
    width: 745px !important;
}

.title {
	font-size:33px;
	color:#616c2f;
	text-shadow: rgb(255, 255, 255) 0px 0px 20px;
	
}


.searchform input[type="text"]{
	background:#fff;
	border:none !important;
	height:50px;
	width:50%;
	color:#d0cfcf;
	font-size:20px;
	float:left;
	font-family: 'Open Sans', sans-serif;
	font-weight:300;
	margin-top:12px;
}



.search-location{
	width:165px;
	height:77px;
	background:url(../images/../images/search-store.png) no-repeat top left;
	color:#fff;
	text-transform: uppercase;
	border:none;
	float:right;
	font-size:17px;
	font-weight:700;
}
.main-container {
	width:1300px;
	margin:0px auto;
}
.main-container-shop-page {
	width:1300px;
	margin:-20px auto 0px auto;

}


.steps{
	margin:30px auto 0px auto;
	padding:0px;
	display: block;
	width:100%;
}


.steps > li{
	display:block;
	float:left;
	width:33.3%;
	font-family:'Open Sans',sans-serif;
	font-size:26px;
	font-weight:300;
	text-align:center;
	padding-top:130px;
}

.steps li:first-child{
	color:#f67c20;
	background:url(../images/location.gif) no-repeat center top;
}

.steps li:nth-child(2){
	color:#5e889e;
	background:url(../images/../images/card.gif) no-repeat center top;
	border-left:1px solid #ddd;
	border-right:1px solid #ddd;
	width:32%;
}

.steps li:nth-child(3){
	color:#bf1e2e;
	background:url(../images/deliver.gif) no-repeat center top;
}

.other-products{
	margin-top:40px;
	margin-bottom:40px;
	clear:both;
}
.product {
	width:408px;
	height: 408px;

	border-radius:200px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.25);
	background:#ddd;
	margin-right:20px;
	overflow:hidden;
}

.container{
		float:left;
		font-size:30px;
		font-weight:300;
		color:#000;
		text-align: center;
}

h1.stripes{
	text-align:center;
	
	font-size:30px;
	color:#62990a;
	margin:0px auto;

	margin-top:50px;
	margin-bottom:50px;
}

h1.pages{
	text-align:center;
	
	font-size:30px;
	color:#62990a;
	margin:0px auto;

	margin-top:10px;
	margin-bottom:10px;
}

.small-footer {
	width:100%;
	height:57px;
	background:#e4e7d7;
}

.small-footer a{
	color:#000;
	font-size:16px;
}

footer {
	width:100%;
	background:#62990a;
	padding-top:40px;
	font-size:14px;
	padding-bottom:40px;
}

.footer-container{
	display: block !important;
	width:1300px !important;
	margin:0px auto !important;
}

footer div{
	width:25%;
	float:left;
}


h2{
	font-size:25px;
	font-weight:400;
	color:#fff;
	margin-top:20px;
	margin-bottom:20px;
	padding:0px;
}

footer a {
	text-decoration:none;
	color:#fff;
}

.header-pages {
	width:100%;height:195px;
	background: url(../images/header-pages.jpg) no-repeat top center;
	position:relative;
}

.header-pages-container{
	width:1300px;
	margin:0px auto;
	position:relative;
}

.cleaner{
	clear:both;
}

p.current-location-top{
	color:#62990a;
	float:left;
	font-size:20px;
	margin:0px;
	margin-right:0px;
	margin-left:50px;
	background:url(../images/location.png) no-repeat top left;
	padding-left:30px;

}
.filters {
	position:absolute;
	width:505px;
	height:48px;
	left:50%;
	margin-left:-255px;
	top:90px;
}


.filters a{
	display:block;
	float:left;
	background:#f1f1f0;
	margin-right:10px;
	padding-left:15px;
	padding-right:15px;
	color:#000;
	font-size:16px;
	height:36px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-top:12px;
	text-decoration:none;
		-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
}


a.shop-details{
	display:block;
	float:left;
	background:#f1f1f0;
	margin-right:10px;
	padding-left:15px;
	padding-right:15px;
	color:#000;
	font-size:14px;
	height:20px;
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	padding-top:4px;
	padding-bottom:4px;
	text-decoration:none;
}

.grid{
	padding-top:15px !important;
	height:33px !important;
}

.shop-item{
	width:100%;
	border:1px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	padding-top:10px;
	padding-bottom:20px;
	background:url(../images/arrow-listing-shops.gif) no-repeat center right;
	margin-bottom:20px;
	position:relative;

}

.shop-product{
	width:100%;
	border:1px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	padding-top:5px;
	padding-bottom:5px;
	
	margin-bottom:15px;
	position:relative;

}
.text-content{
	width:90%;
	border:1px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	padding-left:5%;
	padding-right:5%;
	margin-bottom:15px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	clear:both;
}



.basket-checkout{
	width:100%;
	border:1px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	
	margin-bottom:15px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
}

.basket-checkout .tabs{
	width:90% !important;
	margin:15px auto 10px auto;
	padding-left:10px;
	padding-right:10px;
	border-bottom:none !important;
	height:20px !important;
}

.basket-checkout br{
	line-height: 5px;
}

.basket-checkout p{
	font-size:12px;
	margin:5px 0px 0px 0px;
}

.form-input{
	width:80%;
	height:25px;
	border-radius:10px;
	border:1px solid #ddd;
	margin-top:10px;
	background:#f7f7f7;
	padding-left:10px;
	padding-right:10px;
	-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
}

textarea{
	width:80%;
	height:135px;
	border-radius:10px;
	border:1px solid #ddd;
	margin-top:10px;
	background:#f7f7f7;
	padding-left:10px;
	padding-right:10px;
	-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	font-family: 'Open Sans', sans-serif;
}


.shop-product p{
	margin:0px;
}


.shop-product select{
	height:25px;
	width:50%;
	border-radius:10px;
	border:1px solid #ddd;
	margin-top:5px;

}

.shop-product input[type="text"]{
		height:25px;
	width:25%;
	border-radius:10px;
	border:1px solid #ddd;
	margin-top:5px;
	-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	padding-left:10px;
	background:#f7f7f7;
}

.shop-item h1{
	margin:0px;
	font-weight:400;
	margin:0px;
	padding:0px;
	font-size:25px;
}


.shop-details-bar{
	height: 32px;
}

.main-info{
	font-size:17px;
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	font-weight:300;
	border-radius:10px;
	background:#62990a;
	height:27px;
	padding-top:2px;
	padding-left:10px;
	padding-right:10px;
	float:left;
}

.discounts{
	font-size:17px;
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	font-weight:400;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:#fd6602;
	height:27px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	margin-left:5px;
}

.new{
		font-size:17px;
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	font-weight:400;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:#ff0000;
	height:27px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	margin-left:5px;
}


.tips{
			font-size:17px;
	text-transform: uppercase;
	text-align: center;
	color:#fff;
	font-weight:400;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background:#1faa04;
	height:27px;
	padding-top:5px;
	padding-left:10px;
	padding-right:10px;
	float:left;
	margin-left:5px;
}
.shop-categories-container {
	width:194px;
	-webkit-border-bottom-right-radius: 1px;
-webkit-border-bottom-left-radius: 20px;
-moz-border-radius-bottomright: 20px;
-moz-border-radius-bottomleft: 20px;
border-bottom-right-radius: 20px;
border-bottom-left-radius: 20px;
	background:#f0f1b5;
	min-height: 200px;
	margin-bottom:20px;
	padding-bottom:20px;
	float:left;
}



.shop-categories-container h2{
	color:#62990a;
	font-weight:300;
	font-size:25px;
	margin:0px;
	padding:10px 0px 0px 10px;
	border-bottom:1px solid #62990a;
	text-transform: uppercase;
	padding-bottom:10px;
}

.shop-categories-container ul{
	margin:0px;
	padding-left:20px;
	display: block;
	
}

.back{
	margin:0px auto !important;
	float:none !important;
	
	width:211px !important;
}

.shop-categories-container ul li{
	display: block;
	list-style-type:none;
	background:url(../images/small-arrow.gif) no-repeat center left;
	padding-left:10px;
	margin-bottom:5px;
	margin-top:5px;
}

.shop-categories-container ul li a{
	font-size:18px;
	color:#62990a;
	font-weight:300;
	text-decoration: none;
}
.shop-categories-container ul li a:hover{
	text-decoration:underline;
}
	
.shop-details-container {
	width: 100%;
	float: right;
}

.basket {
	width:103px;
	height:43px;
	background:url(../images/basket.png) no-repeat top left;
	padding-top:39px;
	font-size:25px;
	font-weight:700;
	color:#fff;
	margin:0px auto;
	float:right;
	text-align: center;
	position:absolute;
	top:65px;
	right:0px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	border-bottom-left-radius:55px;
	border-bottom-right-radius:55px;
}

.shop-name {
	font-size:30px;
	color:#62990a;
	text-transform: uppercase;
}
.tabs{
	margin-top:15px;
	height:30px;
	width:100%;
	padding-bottom:15px;
	border-bottom:1px solid #ddd;
	position:relative;
}

.more{
	height:auto !important;
	padding-bottom:10px;
}


.tabs-pagination{
	padding-top:20px;
	padding-bottom:20px;
	min-width:200px;
	margin:0px auto;
}

.tabs-pagination a{
	display:block;
	float:left;

	padding-top:4px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ddd;
	color:#fd6602;
	margin-right:10px !important;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	
}
.tabs-pagination a.active{
	display:block;
	float:left;
	background:#fd6602;
	padding-top:4px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ddd;
	color:#fff;
	margin-right:10px !important;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	padding-left:10px;
	padding-right:10px;
	text-decoration:none;
	
}


.tabs a{
	display:block;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:4px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ddd;
	color:#fd6602;
	margin-right:0px !important;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	text-decoration:none;
	float:right !important;
}

.tabs .active{
	display:block;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #f67c20;
	color:#fff;
	margin-right:20px;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	text-decoration:none;
	background:#fd6602;
	
}



.tabs-inputs a{
	display:block;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:4px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ddd;
	color:#fd6602;
	margin-right:5px !important;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	text-decoration:none;
	float:right !important;
}

.tabs-inputs .active{
	display:block;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #f67c20;
	color:#fff;
	margin-right:5;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	text-decoration:none;
	background:#fd6602;
	cursor: pointer;
	
}

.tabs p{
	margin:0px !important; padding:0px !important;
}

.tabs label{
	display:block;
	float:left;
	padding-left:20px;
	padding-right:20px;
	padding-top:3px;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:1px solid #ddd;
	color:#fd6602;
	margin-right:20px;
	text-transform:uppercase;
	font-weight:700;
	height:25px;
	text-decoration:none;
}




.cats{
	float:right !important;
	margin-right:0px !important;
	background:#1faa04 !important;
	color:#fff !important;
}

.menu-items{
	clear:both !important;
	margin-top:30px !important;
}


.menu-items .shop-item p{
	margin-top:5px;
}
strong{
	font-weight: 700;
}

.shop-item select {
	

	width:100%;
	height:50px;
	background:#f1f1f0;
	font-family: 'Open Sans', sans-serif;
	fon-size:18px;
	font-weight:300;
	border:none !important;
	-webkit-border-radius:8px;
	-moz-border-radius:8px;
	border-raidus:8px;
	

}


.minus{
-webkit-border-top-left-radius: 10px;
-webkit-border-bottom-left-radius: 10px;
-moz-border-radius-topleft: 10px;
-moz-border-radius-bottomleft: 10px;
border-top-left-radius: 10px;
border-bottom-left-radius: 10px;
height:50px;
color:#fff;
font-weight:700;
text-align:cente;
display: block;
float:left;
background:#62990a;
width:37px;
text-align: center;
text-decoration:none;
font-size:30px;
}
.plus{
-webkit-border-top-right-radius: 10px;
-webkit-border-bottom-right-radius: 10px;
-moz-border-radius-topright: 10px;
-moz-border-radius-bottomright: 10px;
border-top-right-radius: 10px;
border-bottom-right-radius: 10px;
height:50px;
color:#fff;
font-weight:700;
text-align:cente;
display: block;
float:left;
background:#62990a;
width:37px;
text-align: center;
text-decoration:none;
font-size:30px;
}


.text{
	width:37px;
	background:#ddd;
	height:50px;
	float:left;
	color:#666;
	text-align:center;
	font-size:30px;
	font-weight: 700;

}

.add-to-cart{
	width:140px;
	height:56px;
	background:#fd6602;
	color:#fff;
	font-weight:700;
	font-size:30px;
	text-transform: uppercase;
	text-decoration:none;
	display: block;
	margin-right:-27px;
	-webkit-border-top-left-radius: 40px;
-webkit-border-bottom-left-radius: 40px;
-moz-border-radius-topleft: 40px;
-moz-border-radius-bottomleft: 40px;
border-top-left-radius: 40px;
border-bottom-left-radius: 40px;
padding-top:10px;
padding-right:10px;
}


.select-shop{
	height:25px;
	border-radius:10px;
	margin-top:5px;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ddd;
	margin-top:-41px;
	color:#d0cfcf;
	display: block;
	float:right;
	text-decoration:none;
	font-size:15px;
	font-weight:bold;
	margin-right:25px;
	padding-top:5px;
}


label{
	font-size:16px;
}

.shop-options{
	position:absolute;
	background:#fff;
	top:68px;
	width:150px;
	text-align:left;
	padding:10px;
	border-radius:10px;
	left:440px;
	display:none;
	
}

.small-input{
	width:30%;
	height:25px;
	background:#fd6602;
	color:#fff;
	font-size:16px;
	text-transform:uppercase;
	border:none;
	border-radius:5px;
}


.small-input-white{
	width:30%;
	height:25px;
	background:#fff;
	color:#fd6602;
	font-size:16px;
	text-transform:uppercase;
	border:none;
	border-radius:5px;
}

.orange{
	background:#fd6602;
	color:#fff;
}

.orange-text{
	color:#fd6602;
	font-size:16px !important;
}

.orange-bold{
	background:#fd6602;
	color:#fff;
	padding-left:5px;
	padding-right:5px;
	border-radius:5px;
}


.shopname h1{
	margin:5px 0px 0px 0px;
	padding:0px;
}

.shopname{
	border-bottom:1px solid #d0cfcf;
}

.shop-details-container{
	border-bottom:1px solid #d0cfcf;
	padding-bottom:20px;
}

h1 a{
	color:#000;
	text-decoration:none;
}


.options{
	padding-left:5%;
}


.price-green{
	background:#1faa04;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	border-radius:5px;
}

.total-price-green{
	color:#1faa04;
}

.add{
	width:130px;
	height:30px;
	border-radius:20px;
	background:#f67c20 url(../images/add.jpg) no-repeat center right;
	color:#fff;
	font-size:20px;
	font-weight: 700;
	display: block;
	text-decoration:none;
	text-align:center;
	text-align:left;
	padding-top:2px;
	padding-left:15px;
	
}
.buynow{
	width:110px;
	height:30px;
	border-radius:20px;
	background:#1faa04;
	color:#fff;
	font-size:20px;
	font-weight: 700;
	display: block;
	text-decoration:none;
	text-align:center;
	text-align:left;
	padding-top:2px;
	padding-left:15px;
	
}


.product-categories{
	width:190px;
	padding:20px;
	background:#1faa04;
	color:#fff;
	position:absolute;
	z-index:1000;
	right:10px;
	top:40px;
	display: none;
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}


table.listing-checkout td{
	border-bottom:1px solid #ddd;
}

.listing-checkout input[type="text"]{
			height:25px;
	width:30%;
	border-radius:10px;
	border:1px solid #ddd;
	margin-top:5px;
	background:#f7f7f7;
	padding-left:10px;
-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
}

.clear-item{
	display: block;
	width:30px;
	height:27px;
	text-align: center;
	border-radius:20px;
	border:1px solid #000;
	text-decoration: none;
	color:#000;
	padding-top:2px;
}

.tabs-inputs{
	width:25% !important;
	margin:0px auto !important;
	border:none !important;
	margin-top:30px !important;

}

.spacer{
	width:200px;
	float:left;
}

.filters-listing{
	position:absolute;
	background:#f1f1f0;
	z-index: 1000;
	padding:10px;
	border-radius:10px;
	top:50px;
	left:305px;
	-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.6);
	display:none;
}


.product-filter-name{
	float:left;
	font-size:25px;
	font-weight:400;
	color:#1faa04;

}



h1.checkout{
	margin:0px;
	font-weight:400;
	margin:0px auto;
	padding:10px 0px 0px 0px;
	font-size:18px;
	padding-left:10px;
	padding-right:10px;
	width:90%;
	border-bottom:1px solid #ddd;
}

.rest{
	margin-top:10px;
	display: none;
}

.during-opening-hours{
	width:90%;
	margin:0px auto;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:20px;
}

.during-weekdays{
	width:90%;
	margin:0px auto;
	padding-right:10px;
	padding-left:10px;
	padding-bottom:20px;
	display: none;
}

.ok-pickup{
	display:none;
}


.big{

	width:300px;

	height: auto;
	position:absolute;
	z-index:1000;
	top:-10px;
}



/*Added Css on 12.01.2017*/

.small-hour{
	width:30% !important;
}

.fb-like{
	margin-top:5px
}


.orange-input-checkout{
	
	height:30px;
	color:#fff;
	font-weight: 700;
	text-transform: uppercase;
	background:#fd6602;
	border-radius:10px;
	border:none!important;
	font-size:20px;
	font-family: 'Open Sans';
	
}


.facebook-login{
	width:70%;
	padding:0 5% 0 5%;
	font-size:20px;
	height:35px;
	background:#3b5998 url(../images/fb-icon-login.png) no-repeat left center ;
	display: block;
	color:#fff;
	text-decoration: none;
	text-transform: uppercase;
	font-weight:700;
	border-radius:10px;
	text-align:center;
	padding-top:5px;
	font-family: 'Open Sans';
}


/*Added Css on 13.01.2017*/

h1.account{
	text-align:left;
	font-size:30px;
	color:#62990a;
	margin:0px auto;
	margin-top:10px;
	margin-bottom:10px;
	float:left;
}

.edit-account-orders {
	float:left;
	padding-top:20px;
}

.edit-account-orders a {
	display: block;
	height:25px;
	background:#fff;
	color:#fd6602;
	font-weight:700;
	border-radius:10px;
	font-size:18px;
	text-transform: uppercase;
	float:left;
	padding-left:10px;
	padding-right:10px;
	border:1px solid #ddd;
	text-decoration:none;
	margin-left:20px;	
}


.orders-content{
	width:95%;
	border:1px solid #ddd;
	-moz-border-radius:30px;
	-webkit-border-radius:30px;
	border-radius:30px;
	padding-left:2.5%;
	padding-right:2.5%;
	margin-bottom:15px;
	position:relative;
	padding-top:20px;
	padding-bottom:20px;
	clear:both;
}




.order-details{
    color:#fd6602 !important;
	
}


.delivered{
	display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#62990a;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}

.pending{
	
display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#ccc;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}

.canceled{
	display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#ff0000;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}


.black-small-heading{
	color:#000;
	margin:0px 0px 0px 0px;
	padding:0px 0px 15px 0px;
	border-bottom:1px solid #ddd;
}

body{
	height:100% !important;
	
}

html{
	height:100% !important;
}


.modal-background{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	z-index:3000;
	display: none;
	
}
.modal-background1{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	z-index:3000;
	display: none;
	
}


.modal-background2{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	z-index:3000;
	display: none;
	
}

.modal-background2 .modal-white{
	margin:70px auto !important;
}

.modal-body{
	overflow: hidden;
}


.modal-white{
	width:700px;
	padding:30px;
	background:#fff;
	-webkit-box-shadow: 8px 10px 5px -4px rgba(0,0,0,0.28);
	-moz-box-shadow: 8px 10px 5px -4px rgba(0,0,0,0.28);
	box-shadow: 8px 10px 5px -4px rgba(0,0,0,0.28);
	margin:30px auto;
	border-radius:20px;
	position:relative;
}


.modal-white h2{
	color:#000;
	margin:0px;
	padding:0px;
	border-bottom:1px solid #ddd;
	padding-bottom:10px;
	
}

.close{
	width:40px;
	height:30px;
	border-radius:60px;
	background:#fd6602;
	color:#fff;
	font-weight:bold;
	text-transform:uppercase;
	text-align: center;
	padding-top:10px;
	position:absolute;
	z-index:2001;
	top:-8px;
	right:-8px;
	
}


.left-floated{
	float:left;
	margin-right:20px;
}


.invoice{
	font-size:14px;
	color:#000;
	font-weight:bold;
	
}

.invoice img{
	margin-right:10px;
}


.text-content a{
	
	color:#000;
}


.h-topic{
	color:#000 !important;
}
/*16.01.2017*/

.p-price{
	display: none;
}

.ideal-price{
	display: none;
}
/*24-02-2017*/
.price-green{
	background:#1faa04;
	color:#fff;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	
	position:absolute;
	top:12px;
	right:0px;
}


.shop-product{
	width:12%;
	border:1px solid #ddd;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	padding-top:5px;
	padding-bottom:5px;
	float:left;
	margin-bottom:15px;
	padding-left:1%;
	padding-right:1%;
	padding-top:1%;
	padding-bottom:1%;
	position:relative;
	margin-right:16px;
	margin-left:16px;
}
.shop-product strong{
	font-size:14px;
	margin-bottom:0px !important;
}


hr{
	border:1px solid #ddd;
	
}

.shop-product input[type="text"]{
		height:25px;
	width:30%;
	border-radius:3px;
	border:1px solid #ddd;
	float:left;
	-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);	
	padding-left:10px;
	background:#f7f7f7;
	margin-top:-5px !important;
	margin-left:5px;
	margin-right:5px;
}


.shop-product input {
	float:left;
}



.shop-product label{
	float:left;
	margin-right:5px;
	
}


/*added 20th of march*/

.modal-background3{
	background:rgba(0,0,0,0.7);
	width:100%;
	height:100%;
	position:fixed;
	z-index:3000;
	display: none;
	
}

.modal-background3  .price-green{top:40px;}



.modal-background3 input.q-selection{
	height:25px;
	width:10%;
	border-radius:3px;
	border:1px solid #ddd;
	float:left;
	-webkit-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	-moz-box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);
	box-shadow: inset 6px 6px 5px -4px rgba(0,0,0,0.22);	
	padding-left:10px;
	background:#f7f7f7;
	margin-top:-5px !important;
	margin-left:5px;
	margin-right:5px;
}


.modal-background3 input {
	float:left;
}



.modal-background3 label{
	float:left;
	margin-right:5px;
	
}
/*//for search module//*/
#list_location {
    float: left;
    text-align: left;
    width: 100%;
	position: absolute;
}
.s_list {
    background: #fff none repeat scroll 0 0;
    border-radius: 4px;
    float: left;
    list-style: outside none none;
    padding: 17px 8px;
    width: 50%;
}
.s_list li {
    cursor: pointer;
    font-size: 15px;
 
}
.s_list > li:hover {
    background: #ccc none repeat scroll 0 0;
    padding: 0;}

/*///////////////////////////////////////*/
.myQuantaty{
	width: 60px;
}

/*/////////////////////////////////////////////////////////////*/
				/*/ css for alert message/*/
/*////////////////////////////////////////////////////////////////*/

.alert-danger {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
.alert-info {
    background-color: #d9edf7;
    border-color: #bce8f1;
    color: #31708f;
}
.alert-success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}
.alert-dismissable, .alert-dismissible {
    padding-right: 35px;
}
.alert {
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 15px;
}
.alert, .thumbnail {
    margin-bottom: 20px;
}
/*///// For close Button /////*/

.alert-dismissable .close, .alert-dismissible .close {
    color: inherit;
    position: relative;
    right: -21px;
    top: -2px;
}
button.close {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: 0 none;
    cursor: pointer;
    padding: 0;
}
/*.close {
    color: #000;
    float: right;
    font-size: 21px;
    line-height: 1;
    opacity: 0.2;
    text-shadow: 0 1px 0 #fff;
}*/
.alert .alert-link, .close {
    font-weight: 700;
}
button, input, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}

/*////////////////////////////////////////////////////////////////*/
/*///////////////////////////////////////////////////////////////////*/

/*//*****************   Replace css  ********************//*/
.basket {
	width:103px;
	height:43px;
	background:url(../images/basket.png) no-repeat top left;
	padding-top:39px;
	font-size:25px;
	font-weight:700;
	color:#fff;
	margin:0px auto;
	float:right;
	text-align: center;
	position:absolute;
	top:65px;
	right:0px;
	-webkit-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	-moz-box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	box-shadow: 0px 7px 5px 0px rgba(0,0,0,0.8);
	border-bottom-left-radius:55px;
	border-bottom-right-radius:55px;
/*}*/
.basket {
    background: rgba(0, 0, 0, 0) url("../images/basket.png") no-repeat scroll left top / cover ;
    border-bottom-left-radius: 55px;
    border-bottom-right-radius: 55px;
    box-shadow: 0 7px 5px 0 rgba(0, 0, 0, 0.8);
    color: #fff;
    float: right;
    font-size: 21px;
    font-weight: normal;
    height: 43px;
    margin: 0 auto;
    min-width: 103px;
    padding: 55px 16px 0;
    position: absolute;
    right: 0;
    text-align: center;
    top: 65px;
}
.main-container-shop-page.pr {
    margin: 185px auto 0;
    width: 1300px;
}
.header-pages.pr {
    background: rgba(0, 0, 0, 0) url("../images/header-pages.jpg") no-repeat scroll center top;
    height: 195px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}
.menu-top {
    float: right;
    height: 34px;
    margin-top: 15px;
    position: absolute;
    right: 0;
    width: 1050px;
}

/*/////  css for action ////////*/
.shoplistd {
    color: #000;
    text-decoration: none;
}
/* .addpricetocart {
 	transform: scale(1.2) rotate(20deg);
 	}
.addpricetocarts {
 	transform: scale(1.2) rotate(-20deg);
 	}*/
 .shop-product.changeproductbackground {
    background-color: hsl(0, 0%, 80%);
}

.alert-info a.close {
	top:auto;
	right:150px;
	height: 0px;
    padding-top: 0px;
    color:red;
}
.small-input.cat {
    width: 35px;
}
.approveed{
	display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#5D5900;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}
.pendingapproval{
	display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#F5C016;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}
.pendingapprovalgg{
	display:block;
	height:20px;
	color:#fff;
	font-weight:400px;
	background:#c15;
	font-size:14px;
	font-weight:700;
	padding-left:5px;
	padding-right:5px;
	text-align:center;
	border-radius:3px;
}
.left-floatedff{
	width: 160px;
	margin-left: 120px !important;
	margin-top:-36px !important;
}
div#foreach {
    height: 500px;
    overflow: auto;
}