<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Edit Language') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>"><?php echo $this->translate('Edit Language') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#"><i class="fa fa-plus"></i> <?php echo $this->translate('Edit Language') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate('Language file is  successfully Updated') ?>.</h4>
            <p>
                
            </p>
        </div>
        <?php else: ?>
        <div class="note note-info">
            <h3><?php echo $this->translate('Add New Delivery to the system'); ?></h3>
            <p><?php echo $this->translate('Fill in the form below to add new Delivery Point. All delivery added here is automatically marked approved.'); ?></p>
        </div>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errorMessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Deliver Point Info'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Edit File'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                
                                <?php
                                    echo $this->formTextarea(
                                        'language_text',
                                        (isset($this->request->language_text)?$this->request->language_text:$this->textval),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => '',
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                   
                   
                   
                   
                </div>
            </div>
           
            <!--div class="portlet solid light-grey">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Restaurant Admin Account Details'); ?>:</h3>
                <p><?php echo $this->translate('This account is used to manage the meals served by Delivery Point and other settings.'); ?></p>
                <hr />
                <div class="form-group">
                    <label for="res_admin_name" class="control-label col-md-2">*<?php echo $this->translate('Admin User Name'); ?>:</label>
                    <div class="col-md-8">
                        <?php
                            echo $this->formText(
                                'res_admin_name',
                                $this->request->res_admin_name,
                                array(
                                    'class' => 'form-control',
                                    'required' => 'required',
                                    'placeholder' => $this->translate('Enter admin full name')
                                )
                            )
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Email Address'); ?>:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <?php
                                echo $this->formText(
                                    'res_admin_email',
                                    $this->request->res_admin_email,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'placeholder' => $this->translate('Enter admin email address')
                                    )
                                )
                            ?>
                        </div>
                        <div class="help-block"><?php echo $this->translate('Email address entered here will be verified, and login details will be dispatched after verification is successful.'); ?></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_phone" class="control-label col-md-2"><?php echo $this->translate('Contact Number'); ?>:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <?php
                                echo $this->formText(
                                    'res_admin_phone',
                                    $this->request->res_admin_phone,
                                    array(
                                        'class' => 'form-control',
                                        'placeholder' => $this->translate('Multiple numbers must be separated by comma(,)')
                                    )
                                )
                            ?>
                        </div>
                    </div>
                </div>
                
            <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Restaurant Commission Per Order'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Enter Commission'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formText(
                                    'res_commision',
                                    $this->request->res_commission,
                                    array(
                                        'class' => 'form-control',
                                      'required' => 'required',
                   
                                        'placeholder' => $this->translate('Enter restaurant commission per order')
                                    )
                                )
                            ?>
                        </div>
                    </div>    
                
                
            </div-->
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Update File'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>