<!-- BEGIN PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Setting') ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-CrustSouce-crusts', true) ?>"><?php echo $this->translate('list of  Extras ') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Item ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errormessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Data is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                     <?php  if(isset($this->data[0]['id'])):

                     ?>

                     <input type="hidden"  name="id" 
                     value="<?php echo $this->data[0]['id'] ?>"/>
                     <?php 
                             endif;
                     ?>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Name') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'name',
                                        (isset($this->data[0]['name'])?$this->data[0]['name']:$this->request->name),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'name',
                                            'placeholder' => $this->translate('Enter The item name'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
					 <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Name in Dutch') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'name_ar',
                                        (isset($this->data[0]['name_ar'])?$this->data[0]['name_ar']:$this->request->name_ar),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'name_ar',
                                            'placeholder' => $this->translate('Enter The item name in Dutch'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Price') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                               <span class="input-group-addon"><!--i class="fa fa-try"></i--></span>
                                <?php
                                    echo $this->formText(
                                        'price',
                                         (isset($this->data[0]['price'])?$this->data[0]['price']:$this->request->price),
                                        array(
                                            'class' => 'form-control',
                                            'id'    => 'price',
                                            'required' => 'required',
                                            
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate(' Select Type') ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>
                                <?php
                                        echo $this->formSelect(
                                            'type',
                                              (isset($this->data[0]['type'])?$this->data[0]['type']:$this->request->type),
                                            array( 'class' => 'form-control','id'=>'select_box' ),
                                            array(
                                                'Select' => $this->translate('Select Type'),
                                                'crust' => $this->translate('crust'),
                                                'souces' => $this->translate('souces')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Status'); ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->IQD</span>
                                 <?php
                                        echo $this->formSelect(
                                            'paymentstatus',
                                              (isset($this->data[0]['itemstatus'])?$this->data[0]['itemstatus']:$this->request->status),
                                            array( 'class' => 'form-control' ),
                                            array(
                                                '0' => $this->translate('Active'),
                                                '1' => $this->translate('InActive')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
					<div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2"><?php echo $this->translate('Custom Pizza Check Ingrediant'); ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i--></span>
                                 <?php
                                        echo $this->formSelect(
                                            'custom_pizza_extra',
                                              (isset($this->data[0]['custom_pizza_extra'])?$this->data[0]['custom_pizza_extra']:$this->request->custom_pizza_extra),
                                            array( 'class' => 'form-control' ),
                                            array(
                                                '1' => $this->translate('Enable'),
                                                '0' => $this->translate('Disable')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
                     <script type="text/javascript">
                     $(function() {
                        $('#pages').hide(); 
                        $('#select_box').change(function(){
                            if($('#select_box').val() == 'crust') {
                                $('#pages').show(); 
                            } else {
                                $('#pages').hide(); 
                            } 
                        });
                    });
                     </script>
                <div class="form-group" id="pages">
                        <label class="control-label col-sm-2" for="mealpic">*<?php echo $this->translate('Meal Pic') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formFile(
                                    'mealpic',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'id'       =>'mealpic'
                                    ),
                                    $this->mealpic
                                )
                            ?>
                        </div>
                    </div>
                     
                     

                    <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save ') ?></button>
                    </div>
                    
                </div>
            </div>
            
        </form>
    </div>
</div>

