<html>

<head>
    <title><?php echo $this->subject ?></title>
</head>

<body>              
    <p>Your email has been successfully verified and account has been activated.</p>
    <p>Please find the your account login details below.</p>
    <ul>
        <li><strong>Login URL:</strong> <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url(array(), 'restaurant-admin-login', true); ?>"><?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url(array(), 'restaurant-admin-login', true); ?></a></li>
        <li><strong>Username:</strong> <?php echo $this->username ?></li>
        <li><strong>Password:</strong> <?php echo $this->password ?></li>
    </ul>
    <p><em>kebapiste.com Team</em></p>
</body>

</html>