  <script type="text/javascript">
function confirmDeletion(aid){

  var result = confirm("Are you sure you want to Delete this area?");

    if(result)
  {        
    window.location.href = "<?php echo $this->url(array(), 'admin-settings-delarea') ?>?eid="+aid;
    return true;
    }else{
        return false;
    }
} 

</script>       

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Website Settings'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li>    
                <i class="fa fa-home"></i> 
                <a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
			<li><a href="<?php echo $this->url(array(), 'admin-settings-locations', true) ?>"><i class="fa fa-location-arrow"></i> <?php echo $this->translate('Location Manager'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-md-7">
        <div class="portlet box border red">
            <div class="portlet-title">
                <span class="caption"><i class="fa fa-location-arrow"></i> <?php echo $this->translate('Locations'); ?></span>
                <div class="actions">
                    <div class="btn-group">
                       

                        <?php
                                echo $this->formSelect(
                                    'city',
                                    ($this->addSuccess ? null : $this->request->city),
                                    array(
                                        'class' => 'form-control chosen-select',
                                        'onchange'=>"redirectme(this.value)",
                                    ),
                                    $this->city
                                )
                            ?>
                        <!--ul class="dropdown-menu pull-right">
                            <?php if($this->selectedCity === null): ?>
                            <li class="active"><a href="<?php echo $this->url(array(), 'admin-settings-locations', true) ?>"><?php echo $this->translate('All Countries'); ?></a></li>
                            <?php else: ?>
                            <li><a href="<?php echo $this->url(array(), 'admin-settings-locations', true) ?>"><?php echo $this->translate('All Countries'); ?></a></li>
                            <?php endif; ?>
                            <?php 
                               
                                foreach($this->cities as $key=>$entry):
                            ?>
                                <?php if(strcasecmp($entry, $this->selectedCity) == 0): ?>
                                <li class="active"><a href="<?php echo $this->url(array(), 'admin-settings-locations', true).'?city='.$key ?>"><?php echo $entry ?></a></li>
                                <?php else: ?>
                                <li><a href="<?php echo $this->url(array(), 'admin-settings-locations', true).'?city='.$key ?>"><?php echo $entry ?></a></li>
                                <?php endif; ?>
                            <?php endforeach; ?>
                        </ul-->
                    </div>
                    <a href="<?php echo $_SERVER['REQUEST_URI'] ?>" class="btn btn-sm dark"><i class="fa fa-repeat"></i> <?php echo $this->translate('Reload'); ?></a>
                </div>
            </div>
            <div class="portlet-body">
                <div class="scroller" style="height: 290px; " data-always-visible="1" data-rail-visible1="1">
                    <table class="table table-striped table-condensed">
                        <thead>
                            <tr>
                                <th style="width: 35px;"><input type="checkbox" id="checkall" data-set="#checkall .checkboxes" /></th>
                                <th><?php echo $this->translate('Location'); ?></th>
                                <th><?php echo $this->translate('Area name'); ?></th>
                                <th><?php echo $this->translate('Shop(s) Linked'); ?></th>
                                <th style="width: 75px;">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(!isset($this->area_city) || count($this->area_city) == 0): ?>
                            <tr>
                                <td colspan="5">
                                    <div class="text-center">
                                        <span class="label label-info"><?php echo $this->translate('No location added yet!'); ?></span>
                                    </div>
                                </td>
                            </tr>
                            <?php else: ?>
                                <?php foreach($this->area_city as $entry): ?>
                                <tr>
                                    <td><input type="checkbox" value="<?php echo $entry->area_id ?>" class="checkboxes" /></td>
                                    <td><?php echo stripslashes($entry->location_id) ?></td>
                                    <td><?php echo stripslashes($entry->area_name) ?></td>
                                    <td><?php echo $entry->conts ?> restaurant(s)</td>
                                    <td>
                                        <button type="button" class="btn btn-sm red" onclick="return confirmDeletion(<?php echo $entry->area_id ?>, this)" data-loading-text="Deleting..."><i class="fa fa-minus"></i> <?php echo $this->translate('Delete'); ?></button>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="note note-warning">
            <small><?php echo $this->translate('Only delete a location if it is not linked with any restaurant, else all restaurant linked to the location will be not accessible via location search.'); ?></small>
        </div>
    </div>
    <div class="col-md-5">
        <div class="portlet solid light-grey">
            <div class="portlet-body">
                <?php if($this->addError): ?>
                <div class="alert alert-danger alert-dismissable">
                    <button type="button" class="close" data-toggle="alert">&times;</button>
                    <?php echo $this->addErrorMessage ?>
                </div>
                <?php endif; ?>
                <?php if($this->addSuccess): ?>
                <div class="alert alert-success alert-dismissable">
                    <button type="button" class="close" data-toggle="alert">&times;</button>
                    <?php echo $this->translate('Successfully added the location.'); ?>
                </div>
                <?php endif; ?>
                <form class="form-horizontal" method="post">
                    <input type="hidden" name="xaction" value="add" />
                    <h4>Add New Location:</h4>
                   <!--  <div class="form-group">
                        <label class="control-label col-sm-3" for=""><?php echo $this->translate('Country'); ?>:</label>
                        <div class="col-sm-9">
                            <?php
                                echo $this->formSelect(
                                    'city',
                                    ($this->addSuccess ? null : $this->request->city),
                                    array(
                                        'class' => 'form-control chosen-select'
                                       
                                    ),
                                    $this->cities
                                )
                            ?>
                        </div>
                    </div> -->
                     <div class="form-group">
                        <label class="control-label col-sm-3" for=""><?php echo $this->translate('City'); ?>:</label>
                        <div class="col-sm-9">
                            <?php
                                echo $this->formSelect(
                                    'city',
                                    ($this->addSuccess ? null : $this->request->city),
                                    array(
                                        'class' => 'form-control chosen-select'
                                       
                                    ),
                                    $this->city
                                )
                            ?>
                        </div>
                    </div>
                   
				   <div class="form-group">
                        <label class="control-label col-sm-3"><?php echo $this->translate('Area'); ?>:</label>
                        <div class="col-sm-9">
                            <?php
                                echo $this->formText(
                                    'area',
                                    ($this->location ? null : $this->request->area),
                                    array(
                                        'class' => 'form-control',
                                        'placeholder' => $this->translate('Enter Area name here'),
                                        'required'=>'required'
                                    )
                                )                            
                            ?>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-3"><?php echo $this->translate('Area Name In Dutch'); ?>:</label>
                        <div class="col-sm-9">
                            <?php
                                echo $this->formText(
                                    'area_ar',
                                    ($this->area_ar ? null : $this->request->area_ar),
                                    array(
                                        'class' => 'form-control',
                                        'placeholder' => $this->translate('Enter Area name here in Dutch'),
                                        'required'=>'required'
                                    )
                                )                            
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3">&nbsp;</label>
                        <div class="col-sm-9">
                            <button type="submit" class="btn btn-sm green"><i class="fa fa-check"></i> <?php echo $this->translate('Add'); ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>

function redirectme(valueme)
{
   // alert(valueme);
 window.location.href= '<?php echo $this->url(array(), 'admin-settings-locationsarea', true)?>?city='+valueme;

}
</script>