<!-- BEGIN PAGE HEADER-->

 <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS;  ?>date/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />


<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Setting') ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-setting', true) ?>"><?php echo $this->translate('Setting') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Setting ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Setting is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />                    
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Notify Text') ?>:</label>
                        <div class="col-sm-10 col-md-8">                                 
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope-o"></i></span>
                                <?php
                                      echo $this->formTextarea(
                                           'res_notify_text',
                                           (isset($this->data[0]['notifytext'])?$this->data[0]['notifytext']:$this->request->res_notify_text),
											array(
												'placeholder' => $this->translate('Please give the text to notify customer'),
												'class' => 'form-control',
												'style' => 'height: 100px'
											)
                                )
                                ?>
								
								<?php if(count($this->data)>0): ?>
								<input type="hidden" name="id" value="<?php echo $this->data[0]['id']; ?>"/>
								<?php endif; ?>
                            </div>
                        </div>
                    </div>
                      
                 
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Settings') ?></button>
        </form>
    </div>
</div>

