 <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>/date/include/jquery-1.9.0.min.js"></script>

  <style>
      .slider.slider-horizontal {
    margin: 0 3% !important;
    width: 94% !important;
}
      </style>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Bulk Offers Panel'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
               <!-- <a href="<?php echo $this->url(array(), 'admin-restaurant-add', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add New'); ?></span></a>-->
			</li>
			<li>
				<!--<i class="fa fa-home"></i>-->
				<a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'restaurant-admin-bulkoffer', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Bulk Offers Panel'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
    <!-- Filters -->
   

    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errormessage; ?>
            </div>
            <?php endif; ?>
             <?php if($this->success): ?>
            <div class="alert alert-success">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-success-sign"></i>
                <?php echo  $this->translate('Bulk offers are sent to respective Users'); ?>
            </div>
            <?php endif; ?>
           
              <div class="row">
        <div class="col-sm-12">
            <div class="portlet box red grey ">
                <div class="portlet-title grey2">
                    <div class="caption"><i class="fa fa-globe"></i> <?php echo $this->translate('Shops'); ?></div>
    				<div class="tools">
					   <a href="" class="expand"></a>
    				</div>
                </div>
                <div class="portlet-body" >
                    <div class="form-group">
                        <label for="filterby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Select Coupon'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <div class="row-fluid">
                                <div class="col-sm-10">
                                    <?php
                                        echo $this->formSelect(
                                            'coupon',
                                            $this->request->coupon,
                                            array( 'class' => 'form-control','required'=>'required' ),
                                            $this->coupon
                                        );
                                    ?>
                                </div>
                               
                            </div>  
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="filterby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Select Area'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <div class="row-fluid">
                                <div class="col-sm-10">
                                    <?php
                                        echo $this->formSelect(
                                            'Area',
                                            $this->request->coupon,
                                            array( 'class' => 'form-control chosen-select', 'required'=>'required' ),
                                            $this->cities
                                        );
                                    ?>
                                </div>
                               
                            </div>  
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Age Ranges'); ?>:</strong></label>
                        <div class="col-sm-10">
                         
                        
                            <div class="input-group">
                             <span class="input-group-addon"><i id="rangleagefirst">0</i></span>
                           <input type="text" class="span2" value="" data-slider-min="<?php (isset($this->data[0]->ages_range)?$this->data[0]->ages_range:1) ?>" data-slider-max="150" data-slider-step="5" data-slider-value="[1,150]" data-slider-orientation="horizontal" 
                                  data-slider-selection="after"data-slider-tooltip="hide" id="ages">
                           <span class="input-group-addon"><i id="rangleagelast">150</i></span>
                           <input type ="hidden" name="ages_range" value="" id="agesrange"/>
                            </div>
                    
                        </div>
                    </div-->
                    <!--div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Money Spent Range'); ?>:</strong></label>
                        <div class="col-sm-10">
                              <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-money"></i></span>
                             <input type="text" class="span2" value="" data-slider-min="<?php (isset($this->data[0]->money_range)?$this->data[0]->money_range:1) ?>" data-slider-max="10000" data-slider-step="5" data-slider-value="1" data-slider-orientation="horizontal" 
                                  data-slider-selection="after"data-slider-tooltip="hide" id="money"> 
                             <span class="input-group-addon"><i id="moneyshow">0</i> &nbsp; SAR</span>
                           
                             <input type ="hidden" name="money_range" value="" id="moneyrange"/>
                             
                             
                             
                        </div>
                        </div>
                    </div-->
                    <div class="form-group">
                        <label class="col-sm-2">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(1); $('#frm-do-action').submit();" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Apply Filter'); ?></button>
                            <?php if(isset($this->request->filterset) and $this->request->filterset): ?>
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(0); $('#frm-do-action').submit();" class="btn red"><i class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('Clear Filter'); ?></button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
        </div>
    </div>
</form>    
      <script>
    jQuery(document).ready(function()
    {
        
       $('#ages').slider()
       .on('slide', function(ev){
          
        $('#rangleagefirst').html(ev.value[0]); 
        $('#rangleagelast').html(ev.value[1]); 
        $('#agesrange').val(ev.value);
  });
        $('#money').slider().on('slide', function(ev){
        $('#moneyrange').val(ev.value);
        $('#moneyshow').html(ev.value);
  });
         $('#expirary').datepicker();
    });
   
    </script>