<?php echo $this->doctype(); ?>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <base href="/" />
	<meta charset="utf-8" />
	<?php echo $this->headTitle() ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <?php echo $this->headMeta() ?>
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<link href="Resturant/assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL STYLES --> 
	<link rel="stylesheet" type="text/css" href="Resturant/assets/plugins/select2/select2_metro.css" />
	<!-- END PAGE LEVEL SCRIPTS -->
	<!-- BEGIN THEME STYLES --> 
	<link href="Resturant/assets/css/style-metronic.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/css/style.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/css/plugins.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="Resturant/assets/css/pages/login.css" rel="stylesheet" type="text/css"/>
	<link href="Resturant/assets/css/custom.css" rel="stylesheet" type="text/css"/>
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
    <?php echo $this->headLink() ?>
    <?php echo $this->headScript() ?>
</head>
<!-- BEGIN BODY -->
<body class="login">
	<!-- BEGIN LOGO -->
	<div class="logo">
		<!-- <img src="Resturant/assets/img/logo-big.png" alt="" /> --> 
	</div>
	<!-- END LOGO -->
	<!-- BEGIN LOGIN -->
	<div class="content">
		<!-- BEGIN LOGIN FORM -->
		<form class="login-form" action="<?php echo $this->url(array(), 'admin-login', true) ?>" method="post">
			<h3 class="form-title"><?php echo $this->translate('Login to admin panel') ?></h3>
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <?php echo $this->errorMessage ?>
            </div>
            <?php endif; ?>
			<div class="alert alert-danger display-hide">
				<button class="close" data-close="alert"></button>
				<span><?php echo $this->translate('Enter your login details.') ?></span>
			</div>
			<div class="form-group">
				<!--ie8, ie9 does not support html5 placeholder, so we just show field title for that-->
				<label class="control-label visible-ie8 visible-ie9"><?php echo $this->translate('Username') ?></label>
				<div class="input-icon">
					<i class="fa fa-user"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" required="required" placeholder="<?php echo $this->translate('Email Address') ?>" name="username"/>
				</div>
			</div>
			<div class="form-group">
				<label class="control-label visible-ie8 visible-ie9"><?php echo $this->translate('Password') ?></label>
				<div class="input-icon">
					<i class="fa fa-lock"></i>
					<input class="form-control placeholder-no-fix" type="password" autocomplete="off" required="required" placeholder="<?php echo $this->translate('Password') ?>" name="password"/>
				</div>
			</div>
			<div class="form-actions">
				<label class="checkbox">
				<input type="checkbox" name="remember" value="1" <?php if($this->rememberme): ?>checked="checked"<?php endif; ?> /> <?php echo $this->translate('Remember me') ?>
				</label>
				<button type="submit" class="btn green pull-right">
				<?php echo $this->translate('Login') ?> <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
			<div class="forget-password">
				<h4><?php echo $this->translate('Forgot your password ?') ?></h4>
				<p>
					 <?php echo $this->translate('<a href="javascript:;"  id="forget-password">click here</a> to reset your password.'); ?>
				</p>
			</div>
            <!--
			<div class="create-account">
				<p>
					Don't have an account yet ?&nbsp; 
					<a href="javascript:;" id="register-btn" >Create an account</a>
				</p>
			</div>
            -->
		</form>
		<!-- END LOGIN FORM -->        
		<!-- BEGIN FORGOT PASSWORD FORM -->
		<form class="forget-form" method="post" onsubmit="return false;">
			<h3 >Forget Password ?</h3>
			<p>Enter your e-mail address below to reset your password.</p>
			<div class="form-group">
				<div class="input-icon">
					<i class="fa fa-envelope"></i>
					<input class="form-control placeholder-no-fix" type="text" autocomplete="off" placeholder="Email" name="email" />
				</div>
			</div>
			<div class="form-actions">
				<button type="button" id="back-btn" class="btn">
				<i class="m-icon-swapleft"></i> Back
				</button>
				<button type="submit" class="btn green pull-right" onclick="recoverpassword(this)" data-loading-text="Please Wait...">
				Submit <i class="m-icon-swapright m-icon-white"></i>
				</button>            
			</div>
		</form>
		<!-- END FORGOT PASSWORD FORM -->
	</div>
	<!-- END LOGIN -->
	<!-- BEGIN COPYRIGHT -->
	<div class="copyright">
		2013 &copy; kebapiste.com
	</div>
	<!-- END COPYRIGHT -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<!--[if lt IE 9]>
	<script src="Resturant/assets/plugins/respond.min.js"></script>
	<script src="Resturant/assets/plugins/excanvas.min.js"></script> 
	<![endif]-->   
	<script src="Resturant/assets/plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="Resturant/assets/plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>
	<script src="Resturant/assets/plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="Resturant/assets/plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
	<script src="Resturant/assets/plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="Resturant/assets/plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="Resturant/assets/plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="Resturant/assets/plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="Resturant/assets/plugins/jquery-validation/dist/jquery.validate.min.js" type="text/javascript"></script>	
	<script type="text/javascript" src="Resturant/assets/plugins/select2/select2.min.js"></script>     
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="Resturant/assets/scripts/app.js" type="text/javascript"></script>
	<!-- <script src="Resturant/assets/scripts/login.js" type="text/javascript"></script> --> 
	<!-- END PAGE LEVEL SCRIPTS --> 
	<script>
		jQuery(document).ready(function() {     
		  App.init();
		  //Login.init();
		});
        $('#forget-password').click(function(){
            $('.login-form').css('display', 'none');
            $('.forget-form').css('display', 'block');
        });
        $('#back-btn').click(function(){
            $('.login-form').css('display', 'block');
            $('.forget-form').css('display', 'none');
        });
        function recoverpassword(el){
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'main', 'action' => 'ajaxrecoverpassword'), 'default', true) ?>',
                type: 'post',
                data: $('.forget-form').serialize(),
                dataType: 'json',
                beforeSend: function(){
                    $(el).button('loading');
                },
                success: function(d){
                    $(el).button('reset');
                    if(d.error){
                        alert(d.errorMessage);
                    }else if(d.success){
                        alert('Please check your email.');
                        $('#back-btn').click();
                    }
                },
                error: function(){
                    $(el).button('reset');
                    alert('Something went wrong. Please re-try again.');
                } 
            });
        }
	</script>
	<!-- END JAVASCRIPTS -->
</body>
<!-- END BODY -->
</html>