<!-- BEGIN USER LOGIN DROPDOWN -->





<!-- BEGIN INBOX DROPDOWN--> 

<!--li class="dropdown" id="header_inbox_bar">

	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown"

		data-close-others="true">

	<i class="fa fa-envelope"></i>

    <?php if($this->count->count > 0):?>

	<span class="badge"><?php  

	

	echo $this->count->count ;?></span>

	

   <?php endif; ?>

     

	

    

	

	</a>

	<!--ul class="dropdown-menu extended inbox">

		<li>

			<p>You have  <?php  if($this->count->count > 0 ){echo $this->count->count.'messages';  }else { echo "no new message";}   ?> </p>

		</li>

		<li>

			<ul class="dropdown-menu-list scroller" style="height: 250px;">

			

				<?php

				// notification of superadmin//

				

				 $array=array();

				

				  foreach($this->test as $test):

				

				 global $start;

				

				for($start=0;$start<count($test->data['message']);$start++):



				if($start==0){

				

				$array[$start]=$test->data['username'][$start];

				

				

				}

				else

				{

				

				

				

				if(in_array($test->data['username'][$start],$array)){

				

				continue;

				

				}

				

				}

				

				

				

				

			

				

				?>

			     

				<li>  

					<a href="<?php  echo $this->url(array(), 'restaurant-Message', true)?>?user_id=<?php echo $test->data['user_id'][$start]; ?>"=view">

					<span class="photo"><img src="Resturant/assets/img/defaultpic.png" alt=""/></span>

					<span class="subject">

					<span class="from">	<?php echo $test->data['username'][$start]; ?></span>

					<span class="time"><?php  echo	$test->data['time'][$start]; ?></span>

					

					</span>

					<span class="message">

					<?php echo $test->data['message'][$start]; ?>

					</span>  

					</a>

				</li>

				

				 <?php endfor; endforeach; ?>

				

				

				

				

			</ul>

		</li>

		

	</ul-->

</li-->

<li class="dropdown user">

	<a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-close-others="true" style="line-height: 35px; height: 40px;">

    	<i class="fa fa-user"></i>

    	<span class="username"><?php echo $this->translate('Hi') ?>, <?php echo $this->session->admin->name ?></span>

    	<i class="fa fa-angle-down"></i>

	</a>

	<ul class="dropdown-menu">

		<!--li><a href="<?php //echo $this->url(array(), 'restaurant-admin-profile') ?>"><i class="fa fa-user"></i> <?php //echo $this->translate('My Profile') ?></a></li>

		<li><a href=""><i class="fa fa-envelope"></i> <?php //echo $this->translate('My Inbox') ?></a></li>

        <li class="divider"></li>

		<li><a href="javascript:;" id="trigger_fullscreen"><i class="fa fa-move"></i> <?php //echo $this->translate('Full Screen') ?></a></li>

		<!<li><a href="extra_lock.html"><i class="fa fa-lock"></i> Lock Screen</a></li> -->
       
		<li><a href="<?php echo $this->url(array(), 'restaurant-admin-signout', true) ?>"><i class="fa fa-key"></i> <?php echo $this->translate('Sign Out') ?></a></li>

	</ul>

</li>

<!-- END USER LOGIN DROPDOWN -->