

<?php if ($this->pageCount): ?>

<nav>

    

  <ul class="pagination">

    <li>

       <?php if (isset($this->previous)): ?>

        <a href="<?php echo $this->url() ?>?page=<?= $this->previous ?>" aria-label="Previous">

          &laquo;

        </a> 

       <?php else: ?>

       <span aria-hidden="true">&laquo;</span>

     <?php endif; ?>

    </li>

   <?php foreach ($this->pagesInRange as $page): ?>

  <?php if ($page != $this->current): ?>

    <li><a href="<?php echo $this->url() ?>?page=<?= $page ?>">

        <?php echo $page; ?>

        </a>  </li>

  <?php else: ?>

    <li><a href="#" class="not-active"><?php echo $page; ?></a></li> 

  <?php endif; ?>

<?php endforeach; ?>

    

    <li>

                <?php if (isset($this->next)): ?>

          <a href="<?php echo $this->url() ?>?page=<?php echo $this->next ?>" aria-label="Next">

           &raquo;

          </a>

        <?php else: ?>

           <span aria-hidden="true">&raquo;</span>

        <?php endif; ?>

      

    </li>

  </ul>

</nav>

<?php endif; ?>