<!-- BEGIN SIDEBAR MENU -->        

<ul class="page-sidebar-menu">

	<li>

		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

		<div class="sidebar-toggler hidden-phone"></div>

		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->

        <br />

	</li>

	<li class="start <?php if($this->sidebar_menu_item == 'dashboard'): ?>active<?php endif; ?> ">

		<a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>">

            <i class="fa fa-home"></i> 

            <span class="title"><?php echo $this->translate('Dashboard') ?></span>

            <span class="selected"></span>

		</a>

	</li>

<!--     <li class="<?php if($this->sidebar_menu_item == 'orders'): ?>active<?php endif; ?>"> 

        <a href="<?php echo $this->url(array(), 'restaurant-admin-Orders', true) ?>">

            <i class="fa fa-copy"></i>

            <span class="title"> <?php echo $this->translate('Orders') ?></span>

        </a>

    </li> -->
	<li class="<?php if($this->sidebar_menu_item == 'mealcategory'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-mealcategory', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Manage Produkt Categorie') ?></span><!--Manage Product Categories-->
        </a>
	 </li>
	 <li class="<?php if($this->sidebar_menu_item == 'managemeals'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-managemeals', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Product management') ?></span><!--Product Management-->
        </a>
     </li>
    <!--li class="<?php if($this->sidebar_menu_item == 'settings'): ?>active<?php endif; ?>">

        <a href="<?php echo $this->url(array(), 'restaurant-admin-settings', true) ?>">

            <i class="fa fa-cogs"></i>

            <span class="title"><?php echo $this->translate('Shop Settings') ?></span>

        </a>

    </li-->

    <?php if($this->getHelper('RestaurantHelper')->Meal_Editing_Check()): ?>

    <!--li class="<?php if($this->sidebar_menu_item == 'managemeals'): ?>active<?php endif; ?>">

        <a href="<?php echo $this->url(array(), 'restaurant-admin-managemeals') ?>">

            <i class="fa fa-cutlery"></i>

            <span class="title"><?php echo $this->translate('Manage Meals') ?></span>

        </a>

    </li-->
	 
   
     <!--  <li class="<?php if($this->sidebar_menu_item == 'crust'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-CrustSouce-crusts', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Manage Extras') ?></span>
        </a>
    </li>
     <li class="<?php if($this->sidebar_menu_item == 'coupons'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-coupons', true) ?>">
           <i class="fa fa-meh-o"></i>  
            <span class="title"><?php echo $this->translate('Manage Coupons') ?></span>
        </a>
    </li>
    </li>
       <li class="<?php if($this->sidebar_menu_item == 'bulkoffer'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-bulkoffer', true) ?>">
           <i class="fa fa-envelope-o"></i>  
            <span class="title"><?php echo $this->translate('Bulk Offers Panel') ?></span>
        </a>
    </li>-->

    <?php endif; ?>


    <!--li class="">

        <a href="<?php echo $this->url(array(), 'restaurant-admin-managepromotions', true) ?>">

            <i class="fa fa-bullhorn"></i>

            <span class="title"><?php echo $this->translate('Promotions') ?></span>

        </a>

    </li-->

    <!--li class="<?php  if($this->sidebar_menu_item=='Messages list'): ?> active <?php  endif;  ?>">

        <a href="<?php echo $this->url(array(), 'restaurant-Message', true) ?> ">

            <i class="fa fa-envelope"></i>

            <span class="title"><?php echo $this->translate('Message Centre') ?></span>

        </a>

    </li-->
 <!--     <li class="<?php  if($this->sidebar_menu_item=='deliveryboy'): ?> active <?php  endif;  ?>">
        <a href="<?php  echo $this->url(array(), 'restaurant-admin-deliveryboy', true) ?>">
           <i class="glyphicon glyphicon-plane"></i>
            <span class="title"><?php  echo $this->translate('Deliveryboy Management') ?></span>
        </a>
    </li>
 -->
     <!--<li class="<?php  if($this->sidebar_menu_item=='Reports'): ?> active <?php  endif;  ?>">
       <a href="javascript:;">
            <i class="fa fa-signal"></i>
            <span class="title"><?php echo $this->translate('Report') ?></span>
            <span class="arrow"></span>
        </a>
		 <ul class="sub-menu">
		<li  class="<?php if($this->sidebar_submenu_item == 'mealreport'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-Report', true) ?>">

            <i class="fa fa-edit"></i>

            <span class="title"><?php echo $this->translate('Report Centre') ?></span>

        </a></li>
		    <li  class="<?php if($this->sidebar_submenu_item == 'reportper'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'restaurant-Report-reportper',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Report Filter') ?></span> 
             </a>
            </li>
			<li  class="<?php if($this->sidebar_submenu_item == 'delivery'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'restaurant-Report-deliverreport',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Delivery Report') ?></span>   
             </a>
            </li>
			<li  class="<?php if($this->sidebar_submenu_item == 'Customerhistory'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'restaurant-Report-Customerhistory',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Customer Order History') ?></span> 
             </a>
            </li>
			</ul>
			

    </li>-->
<!--       <li class="<?php  if($this->sidebar_menu_item=='feedback'): ?> active <?php  endif;  ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-feedback', true) ?>">
           <i class="fa fa-comments"></i>
            <span class="title"><?php echo $this->translate('Feedbacks') ?></span>
        </a>
    </li> -->
    <li class="<?php  if($this->sidebar_menu_item=='Settings'): ?> active <?php  endif;  ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-setting', true) ?>">
           <i class="fa fa-cog"></i>
            <span class="title"><?php echo $this->translate('Instellingen') ?></span><!--Settings-->
        </a>
    </li>
     <li class="<?php  if($this->sidebar_menu_item=='delivery'): ?> active <?php  endif;  ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-delivery', true) ?>">
           <i class="fa fa-cog"></i>
            <span class="title"><?php echo $this->translate('Bezorg gebied') ?></span><!--Delivery Area-->
        </a>
    </li>


    
     <!--li class="<?php  if($this->sidebar_menu_item=='location'): ?> active <?php  endif;  ?>">
        <a href="<?php echo $this->url(array(), 'restaurant-admin-location', true) ?>">
           <i class="fa fa-map-marker"></i>
            <span class="title"><?php echo $this->translate('Location') ?></span>
        </a>
    </li-->

     <!--li class="<?php  if($this->sidebar_menu_item =='Meals Report'): ?> active <?php  endif;  ?>">

        <a href="<?php echo $this->url(array(), 'restaurant-Report-mealreport', true) ?>">

            <i class="fa fa-edit"></i>

            <span class="title"><?php echo $this->translate(' Meal Sales Report'); ?></span>

        </a>

    </li-->

<!--      <li class="<?php  if($this->sidebar_menu_item =='Order Management'): ?> active <?php  endif;  ?>">

        <a href="<?php echo $this->url(array(), 'restaurant-Report-mealreport', true) ?>">

            <i class="fa fa-edit"></i>

            <span class="title"><?php echo $this->translate('Order Management'); ?></span>

        </a>

    </li> -->
       <li class="<?php if($this->sidebar_menu_item == 'orders'): ?>active<?php endif; ?>"> 

        <a href="<?php echo $this->url(array(), 'restaurant-admin-Orders', true) ?>">

            <i class="fa fa-copy"></i>

            <span class="title"> <?php echo $this->translate('Orders') ?></span>

        </a>

    </li> 
           <li class="<?php if($this->sidebar_menu_item == 'invoice'): ?>active<?php endif; ?>"> 

        <a href="<?php echo $this->url(array(), 'restaurant-admin-invoice', true) ?>">

            <i class="fa fa-copy"></i>

            <span class="title"> <?php echo $this->translate('Invoice Section') ?></span>

        </a>

    </li> 
</ul>

<!-- END SIDEBAR MENU -->