body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/1.38 'Open Sans';
  color: rgb(93, 145, 9);
}

.foodimage {
    background-color: #ffffff;
    border: 1px solid rgb(221, 221, 221);
    clear: both;
    float: left;
    height: 159px;
    margin: 8px 0 0 8px;
    position: relative;
    width: 195px;
    z-index: 3;
}
.foodimage .image {
  float: left;
  width: 653px;
  margin: 11px 0 0 1.82021%;
}

.footer {
    background-image: url("../images/bg+footer.jpg");
    background-position: center bottom;
    background-repeat: no-repeat;
    background-size: auto auto;
    border-top: 1px solid rgb(221, 221, 221);
    clear: both;
    float: left;
    height: auto;
    margin-top: 8px;
    width: 100%;
}
.footer .text {
  display: block;
  width: 11.185308848%;
  min-height: 30px;
  font-size: 0.8em;
}

.header {
    border-bottom: 1px solid #dddddd;
    float: left;
    height: auto;
    margin: 0;
    width: 100%;
}
.image_m {
  display: block;
  height: 100%;
  overflow: hidden;
}
.image{
  display: block;
  height: auto;
  overflow: hidden;
}
.main-container {
  width: 600px;
  height: auto;
  margin: 31px auto 0;
  border: 1px solid #dddddd;
  background-color: rgb(255, 255, 255);
}

.price {
    background-color: rgb(253, 102, 2);
    border-radius: 10px;
    clear: both;
    float: left;
    height: auto;
    margin-top: 0;
    padding: 6px 12px;
    position: relative;
    text-align: center;
    width: auto;
    z-index: 6;
}
.price .text {
    color: rgb(255, 255, 255);
    font-size: 18px;
    font-weight: 700;
    margin: 0;
}
.right {
    float: left;
    height: auto;
    margin: 8px 0 0 15px;
    position: relative;
    width: 62.379%;
    z-index: 10;
}.shopnow {
  display: block;
  float: left;
  clear: both;
  width: 284px;
  height: 67px;
  margin: 8px 0 0 0.08575%;
  background: url('../images/bg-button.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
}

.shopnow .text {
  margin: 14px 0 0 16.43926%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
}

.title {
  margin: 0 auto;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
  color: rgb(98, 153, 10);
}

.image-2 {
  float: right;
  width: 130px;
  margin:2px 39.4812% 46px 0;
}

.image-3 {
  float: left;
  clear: both;
  width: 30px;
  margin: -60px 0 0 80.71656%;
}

.text-1 {
    color: rgb(98, 153, 10);
    font-size: 23px;
    font-weight: 300;
    margin-top: 0;
    min-height: 38px;
    position: relative;
    width: 93.9024%;
    z-index: 4;
}
.text-3 {
    clear: both;
    color: rgb(93, 145, 9);
    font-size: 16px;
    margin: 8px 0 0 0.08575%;
    min-height: 66px;
    width: 97.1585%;
}
.text-5 {
  margin:2px 0 0 2.262%;
  color: rgb(98, 153, 10);
}

.text-6 {
  margin: -89px 0 0 83.7228714524%;
  color: rgb(59, 89, 152);
}
.GN {
     float: none !important; 
     margin: auto;  
     text-align: center; 
     top: 0;  
     width: 600px;
}
.share-setting-postion {left: 532px;position: absolute;top: 15px;}