<!-- BEGIN PAGE HEADER-->
 <?php 
                                                         $weekdays  = array('First week','Second week','Third Week','Last Week');
                                                         $start = 0;
                                                         foreach($this->data as $week):
                                                                                       
                                                          if(empty($week->sum))
                                                           {

                                                                  $sum =0 ;    
                                                           }
                                                           else
                                                           {

                                                            $sum = $week->sum;    

                                                            }
                                                                  $week_graph[]= $sum;


                                                                                       $start++;
                                                                                       endforeach; ?>

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Dashboard') ?> <small><?php echo $this->translate('statistics and more') ?></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>Dashboard</li>
			<!--li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<a href = "<?php echo $this->url(array(), 'admin-Report', true) ?>">
			<div class="details">
				<div class="number"> <span class="glyphicon glyphicon-euro"></span> <?php echo  number_format($this->total_profit, 2); ?><!-- TODO: calculate gross income --></div>
				<div class="desc"><?php echo $this->translate('Total Profit') ?></div>
			</div>
			</a>
			                 
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat purple">
			<div class="visual">
				<i class="fa  fa-envelope1"></i>
			</div>
			<div class="details">
				<div class="number"><?php echo   $this->Total_Delivery_Centers  ?> <!-- TODO: calculate new messages --></div>
				<a href = "<?php echo $this->url(array(), 'admin-restaurant', true) ?>"><div class="desc"><?php echo $this->translate('Total Delivery Centers') ?></div></a>
			</div>
			              
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			
			<div class="details">
				<div class="number"><?= $this->total_number_new_order?> <!-- TODO: calculate new orders --></div>
				<div class="desc"><?php echo $this->translate('New Orders') ?></div>
			</div>
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			                
		</div>
	</div>
	<!--div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">5 <!-- TODO: calculate total restaurant --><!--/div>
				<div class="desc"><?php echo $this->translate('New Feedbacks') ?></div>
			</div>
			                
		</div>
	</div-->
    
    
    
    	<div class="portlet box red">
								<div class="portlet-title">
									<div class="caption"><i class="icon-bullhorn"></i>Weekly Order Report<span style="margin-left: 600px !important;">	</div>
									<div class="tools">
										<div class="btn-group pull-right" data-toggle="buttons-radio">
											
										</div>
									</div>
								</div>
								<div class="portlet-body">
									<div id="graph"></div>
                                                                        <script id="code" >
                                                                                    var decimal_data = [];
                                                                                    var weeks        = ['First week','Second week','Third Week','Last Week'];
                                                                                    var data         = [<?php echo implode(',',$week_graph) ?>]; 
                                                                                    var yaxis        = 10;
                                                                                    
                                                                                    var decimal_data = [];
                                                                                    for (var x = 0; x <4 ; x += 1) {
                                                                                      decimal_data.push({
                                                                                        x: weeks[x],
                                                                                        y: data[x]
                                                                                      });
                                                                                    }
                                                                                    window.m = Morris.Line({
                                                                                      element: 'graph',
                                                                                      data: decimal_data,
                                                                                      xkey: 'x',
                                                                                      ykeys: ['y'],
                                                                                      labels: ['Total Sale'],
                                                                                      parseTime: false
                                                                                     
                                                                                    });
                                                                        </script>	
										
									
								</div>
							</div>	
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>


<script>
    // for sending weekly array data to flot graph
    
     function datavalues()
				 
    {

                 $array=[<?php echo $data;?>];
				
                  


                    return $array;


	}
                  
				 function weekly_data()
				 {

                              $array=[[1,],[2,],[3,],[4,]];
				
                  


                              return $array;


					 }
    </script>