<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('My Profile') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
            <li><a href="#"><i class="fa fa-user"></i> <?php echo $this->translate('My Profile') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="note note-info">
    <h3><?php echo $this->translate('Modify your profile data') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Full Name') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <?php
                                    echo $this->formText(
                                        'user_name',
                                        $this->request->user_name,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => $this->translate('Enter your full name here'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Email Address') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
                                <?php
                                    echo $this->formText(
                                        'user_email',
                                        $this->request->user_email,
                                        array(
                                            'class' => 'form-control',
                                            'required' => 'required',
                                            'readonly' => 'readonly'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <br />
                    <h4><?php echo $this->translate('Specify password, only if you wish to modify') ?>:</h4>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Password') ?>:</label>
                        <div class="col-sm-10 col-md-3">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <?php
                                    echo $this->formPassword(
                                        'user_password',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                            'maxlength' => 12
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Confirm Password') ?>:</label>
                        <div class="col-sm-10 col-md-3">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                                <?php
                                    echo $this->formPassword(
                                        'user_re_password',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                            'maxlength' => 12
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Profile') ?></button>
        </form>
    </div>
</div>