<!-- BEGIN PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Add Meal Category') ?>
            
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'admin-mealcategory', true) ?>"><?php echo $this->translate('list of  Meal Categories ') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Category ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errormessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Data is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                     <?php  if(isset($this->data[0]['category_id'])):

                     ?>

                     <input type="hidden"  name="id" 
                     value="<?php echo $this->data[0]['category_id'] ?>"/>
                     <?php 
                             endif;
                     ?>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Category Name') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'category_name',
                                        (isset($this->data[0]['category_name'])?$this->data[0]['category_name']:$this->request->category_name),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'name',
                                            'placeholder' => $this->translate('Enter category name'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
					 <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Category Name In Dutch') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'category_name_ar',
                                        (isset($this->data[0]['category_name_ar'])?$this->data[0]['category_name_ar']:$this->request->category_name_ar),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'name',
                                            'placeholder' => $this->translate('Enter category name in Dutch'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Status') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                               <span class="input-group-addon"><!--i class="fa fa-try"></i--></span>
                                <?php
                                        echo $this->formSelect(
                                            'is_enabled',
                                              (isset($this->data[0]['is_enabled'])?$this->data[0]['is_enabled']:$this->request->is_enabled),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                   <!--  <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate(' Select Crust Status') ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                 <span class="input-group-addon"><!--i class="fa fa-try"></i--</span>
                               <?php
                                        echo $this->formSelect(
                                            'crust_on',
                                              (isset($this->data[0]['crust_on'])?$this->data[0]['crust_on']:$this->request->crust_on),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Select Souce Status'); ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i--</span>
                                  <?php
                                        echo $this->formSelect(
                                            'souce_on',
                                              (isset($this->data[0]['souce_on'])?$this->data[0]['souce_on']:$this->request->souce_on),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      -->
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
        </form>
    </div>
</div>

