
<?php 


if($this->errormessage!= ""):
?>
<div class="note note-success">

<h4 class="block"><?php echo $this->errormessage; ?></h4>

</div>

<?php 

endif;

?>

<div class="col-md-6 col-sm-6">
					<!-- BEGIN PORTLET-->
					<div class="portlet">
						<div class="portlet-title line">
							<div class="caption"><i class="fa fa-comments"></i>Messages Panel</div>
							<div class="tools">
								<a href="" class="collapse"></a>
								
								
							</div>
						</div>
						<div class="portlet-body" id="chats">
							<div class="scroller" style="height: 435px;" data-always-visible="1" data-rail-visible1="1">
								<ul class="chats" id="myMsg">
								     
							       <?php 
							       
							     
                                     
							       foreach($this->user as $user ){
							      

							       	for($initial=0; $initial<count($user['message']);$initial++)
							       	{

							       		
							       		if($user['username'][$initial]=="Superadmin"){
							       	?>
								  
								  
							        <li class='out'>
										<img class="avatar img-responsive" alt="" src="Resturant/assets/img/defaultpic.png"  />
										<div class="message">
											<span class="arrow"></span>
											<a href="#" class="name"><?php echo "Me"; ?></a>
											<span class="datetime"> <span  class="space" >at</span><?php echo $user['time'][$initial]; ?></span>
											<span class="body">
											<?php echo $user['message'][$initial];  ?>;
											</span>
										</div>
									</li>
									
									 <?php  
							       		}
							       		
									 	else
									 {?>
									 	
									 	<li class="in">
										<img class="avatar img-responsive" alt="" src="Resturant/assets/img/defaultpic.png" />
										<div class="message">
											<span class="arrow"></span>
											<a href="#" class="name"><?php echo $user['username'][$initial]; ?></a>
											<span class="datetime"> <span  class="space">at</span><?php echo $user['time'][$initial]; ?></span>
											<span class="body">
											<?php echo $user['message'][$initial];  ?>;
											</span>
										</div>
									</li>
									 	
									 	
									 	
									<?php  }
									 
							       	 } 
							       }
									//print_r($user);
									?>
									
								</ul>
							</div>
							<div class="chat-form">
								<div class="input-cont"> 
								<?php  echo $this->formText(
                                            'message',
                                            $this->request->message,
                                            array( 'class' => 'form-control','placeholder'=>'Type a message here...',

                                        )
                                           
                                        );  
                                        
                                        ?>
									
								</div>
								
								
																
								<p id="response"></p>
								<div class="btn-cont"> 
									<span class="arrow"></span>
									
									<a  href="" onclick="savemessage();" class="btn blue icn-only"><i class="fa fa-check icon-white"></i></a>
								</div>
							</div>
						</div>
					</div>
					<input type="hidden" value="<?php echo  $this->user_id;?>"  id="user_id"/>
								<input type="hidden" value="<?php echo $this->session->admin->id; ?>" id="superadmin" /> 
					<!-- END PORTLET-->
				</div>
				<script>
				
				function savemessage()
				{
				
					var message=$('#message').val();
					var id= $('#user_id').val();
					var admin_id= $('#superadmin').val();
					if(message == "")
					{

                          alert("please fill some message in box");
                          
                          $('#message').focus();
                          
                          return false;


						}
					else
						{
						
					  var dataString='message='+ message+'&to='+id+'&admin='+admin_id;	
					  //alert(dataString);	
					  			
					   $.ajax({
			                url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'Message', 'action' =>'ajaxmessage'), 'default', true) ?>',
			                type: 'POST',
			                data: dataString,
			              
			                success: function(d){
				                 
                                 // if(d==1)
                                 // {
                                 //alert('your message is sent');

                                   //   }
					                  //alert(d);
			                    $('#myMsg').html(d);
			                } 
			            });

						}

					

					}
				
				
				</script>