/*
 * Style tweaks
 * --------------------------------------------------
 */
html,
body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}
body {
 /* padding-top: 70px;*/
}
footer {
padding: 30px 0 0;
}

/*
 * Off Canvas
 * --------------------------------------------------
 */
@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all .25s ease-out;
       -moz-transition: all .25s ease-out;
            transition: all .25s ease-out;
  }

  .row-offcanvas-right {
    right: 0;
  }

  .row-offcanvas-left {
    left: 0;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }

	.lorem {
    color: rgb(128, 42, 0);
    font-size: 11px !important;

}
.puan { margin: 0;}
.heading_2 { font-size: 18px;}
.heading_4 {font-size: 18px;}
.coca-cola {font-size: 18px;}
.adana_bg { font-size: 22px;}
.popular_link {
    background: url("../images/folk_img.png") no-repeat scroll 5px top rgb(51, 51, 51);
    border-radius: 4px;
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    padding: 5px 0 4px 48px;
}
.footer_input {
    border: medium none;
    border-radius: 3px;
    padding: 9px 242px 4px 0;
    width: 100%;
}
.foot_btn {margin: 9px 0 0 1px;}
.social_icon {
    float: left;
}
.eposta { font-size: 16px;}
.service_box {
    background: none repeat scroll 0 0 rgb(128, 42, 0);
    border-radius: 4px;
    width: 99%;
}
.kebaplar {
    background: none repeat scroll 0 0 rgb(12, 7, 5);
    color: rgb(255, 255, 255);
    font-size: 23px;
    opacity: 0.89;
    padding: 9px 34px 24px 8px;
    position: absolute;
    z-index: 100;
}

.small_sizes{ display:block;width: 99%;}
.food_img1{ display:none;}
.srevice_bolgeleri { margin:0;}
.row { margin-top: 0px;}
.gray_box {
    background: none repeat scroll 0 0 rgb(230, 212, 204);

    padding: 0 0 2px;
    width: 100%;
}
.gray_box p {
    color: rgb(115, 115, 115);
    font-size: 12px;
    padding: 6px 0 0 12px;
}
.corbala_img {
    float: left;
    padding: 7px 0 0;
    width: 20%;
}
.box_p { padding:0;}
.gray_box { margin: 44px 0 0;
    padding: 0 0 2px;
    width: 100%;
}
.puan_ver_btn {
    background: url("../images/hand_img.png") no-repeat scroll right top rgb(241, 119, 0);
    border: medium none;
    border-radius: 3px;
    color: rgb(128, 42, 0);
    float: right;
    font-weight: bold;
    height: 33px;
margin: 4px 0 14px !important;
    text-align: left;
    text-decoration: underline;
    width: 123px;
}

*:before, *:after {
    box-sizing: border-box;
}
*:before, *:after {
    box-sizing: border-box;
}
.col-xs-12 {
    width: 100%;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
    float: left;
}
.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
    min-height: 13px;
    padding-left: 4px;
    padding-right: 2px;
    position: relative;
}
.kebaplar_1 {
    background: none repeat scroll 0 0 rgb(12, 7, 5);
    color: rgb(255, 255, 255);
    font-size: 23px;
    opacity: 0.89;
    padding: 9px 34px 24px 8px;
    position: absolute;
    z-index: 100;
}
.corbala_img {
    float: left;
    padding: 7px 0 0;
    width: 20%;
}
.urfa_box_2 {
    background: url("../images/right_arrow.png") no-repeat scroll right center rgba(0, 0, 0, 0);
    border-bottom: 1px solid rgb(232, 217, 209);
    float: left;
    width: 100%;
}
.bizim { font-size: 22px;}
.lorem_ipsum{ font-size: 22px;
}
.adana_bg {
    background: none repeat scroll 0 0 rgb(128, 42, 0);
    color: rgb(255, 255, 255);
    font-size: 24px;
    font-weight: bold;
    left: 1em;
    opacity: 0.89;
    padding: 3px 0 17px 6px;
    position: absolute;
    top: 3em;
    z-index: 100;
}
.kebap_box_homepage_left{ border-bottom: 1px solid rgb(255, 255, 255);
    margin: 60px 0 0 3px;
    width: 60%;}}


