<div class="modal fade" id="dialog-editaddon" tabindex="-1" role="dialog">
    <form method="post" class="form form-horizontal" action="" onsubmit="return saveAddon()">
        <input type="hidden" name="addon_id" value="<?php echo $this->request->addon_id ?>" />
        <input type="hidden" name="doAction" value="saveaddon" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4><?php echo $this->translate('Edit Meal Addon') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="addon_name"><?php echo $this->translate('Addon Name') ?>:</label>
                        <div class="col-sm-6">
                            <input type="text" required="required" name="eaddon_name" class="form-control" value="<?php echo stripslashes($this->addon->addon_name) ?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="addon_type"><?php echo $this->translate('Addon Type') ?>:</label>
                        <div class="col-sm-6">
                            <?php
                                echo $this->formSelect(
                                    'eaddon_type',
                                    $this->addon->addon_type,
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'multi-choice' => $this->translate('Multi-Choice'),
                                        'single-choice' => $this->translate('Single-Choice')
                                    )
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="addon_choices"><?php echo $this->translate('Choices') ?></label>
                        <div class="col-sm-6">
                            <select id="eaddon_choices" name="eaddon_choices[]" multiple="multiple" class="form-control" style="height: 100px;">
                                <?php $addon_choices = unserialize($this->addon->addon_data); ?>
                                <?php foreach($addon_choices as $entry): ?>
                                    <?php $data = explode(';', $entry); ?>
                                    <option value="<?php echo $entry ?>"><?php echo $data[0].' ( ₺'.$data[1].' )'; ?></option>
                                <?php endforeach; ?>
                            </select>
                            <div class="text-right" style="margin-top: 5px;">
                                <button type="button" class="btn btn-sm green" onclick="addeAddonChoice()"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-sm red" onclick="removeeAddonChoice()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
                    <button type="button" data-dismiss="modal" class="btn red"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#dialog-editaddon').on('hidden.bs.modal', function(){
            $('#dialog-editaddon').remove();
        });
        function saveAddon(){
            var btnSubmit = $('#dialog-editaddon button[type=submit]').eq(0);
            $('#eaddon_choices option').attr('selected', 'selected');
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'meals', 'action' => 'ajaxmealaddons'), 'default', true) ?>',
                type: 'post',
                dataType: 'json',
                data: $('#dialog-editaddon form').serialize(),
                beforeSend: function(){
                    $(btnSubmit).button('loading');
                },
                success: function(d){
                    $(btnSubmit).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Addon saved successfully.') ?>', function(){
                            $('#dialog-editaddon').modal('hide');
                            reloadDialog('manageaddons', <?php echo $this->request->meal_id ?>); 
                        });
                    }
                },
                error: function(){
                    $(btnSubmit).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                } 
            });
            return false;
        }
        function addeAddonChoice(){
            var el = $('#eaddon_choices').get(0);
            bootbox.prompt('<?php echo $this->translate('Enter Addon Name') ?>:', function(result){
                if(result != null){
                    var addonName = result;
                    bootbox.prompt('<?php echo $this->translate('Enter Addon Price') ?>:', function(result){
                        if(result != null){
                            var addonPrice = result;
                            $(el).append('<option value="' + addonName + ';' + addonPrice + '">' + addonName + ' ( ₺' + addonPrice + ' )</option>');
                        } 
                    });
                } 
            });
        }
        function removeeAddonChoice(){
            var el = $('#eaddon_choices').get(0);
            if(el.selectedIndex == -1) return;
            bootbox.confirm('<?php echo $this->translate('Are you sure to remove this choice?') ?>', function(result){
                if(result) el.remove(el.selectedIndex);
            });
        }
    </script>
</div>