<div class="modal fade" id="dialog-manageselections" tabindex="-1" role="dialog" data-backdrop="static">
    <form method="post" action="" onsubmit="return false;" class="form form-horizontal">
        <input type="hidden" name="meal_id" value="<?php echo $this->request->meal_id ?>" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Manage Meal Selections') ?></h4>
                </div>
                <div class="modal-body">
                    <!-- rendering all selections for the meal -->
                    <div class="table-responsive">
                        <table class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th><?php echo $this->translate('Name') ?></th>
                                    <th><?php echo $this->translate('Type') ?></th>
                                    <th><?php echo $this->translate('Choices') ?></th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <?php if(count($this->selections) == 0): ?>
                                <tr>
                                    <td colspan="5" style="text-align: center;"><?php echo $this->translate('No meal selections has been added yet!') ?></td>
                                </tr>
                                <?php else: ?>
                                    <?php foreach($this->selections as $index => $entry): ?>
                                    <tr>
                                        <td><?php echo ($index + 1) ?></td>
                                        <td><?php echo stripslashes($entry->selection_name) ?></td>
                                        <td><?php echo ($entry->selection_type == 'multi-choice' ? $this->translate('Multi-Choice') : $this->translate('Single-Choice')) ?></td>
                                        <td>
                                            <?php $choices = unserialize($entry->selection_data); ?>
                                            <?php foreach($choices as $centry): ?>
                                                <?php $data = explode(';', $centry); ?>
                                                <?php echo $data[0].'( <i class="fa fa-try"></i>'.number_format($data[1], 2, '.', '').' ) | ' ?>
                                            <?php endforeach; ?>
                                        </td>
                                        <td>
                                            <select name="selection-action" onchange="doSelectionAction(this)" data-meal-id="<?php echo $this->request->meal_id ?>" data-meal-selection-id="<?php echo $entry->meal_selection_id ?>">
                                                <option value=""><?php echo $this->translate('-- Action --') ?></option>
                                                <option value="editselection"><?php echo $this->translate('Edit') ?></option>
                                                <option value="deleteselection"><?php echo $this->translate('Delete') ?></option>
                                            </select>
                                        </td>
                                    </tr>
                                    <?php endforeach; ?>
                                <?php endif; ?>
                            </tbody>
                        </table>
                    </div>
                    <button class="btn green" type="button" onclick="$('#box-add-selection').slideDown();"><i class="fa fa-plus"></i> <?php echo $this->translate('Add Selection') ?></button>
                    <div id="box-add-selection" class="well well-sm">
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="selection_name"><?php echo $this->translate('Selection Name') ?>:</label>
                            <div class="col-sm-6">
                                <input type="text" class="form-control" required="required" name="selection_name" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="selection_type"><?php echo $this->translate('Selection Type') ?>:</label>
                            <div class="col-sm-6">
                                <select name="selection_type" class="form-control">
                                    <option value="multi-choice"><?php echo $this->translate('Multi-Choice') ?></option>
                                    <option value="single-choice"><?php echo $this->translate('Single-Choice') ?></option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4" for="selection_choices"><?php echo $this->translate('Choices') ?></label>
                            <div class="col-sm-6">
                                <select id="choices" name="selection_choices[]" class="form-control" multiple="multiple" style="height: 100px;"></select>
                                <div class="text-right" style="margin-top: 5px;">
                                    <button type="button" class="btn btn-sm green" onclick="addChoice()"><i class="fa fa-plus"></i></button>
                                    <button type="button" class="btn btn-sm red" onclick="removeChoice()"><i class="fa fa-minus"></i></button>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-sm-4">&nbsp;</label>
                            <div class="col-sm-6">
                                <button type="button" class="btn green" onclick="addSelection()" data-button-name="add-selection" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Add') ?></button>
                                <button type="button" class="btn red" onclick="$('#box-add-selection').slideUp();"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#box-add-selection').slideUp();
        $('#dialog-manageselections').on('hidden.bs.modal', function(){
            $('#dialog-manageselections').remove();
            location.href = location.href;
        });
        function doSelectionAction(el){
            switch(el.options[el.selectedIndex].value){
                case 'editselection': {
                    $.get(
                        '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'meals', 'action' => 'editmealselection'), 'default', true) ?>',
                        {meal_selection_id: $(el).attr('data-meal-selection-id'), meal_id: $(el).attr('data-meal-id')},
                        function(html){
                            $('body').append(html);
                            $('#dialog-editmealselection').modal('show');
                        },
                        'html'
                    );
                    break;
                }
                case 'deleteselection': {
                    bootbox.confirm('<?php echo $this->translate('Are you sure to delete this meal selection?') ?>', function(result){
                        if(result){
                            $.ajax({
                                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'meals', 'action' => 'ajaxdeletemealselection'), 'default', true)  ?>',
                                type: 'post',
                                dataType: 'json',
                                data: {meal_selection_id : $(el).attr('data-meal-selection-id')},
                                success: function(d){
                                    bootbox.alert('<?php echo $this->translate('Meal selection deleted successfully') ?>', function(){
                                        reloadDialog('manageselections', <?php echo $this->request->meal_id ?>); 
                                    });
                                },
                                error: function(){
                                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                                }
                            })
                        }
                    });
                    break;
                }
            }
            el.selectedIndex = 0;
        }
        function addChoice(){
            bootbox.prompt('<?php echo $this->translate('Enter Choice:') ?>', function(result){
                if(result != null){
                    var choiceTitle = result;
                    bootbox.prompt('<?php echo $this->translate('Enter choice price:') ?>', function(result){
                        if(result != null){
                            var choicePrice = result;
                            $('#choices').append('<option value="' + choiceTitle + ';' + choicePrice + '">' + choiceTitle + ' ( ₺' + choicePrice + ')</option>');
                        }
                    });
                }
            });
        }
        function removeChoice(){
            if($('#choices').get(0).selectedIndex != -1){
                bootbox.confirm('<?php echo $this->translate('Are you sure to delete this choice?') ?>', function(result){
                    if(result){
                        $('#choices').get(0).remove($('#choices').get(0).selectedIndex);
                    } 
                });
            }
        }
        function addSelection(){
            $('#dialog-manageselections').find('input[name=doAction]').val('addselection');
            var btnSubmit = $('#dialog-manageselections').find('button[data-button-name=add-selection]').eq(0);
            $('#choices option').attr('selected', 'selected');
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'meals', 'action' => 'ajaxaddselection'), 'default', true) ?>',
                type: 'post',
                dataType: 'json',
                data: $('#dialog-manageselections form').serialize(),
                beforeSend: function(){
                    $(btnSubmit).button('loading');
                },
                success: function(d){
                    $(btnSubmit).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Meal selection added successfully') ?>', function(){
                            reloadDialog('manageselections', <?php echo $this->request->meal_id ?>); 
                        });
                    }
                },
                error: function(){
                    $(btnSubmit).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                } 
            });   
        }
    </script>
</div>