<?php echo $this->doctype() ?>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <base href="/" />
	<meta charset="utf-8" />
	<?php echo $this->headTitle() ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<?php echo $this->headMeta() ?>
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
	<!-- END PAGE LEVEL PLUGIN STYLES -->
	<!-- BEGIN THEME STYLES --> 
	<link href="<?php echo APPLICATION_ASSETS; ?>css/style-metronic.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/style.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/plugins.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/pages/tasks.css" rel="stylesheet" type="text/css"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="<?php echo APPLICATION_ASSETS; ?>css/custom.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css">
      <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>plugins/choosen/prism.css">
  <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>plugins/choosen/chosen.css">
  
        <!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->   
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			<!-- BEGIN LOGO -->  
			<a href="/admin/dashboard" class="navbar-brand" href="index.html">
			<!-- <img src="<?php echo APPLICATION_ASSETS; ?>img/small_logo.png" alt="logo" class="img-responsive" />
			 -->
			 thuis.today
			</a>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER --> 
			<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="<?php echo APPLICATION_ASSETS; ?>img/menu-toggler.png" alt="" />
			</a> 
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<ul class="nav navbar-nav pull-right">
				<?php echo $this->render('components/header_notifications.phtml') ?>
				<?php echo  $this->render('components/header_inbox.phtml') ?>
				<?php echo $this->render('components/header_user_dropdown.phtml'); ?>
			</ul>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<?php echo $this->render('components/sidebar.phtml'); ?>
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->               
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
            <?php echo $this->render('components/theme_switcher.phtml'); ?>
            
            <?php echo $this->layout()->content ?>
			
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<!--div class="footer-inner">
			2013 &copy; Metronic by keenthemes.
		</div-->
		<div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<!--[if lt IE 9]>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/respond.min.js"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/excanvas.min.js"></script> 
	<![endif]-->   
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
	
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>   
	<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
	<script src="modules/admin/views/scripts/javascripts/form-components.js" type="text/javascript" ></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>   
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>  
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/flot/jquery.flot.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery.pulsate.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>     
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
	<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>plugins/jquery.sparkline.min.js" type="text/javascript"></script>  
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="<?php echo APPLICATION_ASSETS; ?>scripts/app.js" type="text/javascript"></script>
       
	<script src="<?php echo APPLICATION_ASSETS; ?>scripts/index.js" type="text/javascript"></script>
	<script src="<?php echo APPLICATION_ASSETS; ?>scripts/tasks.js" type="text/javascript"></script>  
	 <script src="<?php echo APPLICATION_ASSETS; ?>/plugins/bootbox/bootbox.min.js"></script>
    <script src="<?php echo APPLICATION_ASSETS; ?>plugins/bootstrap-slider.js"></script>
            <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>css/slider.css">
      <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>morris/prettify.min.css">
   
       <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>/datatable/jquery.dataTables.css">
	 <?php if($this->request->getActionName() == 'dashboard' and $this->request->getControllerName() == 'main'):?>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
         <script src="<?php echo APPLICATION_ASSETS; ?>scripts/custom.js" type="text/javascript"></script>
    <script src="<?php echo APPLICATION_ASSETS; ?>morris/raphael-min.js"></script>
  <script src="<?php echo APPLICATION_ASSETS; ?>morris/morris.js"></script>
  <script src="<?php echo APPLICATION_ASSETS; ?>morris/prettify.min.js"></script>
  <script src="<?php echo APPLICATION_ASSETS; ?>morris/example.js"></script>
  <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>morris/example.css">
 
 

   <?php endif;  ?>  
   <?php if($this->request->getActionName() == 'combineReport'):?>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>

<script>

$(function () {

    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Basic drilldown'
        },
        xAxis: {
            type: 'category'
        },

        legend: {
            enabled: false
        },

        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true
                }
            }
        },

        series: [{
            name: 'Things',
            colorByPoint: true,
            data: datavalues()
        }],
        drilldown: seriesdata()
    });
});

</script>
<?php endif; ?> 
  <!-- END PAGE LEVEL SCRIPTS -->  
	<script>
		jQuery(document).ready(function() {    
		   App.init(); // initlayout and core plugins
		   Index.init();
		   Index.initJQVMAP(); // init index page's custom scripts
		   Index.initCalendar(); // init index page's custom scripts
		   Index.initCharts(); // init index page's custom scripts
		   Index.initChat();
		   Index.initMiniCharts();
		   Index.initDashboardDaterange();
		   Index.initIntro();
		   Tasks.initDashboardWidget();
                  <?php if($this->request->getActionName() == 'dashboard' and $this->request->getControllerName() == 'main'):?>
                   Custom.init();
                 <?php endif;  ?>
		});
	</script>
	<!-- END JAVASCRIPTS -->
    
    <!-- Custom Javascript -->
    <?php if($this->request->getActionName() == 'locations' and $this->request->getControllerName() == 'settings'){ echo $this->render('javascripts/js-admin-settings-locations.phtml'); } ?>
    <?php if($this->request->getActionName() == 'add' or  $this->request->getActionName() == 'edit' and $this->request->getControllerName() == 'restaurant'){ echo $this->render('javascripts/js-admin-restaurant-add.phtml'); 
       ?>
       <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>timeconnect/timemin.css"> 
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
         <script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
       
    <script>
              $('.timings').kendoTimePicker();
             
        </script>

       <?php } ?>
    <?php if($this->request->getActionName() == 'index' and $this->request->getControllerName() == 'restaurant'){ echo $this->render('javascripts/js-admin-restaurants.phtml'); } ?>
    <?php if($this->request->getActionName() == 'index' and $this->request->getControllerName() == 'user'){ echo $this->render('javascripts/js-admin-user.phtml'); } ?>	
     <?php 

     echo $this->render('javascripts/choosen.js.phtml'); 

     ?>
    <style type="text/css">
#flotcontainer {
    width: 600px;
    height: 200px;
    text-align: center;
    margin: 0 auto;
}
</style>
<script>

$(document).ready(function() {
    $('#example').dataTable();
} );

</script>

 <script src="<?php echo APPLICATION_ASSETS; ?>/datatable/jquery.dataTables.js">
 </script>
 
</body>
<!-- END BODY -->
</html>