 <style>
 .slider.slider-horizontal {
    margin: 0 3% !important;
    width: 94% !important;
}
      </style>
  <div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Delivery Area Management') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-delivery', true) ?>"><?php echo $this->translate('Delivery Area Management') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#"><i class="fa fa-plus"></i> <?php echo $this->translate(Add/Edit) ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate('Delivery Area and Postcode is successfully saved') ?>.</h4>
            <p>
               
            </p>
        </div>
        <?php else: ?>
        <div class="note note-info">
            <h3><?php echo $this->translate($this->event.'Delivery Area to the system'); ?></h3>
           
        </div>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errormessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Delivery Area Add/Edit'); ?>:</h3>
                    <hr />   
                      <div class="form-group">
                        <label for="res_description" class="control-label col-md-2">*<?php echo $this->translate('Area Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-globe"></i></span>
                              
                             <?php
                                        echo $this->formText(
                                            'area_name',
                                            $this->area_id,
                                            array( 'class' => 'form-control' , 'id'=>'area' , 'required'=>'required'),
                                            $this->area
                                        );
                                    ?>
                        </div>
                    </div>
                    </div>
                 <div class="form-group">
                        <label for="res_description" class="control-label col-md-2">*<?php echo $this->translate('Post Code'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-search" aria-hidden="true"></i></span>
                              
                             <?php
                                        echo $this->formText(
                                            'post_code',
                                            $this->area_id,
                                            array( 'class' => 'form-control' , 'id'=>'area_name' , 'required'=>'required'),
                                            $this->area
                                        );
                                    ?>
                        </div>
                    </div>
                    </div>
                   
                  
                </div>
            </div>
            <div class="portlet solid light-grey">
               
                  
                
                    </div>
                </div>
            </div>
          
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Area'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>
<script>

    jQuery(document).ready(function()
    {
       $('#ages').slider()
       .on('slide', function(ev){
          
        $('#rangleagefirst').html(ev.value[0]); 
        $('#rangleagelast').html(ev.value[1]); 
        $('#agesrange').val(ev.value);
  });
        $('#money').slider().on('slide', function(ev){
        $('#moneyrange').val(ev.value);
        $('#moneyshow').html(ev.value);
  });
         $('#expirary').datepicker({ dateFormat:'yy-mm-dd'});
    });
   
    </script>