<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-meh-o"></i>  <?php echo $this->translate('Delivery  Area'); ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
               <a href="<?php echo $this->url(array(), 'restaurant-admin-delivery-addedit', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add Area'); ?></span></a>
            </li>
            <li>
                <!--<i class="fa fa-home"></i>-->
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-delivery', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Delivery Area'); ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
    <!-- Filters -->


    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php if($this->count > 0) { ?> id="example" <?php } ?>>
            
                <thead>
                    <tr>
                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>          
                         <th class="text-center"><?php echo $this->translate('Area Name'); ?></th>
                         <th class="text-center"><?php echo $this->translate('Post Code'); ?></th>
                         <th class="text-center"><?php echo $this->translate('Action'); ?></th>                       
                    </tr>
                </thead>
                <tbody>
                    <?php  if($this->count == 0): ?>
                    <tr>
                        <td colspan="5" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No Area found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->count > 0): ?>
                        <?php foreach($this->area as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->area_id, array('id' => 'selectedcheckbox-'.$entry->area_id, 'class' => 'checkboxes')) ?></td>
                             <td > <?php echo $this->escape(stripslashes($entry->area_name)) ?></td>
                             <td > <?php echo $this->escape(stripslashes($entry->post_code)) ?></td>
                             <td > <!-- <a href="<?php echo $this->url(array(), 'restaurant-admin-delivery-addedit', true); ?>?id=<?php echo $entry->id; ?>">Edit</a>/ -->
                               <a href="<?php echo $this->url(array(), 'restaurant-admin-delivery-delete', true); ?>?id=<?php echo $entry->area_id; ?>">Delete</a></td>
                       
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
             
            </table>
                     <div class="col-sm-10">
                            <div class="row-fluid">
                                <div class="col-sm-3">
                  <div class="form-group">
                        
                  
                        
                        
                    </div>
                    </div>
                    </div> </div>
        </div>
    </div>
</form>    

<script>

function get_city()
 {
    var country_id = $('#country').val();
   
     $.ajax({
       url: 'restaurant/delivery/getcity',
       type: 'POST', 
       data:{country:country_id},
       success: function(data){
          
          $('#city').html(data);


       }
     });
 }


  function get_area()
 {
    var country_id = $('#country').val();
    var city_id = $('#city').val();
     $.ajax({
       url: 'restaurant/delivery/getarea',
       type: 'POST', 
       data:{country:country_id, city: city_id },
       success: function(data){
          
          var numbers = data.split(',');

             for(var i = 0; i < numbers.length; i++)
              {
               
              $("#uniform-selectedcheckbox-"+numbers[i]).find('span').addClass('checked');
     
              }
       }
     });
 }
</script>