<div class="modal fade" id="dialog-editmealselection" tabindex="-1" role="dialog">
    <form method="post" onsubmit="return false;" class="form form-horizontal">
        <input type="hidden" name="meal_selection_id" value="<?php echo $this->request->meal_selection_id ?>" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Edit Product Selection') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="selection_name"><?php echo $this->translate('Selection Name') ?>:</label>
                        <div class="col-sm-6">
                            <input type="text" class="form-control" required="required" name="selection_name" value="<?php echo stripslashes($this->selection->selection_name) ?>" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="selection_type"><?php echo $this->translate('Selection Type') ?>:</label>
                        <div class="col-sm-6">
                            <?php
                                echo $this->formSelect(
                                    'selection_type',
                                    $this->selection->selection_type,
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'multi-choice' => $this->translate('Multi-Choice'),
                                        'single-choice' => $this->translate('Single-Choice')
                                    )
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="selection_choices"><?php echo $this->translate('Choices') ?></label>
                        <div class="col-sm-6">
                            <select id="echoices" name="selection_choices[]" class="form-control" multiple="multiple" style="height: 100px;">
                                <?php 
                                    $choices = unserialize($this->selection->selection_data);
                                    foreach($choices as $entry):
                                ?>
                                <option value="<?php echo $entry ?>"><?php $data = explode(';', $entry); echo $data[0].'( ₺'.$data[1].' )' ?></option>
                                <?php
                                    endforeach;
                                ?>
                            </select>
                            <div class="text-right" style="margin-top: 5px;">
                                <button type="button" class="btn btn-sm green" onclick="addeChoice()"><i class="fa fa-plus"></i></button>
                                <button type="button" class="btn btn-sm red" onclick="removeeChoice()"><i class="fa fa-minus"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn green" onclick="saveSelection(this)" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#dialog-editmealselection').on('hidden.bs.modal', function(){
            $('#dialog-editmealselection').remove(); 
        });
        function saveSelection(el){
            $('#echoices option').attr('selected', 'selected');
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'meals', 'action' => 'ajaxsaveselection'), 'default', true) ?>',
                type: 'post',
                data: $('#dialog-editmealselection form').serialize(),
                dataType: 'json',
                beforeSend: function(){
                    $(el).button('loading');
                },
                success: function(d){
                    $(el).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Product selection saved successfully.') ?>', function(){
                            $('#dialog-editmealselection').modal('hide');
                            reloadDialog('manageselections', <?php echo $this->request->meal_id ?>); 
                        });
                    }
                },
                error: function(){
                    $(el).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                } 
            });
        }
        function addeChoice(){
            bootbox.prompt('<?php echo $this->translate('Enter Choice:') ?>', function(result){
                if(result != null){
                    var choiceTitle = result;
                    bootbox.prompt('<?php echo $this->translate('Enter choice price:') ?>', function(result){
                        if(result != null){
                            var choicePrice = result;
                            $('#echoices').append('<option value="' + choiceTitle + ';' + choicePrice + '">' + choiceTitle + ' ( ₺' + choicePrice + ')</option>');
                        }
                    });
                }
            });
        }
        function removeeChoice(){
            if($('#echoices').get(0).selectedIndex != -1){
                bootbox.confirm('<?php echo $this->translate('Are you sure to delete this choice?') ?>', function(result){
                    if(result){
                        $('#echoices').get(0).remove($('#echoices').get(0).selectedIndex);
                    } 
                });
            }
        }
    </script>
</div>