<div class="modal fade" id="dialog-editmeal" tabindex="-1" role="dialog" data-backdrop="static">
    <form method="post" class="form form-horizontal" action="" onsubmit="return saveMeal()">
        <input type="hidden" name="meal_id" value="<?php echo $this->meal->meal_id ?>" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Edit Meal') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealcategory">*<?php echo $this->translate('Select Category') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formSelect(
                                    'emealcategory',
                                    $this->meal->category_id,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                    ),
                                    $this->mealscategories
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealname">*<?php echo $this->translate('Item Name') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formText(
                                    'emealname',
                                    stripslashes($this->meal->meal_name),
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )   
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealdescription"><?php echo $this->translate('Meal Description') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formTextarea(
                                    'emealdescription',
                                    stripslashes($this->meal->meal_description),
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;'
                                    )
                                )
                            ?>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Select yes if Pizza') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                               
                               


                                    <?php
                                echo $this->formSelect(
                                    'pizzaselect',
                                    ($this->meal->pizza_prices!=''?'yes':'no'),
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'onchange' =>'check_if_Pizaa(this.value)'
                                        
                                    ),
                                    array('no'=>'Select one option ','yes'=>'yes','no'=>'no')
                                )
                            ?>

 
                                
                                 
                            </div>
                        </div>
                    </div>
                    
                    <?php  
                   
                    $pizzadata = $this->getHelper('RestaurantHelper')->Get_Pizza_Prices($this->meal->pizza_prices) ?>
                    <div id="mealsizepi" style="<?php if($this->meal->pizza_prices==null): echo 'display:none'; else: endif; ?>">
                       <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Small Size Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->SAR</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                       number_format($pizzadata['small'], 2, '.', ''),
                                        array(
                                            'class' => 'form-control',
                                             'id'    =>'small',
                                             'onkeyup'=>'makemainprisesame(this.value)'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Medium Size  Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->SAR</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                       number_format($pizzadata['medium'], 2, '.', ''),
                                        array(
                                            'class' => 'form-control',
                                            'id'    =>'medium',
                                            
                                            
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>   <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Large Size Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->SAR</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                         number_format($pizzadata['large'], 2, '.', ''), 
                                        array(
                                            'class' => 'form-control',
                                            'id'    =>'large'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                    </div>
                    
                    
                    <div class="form-group"  id="mealpricedi" style="<?php if($this->meal->pizza_prices!=''): echo'display:none'; else: endif; ?>">
                        <label class="control-label col-sm-3" for="mealprice">*<?php echo $this->translate('Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->SAR </span>
                                <?php
                                    echo $this->formText(
                                        'emealprice',
                                        number_format($this->meal->meal_price, 2, '.', ''),
                                        array(
                                            'class' => 'form-control',
                                            'required' => 'required',
                                            'id'       =>'mealpric'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealactive"><?php echo $this->translate('Activate') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formRadio(
                                    'emealactive',
                                    $this->meal->is_active,
                                    null,
                                    array(
                                        $this->translate('No, not now'),
                                        $this->translate('Yes, active now')
                                    ),
                                    '&nbsp;&nbsp;&nbsp;'
                                );
                            ?>
                            <p>
                                <small><?php echo $this->translate('If activated now, meal will be live on the site.') ?></small>
                            </p>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-3" for="mealactive"><?php echo $this->translate('Meal Pic') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                            
                                echo $this->formFile(
                                    'mealpic',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        
                                        'id'       =>'mealpic'
                                    ),
                                    $this->mealpic
                                );
                            ?>
                            <p>
                                <small><?php echo $this->translate('If activated now, meal will be live on the site.') ?></small>
                            </p>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealactive"><?php echo $this->translate('Activate') ?>:</label>
                        <div class="col-sm-8">
                           <img src="<?php echo UPLOAD_IMAGE.stripslashes(($this->meal->meal_image!=null? $this->meal->meal_image:'photo_not_available.png')) ?>" width="200px" height="200px"/> 
                        </div>
                    </div>
                    
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
    function saveMeal(){
        bootbox.confirm('<?php echo $this->translate('Are you sure to save modification?') ?>', function(result){
            if(result){
                var btnSubmit = $('#dialog-editmeal button[type=submit]').eq(0);
                var data = new FormData($('#dialog-editmeal').find('form')[0]);
                $.ajax({
                    url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxsavemeal'), 'default', true) ?>',
                    type: 'post',
                    dataType: 'json',
                    processData: false,
                    contentType: false,
                    data: data,
                    beforeSend: function(){
                        $(btnSubmit).button('loading');
                    },
                    success: function(d){
                        $(btnSubmit).button('reset');
                        if(d.error){
                            bootbox.alert(d.errorMessage);
                        }else if(d.success){
                            bootbox.alert('<?php echo $this->translate('Edit details saved successfully') ?>', function(){
                                location.href = location.href;
                            });
                        }
                    },
                    error: function(){
                        $(btnSubmit).button('reset');
                        bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                    }  
                });
            } 
        });
        return false;
    }
    $('#dialog-editmeal').on('hidden.bs.modal', function(){
        $('#dialog-editmeal').remove(); 
    });
    
    
    
      function check_if_Pizaa(val)
    {
      
      
       if(val=='yes')
       {
           
        $('#mealsizepi').show('slow');   
        $('#mealpricedi').hide('slow');
       }
       else
       {
           
        $('#mealsizepi').hide('slow');
        $('#mealpricedi').show('slow');
           
       }
       
        
        
        
    }
    /*
    * function to make main price same in meal price as well 
     */
    function makemainprisesame(vale)
    {
        
       
       $('#mealpric').val(vale);
       
    }
</script>
</div>