<div class="fade modal" id="dialog-manageaddons" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Manage Product Addons') ?></h4>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th><?php echo $this->translate('Name') ?></th>
                                <th><?php echo $this->translate('Type') ?></th>
                                <th><?php echo $this->translate('Choices') ?></th>
                                <th>&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                            <?php if(count($this->addons) == 0): ?>
                            <tr>
                                <td colspan="5" style="text-align: center;"><?php echo $this->translate('No addon has been added yet!') ?></td>
                            </tr>
                            <?php else: ?>
                                <?php foreach($this->addons as $index => $entry): ?>
                                <tr <?php if(!$entry->is_active): ?>class="danger"<?php endif; ?>>
                                    <td><?php echo ($index + 1) ?></td>
                                    <td><?php echo stripslashes($entry->addon_name) ?></td>
                                    <td><?php echo ($entry->addon_type == 'multi-choice' ? $this->translate('Multi-Choice') : $this->translate('Single-Choice')) ?></td>
                                    <td>
                                        <?php $choices = unserialize($entry->addon_data); ?>
                                        <?php foreach($choices as $centry): ?>
                                            <?php $data = explode(';', $centry); echo $data[0]. ' ( IQD'.$data[1].' ) | ' ?>
                                        <?php endforeach; ?>
                                    </td>
                                    <td>
                                        <select id="addonaction" onchange="doAddonAction(this)" data-meal-id="<?php echo $this->request->meal_id ?>" data-addon-id="<?php echo $entry->addon_id ?>">
                                            <option value=""><?php echo $this->translate('-- Action --') ?></option>
                                            <option value="editaddon"><?php echo $this->translate('Edit') ?></option>
                                            <?php if($entry->is_active): ?>
                                            <option value="deactivateaddon"><?php echo $this->translate('Deactivate') ?></option>
                                            <?php else: ?>
                                            <option value="activateaddon"><?php echo $this->translate('Activate') ?></option>
                                            <?php endif; ?>
                                            <option value="deleteaddon"><?php echo $this->translate('Delete') ?></option>
                                        </select>
                                    </td>
                                </tr>
                                <?php endforeach; ?>
                            <?php endif; ?>
                        </tbody>
                    </table>
                    <br />
                    <button type="button" onclick="$('#box-add-addon').slideDown()" class="btn green"><i class="fa fa-plus"></i> <?php echo $this->translate('Add New Addon') ?></button>
                    <div id="box-add-addon" class="well well-sm">
                        <form method="post" onsubmit="return addAddon()" class="form form-horizontal">
                            <input type="hidden" name="doAction" value="addaddon" />
                            <input type="hidden" name="meal_id" value="<?php echo $this->request->meal_id ?>" />
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="addon_name"><?php echo $this->translate('Addon Name') ?>:</label>
                                <div class="col-sm-6">
                                    <input type="text" required="required" name="addon_name" class="form-control" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="addon_type"><?php echo $this->translate('Addon Type') ?>:</label>
                                <div class="col-sm-6">
                                    <select name="addon_type" class="form-control">
                                        <option value="multi-choice"><?php echo $this->translate('Multi-Choice') ?></option>
                                        <option value="single-choice"><?php echo $this->translate('Single-Choice') ?></option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="addon_choices"><?php echo $this->translate('Choices') ?></label>
                                <div class="col-sm-6">
                                    <select id="addon_choices" name="addon_choices[]" multiple="multiple" class="form-control" style="height: 100px;"></select>
                                    <div class="text-right" style="margin-top: 5px;">
                                        <button type="button" class="btn btn-sm green" onclick="addAddonChoice()"><i class="fa fa-plus"></i></button>
                                        <button type="button" class="btn btn-sm red" onclick="removeAddonChoice()"><i class="fa fa-minus"></i></button>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="control-label col-sm-4" for="addon_active"><?php echo $this->translate('Activate') ?></label>
                                <div class="col-sm-6">
                                    <?php
                                        echo $this->formRadio(
                                            'addon_active',
                                            0,
                                            null,
                                            array(
                                                $this->translate(' No, not now'),
                                                $this->translate(' Yes, activate now')
                                            ),
                                            '&nbsp;&nbsp;&nbsp;'
                                        );
                                    ?>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">&nbsp;</label>
                                <div class="col-sm-6">
                                    <button class="btn green" type="submit" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Add') ?></button>
                                    <button class="btn red" type="button" onclick="$('#box-add-addon').slideUp();"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#box-add-addon').slideUp();
        $('#dialog-manageaddons').on('hidden.bs.modal', function(){
            $('#dialog-manageaddons').remove();
            location.href = location.href;
        });
        function addAddon(){
            var btnSubmit = $('#dialog-manageaddons').find('button[type=submit]').eq(0);
            $('#addon_choices option').attr('selected', 'selected');
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxmealaddons'), 'default', true) ?>',
                type: 'post',
                dataType: 'json',
                data: $('#dialog-manageaddons form').serialize(),
                beforeSend: function(){
                    $(btnSubmit).button('loading');
                },
                success: function(d){
                    $(btnSubmit).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Product addon added successfully.') ?>', function(){
                            reloadDialog('manageaddons', <?php echo $this->request->meal_id ?>); 
                        });
                    }
                },
                error: function(){
                    $(btnSubmit).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                } 
            });
            return false;
        }
        function addAddonChoice(){
            var el = $('#addon_choices').get(0);
            bootbox.prompt('<?php echo $this->translate('Enter Addon Name') ?>:', function(result){
                if(result != null){
                    var addonName = result;
                    bootbox.prompt('<?php echo $this->translate('Enter Addon Price') ?>:', function(result){
                        if(result != null){
                            var addonPrice = result;
                            $(el).append('<option value="' + addonName + ';' + addonPrice + '">' + addonName + ' ( IQD' + addonPrice + ' )</option>');
                        } 
                    });
                } 
            });
        }
        function removeAddonChoice(){
            var el = $('#addon_choices').get(0);
            if(el.selectedIndex == -1) return;
            bootbox.confirm('<?php echo $this->translate('Are you sure to remove this choice?') ?>', function(result){
                if(result) el.remove(el.selectedIndex);
            });
        }
        function doAddonAction(el){
            var addon_id = $(el).attr('data-addon-id');
            var meal_id = $(el).attr('data-meal-id');
            switch(el.options[el.selectedIndex].value){
                case 'editaddon': {
                    $.get(
                        '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'editaddon'), 'default', true) ?>',
                        {'addon_id': addon_id, 'meal_id': meal_id},
                        function(html){
                            $('body').append(html);
                            $('#dialog-editaddon').modal('show');
                        },
                        'html'
                    );
                    break;
                }
                case 'deleteaddon': {
                    bootbox.confirm('<?php echo $this->translate('Are you sure to delete this addon?') ?>', function(result){
                        if(result){
                            $.get(
                                '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxmealaddons'), 'default', true) ?>',
                                {'addon_id': addon_id, 'meal_id': meal_id, 'doAction': 'deleteaddon'},
                                function(d){
                                    if(d.error){
                                        bootbox.alert(d.errorMessage);
                                    }else{
                                        reloadDialog('manageaddons', meal_id);
                                    }
                                },
                                'json'
                            );      
                        } 
                    });
                    break;
                }
                case 'activateaddon': {
                    $.get(
                        '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxmealaddons'), 'default', true) ?>',
                        {'addon_id': addon_id, 'meal_id': meal_id, 'doAction': 'activateaddon'},
                        function(d){
                            if(d.error){
                                bootbox.alert(d.errorMessage);
                            }else{
                                reloadDialog('manageaddons', meal_id);
                            }
                        },
                        'json'
                    );
                    break;
                }
                case 'deactivateaddon': {
                    bootbox.confirm('<?php echo $this->translate('Are you sure to deactivate this addon?') ?>', function(result){
                        if(result){
                            $.get(
                                '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxmealaddons'), 'default', true) ?>',
                                {'addon_id': addon_id, 'meal_id': meal_id, 'doAction': 'deactivateaddon'},
                                function(d){
                                    if(d.error)
                                    {
                                        bootbox.alert(d.errorMessage);
                                    }
                                    else
                                    {
                                        reloadDialog('manageaddons', meal_id);
                                    }
                                },
                                'json'
                            );
                        }
                    });
                    break;
                }
            }
        }
    </script>
</div>