<link rel="stylesheet" href="<?php echo APPLICATION_ASSETS;  ?>date/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>dateinclude/ui-1.10.0/jquery.ui.position.min.js"></script>

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.js?v=0.3.3"></script>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Shop Category') ?>
		</h3>		
		<!-- END PAGE TITLE & BREADCRUMB-->
          <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="admin/restaurant/addcategory"><i class="fa fa-plus"></i> <?php echo $this->translate('Add New Category') ?></a></li>
        </ul>
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate('New category has been created successfully.') ?>.</h4>            
        </div>
        <?php else: ?>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errorMessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">                       
			            
            <div class="portlet solid light-grey">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Add New Category'); ?>:</h3>
                <hr />               
                <div class="form-group">
                    <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Category'); ?>:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-tags" aria-hidden="true"></i></span>
                            <?php
                                echo $this->formText(
                                    'res_category_name',
                                    $this->request->res_category_name,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'placeholder' => $this->translate('Enter new category name')
                                    )
                                )
                            ?>
                        </div>                                                
                    </div>
                </div> 
                <!-- ////////////////////////////////////////////////////////////////////////////////////// -->
                <div class="form-group">
                    <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Category Image'); ?>:</label>
                <div class="col_md_12">
                  <div class="multi_img">
                    
                        <ul class="nav navbar-nav sections">
                            <?php if(!empty($this->categoyimage)){ foreach ($this->categoyimage as $value) { ?>

                            
                        <li  id="cat<?php echo $value->id;?>"><a onclick="myfunction(<?php echo $value->id;?>)"><img src="<?php echo UPLOAD_IMAGE.stripslashes($value->image); ?>"></a></li>
                            <?php } }?>
                        </ul>
                        </div>
                    </div>
                  </div>
                </div>
             <input type="hidden" name="cateImage" id="caty" value="0">

                <!-- /////////////////////////////////////////////////////////////////////////////////// -->
                   <div class="form-group">
                    <!-- <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Category'); ?>:</label> -->
                    <div class="col-md-4">
                        <div class="input-group">
                            <input type="hidden" value="0" name="status">
                        </div>                        
                    </div>
                </div> 
            </div>			
        
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Add this Category'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
$(document).ready(function () {
    $('.nav li a').click(function(e) {

        $('.nav li').removeClass('active');

        var $parent = $(this).parent();
        if (!$parent.hasClass('active')) {
            $parent.addClass('active');
        }
        e.preventDefault();
    });
});
</script>
<script type="text/javascript">
function myfunction(id){
$('#caty').val(id);
}
</script>