<option value="">-- <?php echo $this->translate('Select A Area / Region'); ?> --</option>
<?php if(!$this->error): ?>
    <?php foreach($this->city as $entry): ?>
    <option value="<?php echo stripslashes($entry->location_id) ?>"><?php echo stripslashes($entry->area_name) ?></option>
    <?php endforeach; ?>
<?php endif; ?>