<div class="row" id="loaded">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			 <?php echo $this->translate('Shop Categories'); ?>
		</h3>		
		<!-- END PAGE TITLE & BREADCRUMB-->
         <ul class="page-breadcrumb breadcrumb">            
            <li>
                <a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'admin-restaurant-category', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Category Name'); ?></a></li>
        </ul>
	</div>
</div>

<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
</form>
        <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table  class="table table-striped table-bordered table-hover table-condensed dataTable"   <?php
                     if(count($this->paginator) > 0): ?> id="table-res" <?php endif; ?>>
			<div class="bttnss">
			<a style="color: #fff;" class="btn green" href="/admin/restaurant/addcategory"><i class="fa fa-plus"></i> <span>Add New</span></a> 
			</div>		
                <thead>
                    <tr>
                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>
                      
                        <th><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Category Id'); ?></th>
                        <th><!--<i class="fa fa-location-arrow"></i>--> <?php echo $this->translate('Category Name'); ?></th>
                        <th><!--<i class="fa fa-location-arrow"></i>--> <?php echo $this->translate('Status'); ?></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                
                    <?php if($this->category->count == 0): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No Categories found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->category->count > 0): ?>
                        <?php 											
						foreach($this->paginator as $i => $entry): ?>
                         <?php //if($entry->is_open): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->category_id, array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td>  
                            <td><?php echo $this->escape(stripslashes($entry->category_id)) ?></td>                        
                            <td><?php echo $this->escape(stripslashes($entry->category_name)) ?></td>
                            <td><?php if(($entry->status) == '1'): ?>
                                <span class="label label-success"><?php echo $this->translate('ACTIVE'); ?></span>
                                <?php else: ?>
                                <span class="label label-danger label-class "><?php echo $this->translate('INACTIVE'); ?></span>
                                <?php endif; ?></td>	                               	
                                <td>
                                 <form method="POST" action="<?php echo $this->url(array(), 'admin-restaurant-updatestatus', true); ?>">
                                    <input type="hidden" name="category_id" value="<?php echo $entry->category_id; ?>">
                                    <select data-id="<?php echo $entry->category_id ?>" id ="selectaction" class="entry-action form-control" name="changestatus" onchange="this.form.submit();">
                                         <option value=""><?php echo $this->translate('Select An Action'); ?> </option>                                        
                                            <?php if(($entry->status) == '0'): ?>
                                         <option value="1"><?php echo $this->translate('Active'); ?></option>
                                        <?php else: ?>
                                         <option value="0"><?php echo $this->translate('Inactive'); ?></option>
                                        <?php endif; ?>                                                                           
                                     </select>
                                 </form>
                            </td>   
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>        
        </div>
    </div>
<script> 
// checking all  check boxes //

 function checkAll(e){

     if(e.checked){

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', 'checked');

             $(element).closest('span').addClass('checked');

         });

     }else{

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', '');

             $(element).closest('span').removeClass('checked');
         });
     } }
 // setInterval(function(){ 
 //  $.ajax({
 //       type: 'post',
 //       url:  'index.php/admin/restaurant/updatetiming',
 //       success: function(res)
 //       {
 //              if(res==1)
 //              {
 //                window.location.reload(); 
 //              } 
 //       }
 //  });
 // }, 50000);
</script>