<style>


 .controls {
        margin-top: 16px;
        border: 1px solid transparent;
        border-radius: 2px 0 0 2px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        height: 32px;
        outline: none;
        box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
      }

      #pac-input {
        background-color: #fff;
        font-family: Roboto;
        font-size: 15px;
        font-weight: 300;
        margin-left: 12px;
        padding: 0 11px 0 13px;
        text-overflow: ellipsis;
        width: 400px;
      }

      #pac-input:focus {
        border-color: #4d90fe;
      }

      .pac-container {
        font-family: Roboto;
      }

      #type-selector {
        color: #fff;
        background-color: #4d90fe;
        padding: 5px 11px 0px 11px;
      }

      #type-selector label {
        font-family: Roboto;
        font-size: 13px;
        font-weight: 300;
      }

</style>
 
 <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS;  ?>date/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>dateinclude/ui-1.10.0/jquery.ui.position.min.js"></script>

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.js?v=0.3.3"></script>
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Shops')?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>"><?php echo $this->translate('Shop Name') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><i class="fa fa-plus"></i> <?php echo $this->translate('Edit New Shop') ?></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate(' Shop account is  Edited successfully.') ?>.</h4>
            <p>
               
            </p>
        </div>
        <?php else: ?>
        <div class="note note-info">
            <h3><?php echo $this->translate('Edit Shop to the system'); ?></h3>
            <p><?php echo $this->translate('Fill in the form below to Edit Shop. All Shop added here is automatically marked approved.'); ?></p>
        </div>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errorMessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Info'); ?>:</h3>
                    <hr />
                   <!-- <div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Shop Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                echo $this->restaurant_name;
                                    echo $this->formText(
                                        'res_name',
                                        (isset($this->request->res_name)?$this->request->res_name:$this->data[0]->restaurant_name),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter Shop title / name here'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>-->
					<div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Shop Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                               
                                    echo $this->formText(
                                        'res_name_ar',
                                        (isset($this->request->res_name_ar)?$this->request->res_name_ar:$this->data[0]->restaurant_name_ar),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter Shop title / name here in Dutch'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                   <!-- <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Description'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_description',
                                    (isset($this->request->res_description)?$this->request->res_description:$this->data[0]->restaurant_description),
                                    array(
                                        'placeholder' => $this->translate('Describe Shop specialities and any other information here'),
                                        'class' => 'form-control',
                                        'style' => 'height: 100px'
                                    )
                                )
                            ?>
                        </div>
                    </div>-->
					<div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Description'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_description_ar',
                                    (isset($this->request->res_description_ar)?$this->request->res_description_ar:$this->data[0]->restaurant_description_ar),
                                    array(
                                        'placeholder' => $this->translate('Describe Shop specialities and any other information here In Dutch'),
                                        'class' => 'form-control',
                                        'style' => 'height: 100px'
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Contact Email'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <?php
                                    echo $this->formText(
                                        'res_contact',
                                        (isset($this->request->res_contact)?$this->request->res_contact:$this->data[0]->contact_email),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter contact email address here'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                      <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Shop Category'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">                               
                                <?php
                                        echo $this->formSelect(
                                        'category',
                                         (isset($this->request->category)?$this->request->category:$this->address[0]->category),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required'
                                        ),
                                        $this->category
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <!--div class="form-group">
                        <label for="res_payment_modes" class="control-label col-md-2">*<?php echo $this->translate('Payment Modes'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                               /* echo $this->formMultiCheckbox(
                                    'res_payment_modes',
                                    (isset($this->request->res_payment_modes)?$this->request->res_contact:$this->data[0]->payment_modes),
                                    null,
                                    array(
                                        'cash' => $this->translate('By Cash'),
                                        'cc' => $this->translate('By Credit Card')
                                    ),
                                   dqewd
                                )
                                * 
                                */
                            ?>
                        </div>
                    </div-->
                    <!-- <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Shop Fees'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_delivery_fees',
                                         (isset($this->request->res_delivery_fees)?$this->request->res_delivery_fees:$this->data[0]->delivery_fees),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                   <div class="form-group">
                        <label for="res_avg_delivery_time" class="control-label col-md-2">*<?php echo $this->translate('Average Shop Time'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_avg_delivery_time',
                                 (isset($this->request->res_avg_delivery_time)?$this->request->res_avg_delivery_time:$this->data[0]->average_delivery_time),
                                        array(
                                            'class' => 'form-control myinput',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'id'       =>'time'
                                        ) 
                                    )
                                ?>
                                <span class="input-group-addon">min(s)</span>
                            </div>
                        </div>
                    </div>-->


                     <!--<div class="form-group">
                        <label for="res_avg_delivery_time" class="control-label col-md-2">*<?php echo $this->translate('Opening Time'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon" >
                                    <i class="fa fa-clock-o">
                                    </i>
                                </span>
                                <?php
                                    echo $this->formText(
                                        'open_time',
                                        (isset($this->request->open_time)?$this->request->open_time:$this->address[0]->open_time),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
											'id'    => 'open_time',
                                            'required' => 'required '
                                          
                                        ) 
                                    )
                                ?>
                               
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="res_avg_delivery_time" class="control-label col-md-2">*<?php echo $this->translate('Closing Time'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon" >
                                    <i class="fa fa-clock-o">
                                    </i>
                                </span>
                                <?php
								echo $this->formText(
                                        'close_time',
                                        (isset($this->request->close_time)?$this->request->close_time:$this->address[0]->close_time),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
											'id'    => 'close_time',
                                            'required' => 'required'
                                            
                                        ) 
                                    )
                                ?>
                                
                            </div>
                        </div>
                    </div>
                 
                      <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Minimum Order Values'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon">&euro;</span>
                                <?php
								echo $this->formText(
                                        'minimum_order',
									(isset($this->request->minimum_order)?$this->request->minimum_order:$this->data[0]->minimum_order),
	                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0', 
                                            
                                            
                                        ) 
                                       /* $this->request->res_delivery_fees,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) */
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
						 <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Payment Method'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                               
                                <?php
								
                               echo $this->formSelect(
                                        'paymentmethod',
                                        (isset($this->request->payment_method)?$this->request->payment_method:$this->data[0]->payment_method),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                          //  'onchange' => 'loadLocations(this)'
                                        ),
                                        array
											(
												''                 => 'Select Payment Method',
												'Cash on Delivery' => 'Cash on Delivery',
												'I Deal'           => 'I Deal',
												

											)
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Shop Holiday'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                
						
                          <?php
							/*  echo $this->formCheckbox('shop_holiday', (isset($this->request->shop_holiday)?$this->request->shop_holiday:$this->data[0]->shop_holiday), null, array(1, 0));  */
							 
							  echo $this->formSelect(
                                        'shop_holiday',
                                        (isset($this->request->shop_holiday)?$this->request->shop_holiday:$this->data[0]->shop_holiday),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                         ),
                                        array
											(
												''  => 'Select Any one',
												'1' => 'On',
												'0'  => 'Off',
											)
                                    ) 
						?>
						  
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>-->
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Address'); ?>:</h3>
                    <hr />
                   <!-- <div class="form-group">
                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Address'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_address',
                                     (isset($this->request->res_address)?$this->request->res_address:$this->address[0]->address),
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;',
                                        'placeholder' => $this->translate('Enter Shop full address except location and city'),
                                        'id'   =>'address'
                                        )
                                )
                            ?>
                        </div>
                    </div>-->
					 <div class="form-group">
                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Address'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_address_ar',
                                     (isset($this->request->res_address_ar)?$this->request->res_address_ar:$this->address[0]->address_ar),
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;',
                                        'placeholder' => $this->translate('Enter Shop full address except location and city in Dutch'),
                                        'id'   =>'address',
										'required'=>'required'
                                        )
                                )
                            ?>
                        </div>
                    </div>
					<!--<div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Postal Code'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'postal_code',
                                         $this->request->postal_code,
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                        ),
                                        $this->cities
                                    )
                                ?>
                            </div>
                        </div>
                    </div>-->
                   <!--<div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Country'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'res_city',
                                        (isset($this->request->res_city)?$this->request->res_city:$this->address[0]->country_id),
                                        
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'onchange' => 'loadLocations(this.value)'
                                        ),
                                        $this->cities
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('City'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'res_location',
                                        (isset($this->request->locations)?$this->request->locations:$this->address[0]->location_id),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'id'  =>'res_location',
                                            'onchange' => 'loadarea(this.value)'
                                        ),
                                        $this->locations
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    

                       <div class="form-group">
                        <label for="res_area" class="control-label col-md-2">*<?php echo $this->translate('Area'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'res_area',
                                        (isset($this->request->area)?$this->request->area:$this->address[0]->area_id),
                                        array(
                                            'class' => 'form-control ',
                                            'placeholder' => '0',
                                            'id'   =>'res_area'     
                                        ),
                                        $this->area
                                    )
                                ?>
                            </div>
                        </div>
                    </div>-->
					<div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Select Location Map '); ?>:</label>
                        <div class="col-md-12">
                            

                             <div class="input-group" style="width:70%">
                                   
                                      <?php
                                echo $this->formText(
                                    'mapsearch',
                                     (isset($this->request->mapsearch)?$this->request->mapsearch:$this->address[0]->address),
                                    array(
                                        'class' => 'form-control',
                                        'placeholder' => $this->translate('Start typing a place name...'),
                                        'id'   =>'gmaps-input-address'
                                        )
                                )
                            ?>
                                <!--input id='gmaps-input-address' placeholder='' type='text' class="form-control" /-->
                              

                                <div id='gmaps-error'></div>
                              </div>
                               <br/>
                                <div id="gmaps-canvas" style="height: 400px; position: relative; background-color: rgb(229, 227, 223); overflow: hidden;">
                               
                                    
                                    
                                  
                            </div>
                        </div>
                    </div>
                    
                    
                   <!-- <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Latitude'); ?>:</label>
                        <div class="col-md-12">
                            
                               <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_latitude',
                                        (isset($this->request->res_latitude)?$this->request->res_latitude:$this->address[0]->latitude),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => 'Latitude',
                                            
                                            'required'    =>'required',
                                            'id'          =>'latitude'
                                        )
                                        
                                    )
                                ?>
                            </div>
                               
                                    
                                    
                                  
                            </div>
                        </div>
                      <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('longitude'); ?>:</label>
                        <div class="col-md-12">
                            
                               <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_longitude',
                                        (isset($this->request->res_longitude)?$this->request->res_longitude:$this->address[0]->longitude),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => 'Longitude',
                                           
                                            'id'          =>'longitude'
                                        )
                                        
                                    )
                                ?>
                            </div>
                               
                                    
                                    
                                  
                            </div>
                        </div>
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Shop Icon'); ?>:</label>
                        <div class="col-md-12">
                            
                               <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-upload"></i></span>
                                <?php
                                    echo $this->formFile(
                                        'res_icon',
                                     null,
                                        array(
                                            'class'      => 'form-control',
                                            
                                            'id'          =>'res_icon'
                                        )
                                        
                                    )
                                ?>
                            </div>
                               
                                    
                                    
                                  
                            </div>
                        </div>
                      <div class="form-group">
                       
                        <div class="col-md-12">
                            <?php if($this->data[0]->logo==null || $this->data[0]->logo=='Array'  ):
                              $image ='photo_not_available.png';
                              else:
                               $image =$this->data[0]->logo;
                                endif;
                               
                             ?>
                            <img src="<?php echo UPLOAD_IMAGE.$image; ?>" width="50%"/ >
                               
                                    
                                    
                                  
                            </div>
                        </div>-->
                    </div>
                </div>
          
            <div class="portlet solid light-grey">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Admin Account Details'); ?>:</h3>
                <p><?php echo $this->translate('This account is used to manage the meals served by Shop and other settings.'); ?></p>
                <hr />
                <div class="form-group">
                    <label for="res_admin_name" class="control-label col-md-2">*<?php echo $this->translate('Admin User Name'); ?>:</label>
                    <div class="col-md-8">
                        <?php
                            echo $this->formText(
                                'res_admin_name',
                                $this->admindata[0]->user_name,
                                array(
                                    'class' => 'form-control',
                                    'required' => 'required',
                                    'placeholder' => $this->translate('Enter admin full name')
                                )
                            )
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Email Address'); ?>:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <?php
                                echo $this->formText(
                                    'res_admin_email',
                                    $this->admindata[0]->user_email,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'placeholder' => $this->translate('Enter admin email address')
                                    )
                                )
                            ?>
                        </div>
                        <div class="help-block"><?php echo $this->translate('Email address entered here will be verified, and login details will be dispatched after verification is successful.'); ?></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_phone" class="control-label col-md-2"><?php echo $this->translate('Contact Number'); ?>:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <?php
                                echo $this->formText(
                                    'res_admin_phone',
                                   $this->admindata[0]->contact_number,
                                    array(
                                        'class' => 'form-control',
                                         'required' => 'required',
                                        'placeholder' => $this->translate('Multiple numbers must be separated by comma(,)')
                                    )
                                )
                            ?>
                        </div>
                    </div>
                </div>
                
            <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Commission Per Order'); ?>:</h3>
                    <hr />
                   <div class="form-group">                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Enter password'); ?></label>                        <div class="col-md-8">                            <?php                                echo $this->formPassword(                                    'res_password',                                    $this->request->res_password,                                    array(                                        'class' => 'form-control',                                                                                'placeholder' => $this->translate('Enter password')                                    )                                )                            ?>                        </div>                    </div>    <div class="form-group">                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Enter confirm password'); ?></label>                        <div class="col-md-8">                            <?php                                echo $this->formPassword(                                    'res_con_pass',                                    $this->request->res_con_pass,                                    array(                                        'class' => 'form-control',                                                                                                  'placeholder' => $this->translate('Enter confirm password')                                    )                                )                            ?>                        </div>                    </div> 	   
                
                
            </div></div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Edit this Shop'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>
<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
<script>
$(".timings").kendoTimePicker();
$('#res_delivery_time').timepicker();
$('#res_extra_time').timepicker();
$('#open_time').timepicker();
$('#close_time').timepicker();
</script>