<div class="row" id="loaded">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			 <?php echo $this->translate('Shops'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
               <!-- <a href="<?php echo $this->url(array(), 'admin-restaurant-add', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add New'); ?></span></a>-->
			</li>
			<li>
				<!--<i class="fa fa-home"></i>-->
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Shop Name'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>


<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
    <!-- Filters -->
   

    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table  class="table table-striped table-bordered table-hover table-condensed dataTable"   <?php
                     if(count($this->paginator) > 0): ?> id="table-res" <?php endif; ?>>
			<div class="bttnss">
			<a style="color: #fff;" class="btn green" href="/admin/restaurant/add"><i class="fa fa-plus"></i> <span>Add New</span></a> &nbsp; 
                         <!--    <button onclick="doMassAction('activate_selected')" type="button" class="btn btn green">Activate Selected</button> &nbsp; 
                            <button onclick="doMassAction('deactivate_selected')" type="button" class="btn btn red">Deactivate Selected</button>
                            <button onclick="doMassAction('allow')" type="button" class="btn btn green">Allow Editing</button>
                            <button onclick="doMassAction('denied')" type="button" class="btn btn red">Disallow Editing</button>
                            <button onclick="doMassAction('delete')" type="button" class="btn btn red">Delete</button> -->
			</div>
              <thead>
                    <tr>
                        <!-- <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>   -->                    
                        <th><?php echo $this->translate('Shop Name'); ?></th>
                        <th><?php echo $this->translate('Location'); ?></th>
						<th class="text-center"><?php echo $this->translate('Status'); ?></th>
                        <th><?php echo $this->translate('Shop Category'); ?></th>
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Freelancer Name'); ?></th>
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Orders Detail'); ?></th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                
                    <?php if($this->restaurants->count == 0): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No restaurants found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->restaurants->count > 0): ?>
                        <?php 
											
						foreach($this->paginator as $i => $entry): ?>
                         <?php //if($entry->is_open): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                           <!--  <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->restaurant_id, array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td> -->
                          
                            <td><?php echo $this->escape(stripslashes($entry->restaurant_name_ar)) ?></td>
                            <td><?php echo $this->escape(stripslashes($entry->address_ar)) ?></td>
			                <td class="text-center" style="vertical-align: middle;">                                
                                <span class="label label-success"><?php echo $this->translate('OPEN'); ?></span>                               
                            </td>                           
                           <td><?php echo $this->escape(stripslashes($entry->category_name))?></td>
                          <td><?php if($entry->reference == 'A'){echo "Super Admin";} elseif($entry->reference == 'D'){echo "Direct";} else{echo $entry->name; }?></td>
                           <td> &nbsp;                                
                               <a href="<?php echo $this->url(array(), 'admin-freelancer-orderlist', true); ?>?shopid=<?php echo $entry->restaurant_id; ?>">Orders Detail</a>                        
                            </td>
                            <td> &nbsp; 

                               <select data-id="<?php echo $entry->restaurant_id ?>" class="entry-action form-control" onchange="doAction(this)">
                                    <option value=""><?php echo $this->translate('Select An Action'); ?> </option>
                             <!--        <?php if($entry->is_verified): ?>
                                        <?php if($entry->is_active): ?>
                                        <option value="deactivate"><?php echo $this->translate('Deactivate'); ?></option>
                                        <?php else: ?>
                                        <option value="activate"><?php echo $this->translate('Activate'); ?></option>
                                        <?php endif; ?>
                                        <?php if($entry->is_open): ?>
                                        <option value="is_close"><?php echo $this->translate('Close'); ?></option>
                                                     <?php else: ?>
                                        
                                          <option value="is_open"><?php echo $this->translate('Open'); ?></option>
                                     
                                <?php endif; ?>
                                    <?php endif; ?> -->
                                     <option value="edit"><?php echo $this->translate('Edit'); ?></option>
                                </select>
                            </td>
                        </tr>
                        <?php //endif; ?>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
                </tfoot>
            </table>
             <?php
             
               if(!$this->restaurants->count == 0):    
               endif;
               ?>
        
        </div>
    </div>
</form> 
<script> 
// checking all  check boxes //

 function checkAll(e){

     if(e.checked){

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', 'checked');

             $(element).closest('span').addClass('checked');

         });

     }else{

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', '');

             $(element).closest('span').removeClass('checked');

         });

     }

     

 }
</script>