<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Delivery Points'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
                <a href="<?php echo $this->url(array(), 'admin-restaurant-add', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add New Restaurant'); ?></span></a>
			</li>
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><i class="fa fa-cutlery"></i> <?php echo $this->translate('Delivery Points'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-12">
            <div class="portlet box red">
                <div class="portlet-title">
                    <div class="caption"><i class="fa fa-gear"></i> <?php echo $this->translate('Filter Delivery Points List'); ?></div>
    				<div class="tools">
					   <a href="" class="expand"></a>
    				</div>
                </div>
                <div class="portlet-body" style="display: none;">
                    <div class="form-group">
                        <label for="filterby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Filter List By'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <div class="row-fluid">
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyapprovedstatus',
                                            $this->request->filterbyapprovedstatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'approved' => $this->translate('Approved'),
                                                'underapproval' => $this->translate('Under Approval')
                                            )
                                        );
                                    ?>
                                </div>
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyactivestatus',
                                            $this->request->filterbyactivestatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'active' => $this->translate('Active'),
                                                'deactive' => $this->translate('Deactive')
                                            )
                                        );
                                    ?>
                                </div>
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyopenstatus',
                                            $this->request->filterbyopenstatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'opened' => $this->translate('Open'),
                                                'closed' => $this->translate('Close')
                                            )
                                        );
                                    ?>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Sort By'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <?php
                                echo $this->formRadio(
                                    'sortby',
                                    (isset($this->request->sortby) ? $this->request->sortby : 'name'),
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'name' => $this->translate('Delivery Point Name'),
                                        'location' => $this->translate('Location'),
                                        'amount' => $this->translate('Gross Income'),
                                        'orders' => $this->translate('Total Orders'),
                                        'active-orders' => $this->translate('Total Active Orders')
                                     ),
                                    '&nbsp;&nbsp;'
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Sort Order'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <?php
                                echo $this->formRadio(
                                    'sortorder',
                                    (isset($this->request->sortorder) ? $this->request->sortby : 'asc'),
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'asc' => $this->translate('Ascending'),
                                        'desc' => $this->translate('Descending')
                                    ),
                                    '&nbsp;&nbsp;'
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(1); $('#frm-do-action').submit();" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Apply Filter'); ?></button>
                            <?php if(isset($this->request->filterset) and $this->request->filterset): ?>
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(0); $('#frm-do-action').submit();" class="btn red"><i class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('Clear Filter'); ?></button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable" id="table-res">
                <thead>
                    <tr>
                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>
                        <th class="text-center"><?php echo $this->translate('Open | Close'); ?></th>
                        <th><i class="fa fa-cutlery"></i> <?php echo $this->translate('Restaurant Name'); ?></th>
                        <th><i class="fa fa-location-arrow"></i> <?php echo $this->translate('Location'); ?></th>
                        <th><i class="fa fa-try"></i> <?php echo $this->translate('Gross Income'); ?></th>
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Orders Info (Total / Active)'); ?></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if($this->restaurants->count == 0): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No restaurants found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->restaurants->count > 0): ?>
                        <?php foreach($this->restaurants->list as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->restaurant_id, array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td>
                            <td class="text-center" style="vertical-align: middle;">
                                <?php if($entry->is_open): ?>
                                <span class="label label-success"><?php echo $this->translate('OPENED'); ?></span>
                                <?php else: ?>
                                <span class="label label-danger"><?php echo $this->translate('CLOSED'); ?></span>
                                <?php endif; ?>
                            </td>
                            <td><?php echo $this->escape(stripslashes($entry->restaurant_name)) ?></td>
                            <td><?php echo $this->escape(stripslashes($entry->location)) ?></td>
                            <td class="text-right"><?php echo number_format($entry->amount, 2) ?></td>
                            <td class="text-center"><span class="badge badge-warning"><a href="<?php echo $this->url(array(), 'admin-Orders', true) ;?>?id=<?php  echo $entry->restaurant_id ;?>">25<?php echo $entry->totalorders ?></a></span> / <!--span class="badge badge-success"><?php echo $entry->activeorders ?></span-->
                            <!--a href=" <?php echo $this->url(array(), 'admin-Message', true) ;?>?restaurant_id=<?php echo $entry->restaurant_id ; ?>"><i class="fa fa-envelope"></i></a--> <a  title="Reports" href=" <?php echo $this->url(array(), 'admin-Report', true) ;?>?restaurant_id=<?php echo $entry->restaurant_id ; ?>"><i class="fa  fa-copy"></i></a>
                             <!--a  title="Per Order Reports" href=" <?php echo $this->url(array(), 'admin-Report-mealreport', true) ;?>?restaurant_id=<?php echo $entry->restaurant_id ; ?>"><i class="fa  fa-copy"></i></a-->
                            
                            </td>
                            <td>
                                <select data-id="<?php echo $entry->restaurant_id ?>" class="entry-action form-control" onchange="doAction(this)">
                                    <option value="">-- <?php echo $this->translate('Select An Action'); ?> --</option>
                                    <?php if($entry->is_verified): ?>
                                        <?php if($entry->is_active): ?>
                                        <option value="deactivate"><?php echo $this->translate('Deactivate'); ?></option>
                                        <?php else: ?>
                                        <option value="activate"><?php echo $this->translate('Activate'); ?></option>
                                        <?php endif; ?>
                                        <?php if($this->getHelper('RestaurantHelper')->isAdminAccountActive($entry->restaurant_id)): ?>
                                        <option value="deactivate_admin_account"><?php echo $this->translate('Deactivate Admin'); ?></option>
                                        <?php else: ?>
                                        <option value="activate_admin_account"><?php echo $this->translate('Activate Admin'); ?></option>
                                        <?php endif; ?>
                                        <option value="contact_admin"><?php echo $this->translate('Contact Admin'); ?></option>
                                    <?php else: ?>
                                    <option value="approve"><?php echo $this->translate('Approve'); ?></option>
                                    <?php endif; ?>
                                </select>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="6">
                            <button class="btn btn-sm green" type="button" onclick="doMassAction('activate_selected')"><?php echo $this->translate('Activate Selected'); ?></button>
                            <button class="btn btn-sm red" type="button" onclick="doMassAction('deactivate_selected')"><?php echo $this->translate('Deactivate Selected'); ?></button>
                            <button class="btn btn-sm green" type="button" onclick="doMassAction('is_open')"><?php echo $this->translate('Open'); ?></button>
                   
                             <button class="btn btn-sm red" type="button" onclick="doMassAction('is_close')"><?php echo $this->translate('Close'); ?></button>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</form>    