	<?php echo $this->doctype() ?>
<!--[if IE 8]> <html lang="en" class="ie8 no-js"> <![endif]-->
<!--[if IE 9]> <html lang="en" class="ie9 no-js"> <![endif]-->
<!--[if !IE]><!--> <html lang="en" class="no-js"> <!--<![endif]-->
<!-- BEGIN HEAD -->
<head>
    <base href="/" />
	<meta charset="utf-8" />
	<?php echo $this->headTitle() ?>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="width=device-width, initial-scale=1.0" name="viewport" />
	<?php echo $this->headMeta() ?>
	<meta name="MobileOptimized" content="320">
	<!-- BEGIN GLOBAL MANDATORY STYLES -->          
	<link href="assets/plugins/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css"/>	
	<link href="assets//plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
	<link href="assets//plugins/uniform/css/uniform.default.css" rel="stylesheet" type="text/css"/>
	<!-- END GLOBAL MANDATORY STYLES -->
	<!-- BEGIN PAGE LEVEL PLUGIN STYLES --> 
	<link href="assets//plugins/gritter/css/jquery.gritter.css" rel="stylesheet" type="text/css"/>
	<link href="assets//plugins/bootstrap-daterangepicker/daterangepicker-bs3.css" rel="stylesheet" type="text/css" />
	<link href="assets//plugins/fullcalendar/fullcalendar/fullcalendar.css" rel="stylesheet" type="text/css"/>
	<link href="assets//plugins/jqvmap/jqvmap/jqvmap.css" rel="stylesheet" type="text/css"/>
	<link href="assets//plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.css" rel="stylesheet" type="text/css"/>
        <link rel="stylesheet" type="text/css" href="assets//plugins/clockface/css/clockface.css" />
         <link rel="stylesheet" type="text/css" href="assets/plugins/bootstrap-switch/static/stylesheets/bootstrap-switch.css" />
	<!-- END PAGE LEVEL PLUGIN STYLES -->
	<!-- BEGIN THEME STYLES --> 
	<link href="assets//css/style-metronic.css" rel="stylesheet" type="text/css"/>
	<link href="assets//css/style.css" rel="stylesheet" type="text/css"/>
	<link href="assets//css/style-responsive.css" rel="stylesheet" type="text/css"/>
	<link href="assets//css/plugins.css" rel="stylesheet" type="text/css"/>
	<link href="assets//css/pages/tasks.css" rel="stylesheet" type="text/css"/>
	<link href="assets//css/themes/default.css" rel="stylesheet" type="text/css" id="style_color"/>
	<link href="assets//css/custom.css" rel="stylesheet" type="text/css"/>

	<link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>timeconnect/timemin.css"> 
        <link rel="stylesheet" href="http://cdn.kendostatic.com/2015.1.429/styles/kendo.material.min.css" />
	<!-- END THEME STYLES -->
	<link rel="shortcut icon" href="favicon.ico" />
         <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.css" />
    <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>/datatable/jquery.dataTables.css">
</head>
<!-- END HEAD -->
<!-- BEGIN BODY -->
<body class="page-header-fixed">
	<!-- BEGIN HEADER -->   
	<div class="header navbar navbar-inverse navbar-fixed-top">
		<!-- BEGIN TOP NAVIGATION BAR -->
		<div class="header-inner">
			<!-- BEGIN LOGO -->  
			<a class="navbar-brand" href="restaurant/admin/dashboard">
			<!-- <img src="assets/img/small_logo.png" alt="logo" class="img-responsive" /> -->
			thuis.today
			</a>
			<!-- END LOGO -->
			<!-- BEGIN RESPONSIVE MENU TOGGLER --> 
			<a href="javascript:;" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
			<img src="assets/img/menu-toggler.png" alt="" />
			</a> 
			<!-- END RESPONSIVE MENU TOGGLER -->
			<!-- BEGIN TOP NAVIGATION MENU -->
			<ul class="nav navbar-nav pull-right">
				<?php echo $this->render('components/header_notifications.phtml') ?>
				<?php echo $this->render('components/header_inbox.phtml') ?>
				<?php echo $this->render('components/header_user_dropdown.phtml'); ?>
			</ul>
			<!-- END TOP NAVIGATION MENU -->
		</div>
		<!-- END TOP NAVIGATION BAR -->
	</div>
	<!-- END HEADER -->
	<div class="clearfix"></div>
	<!-- BEGIN CONTAINER -->
	<div class="page-container">
		<!-- BEGIN SIDEBAR -->
		<div class="page-sidebar navbar-collapse collapse">
			<?php echo $this->render('components/sidebar.phtml'); ?>
		</div>
		<!-- END SIDEBAR -->
		<!-- BEGIN PAGE -->
		<div class="page-content">
			<!-- BEGIN SAMPLE PORTLET CONFIGURATION MODAL FORM-->               
			<div class="modal fade" id="portlet-config" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<div class="modal-header">
							<button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
							<h4 class="modal-title">Modal title</h4>
						</div>
						<div class="modal-body">
							Widget settings form goes here
						</div>
						<div class="modal-footer">
							<button type="button" class="btn blue">Save changes</button>
							<button type="button" class="btn default" data-dismiss="modal">Close</button>
						</div>
					</div>
					<!-- /.modal-content -->
				</div>
				<!-- /.modal-dialog -->
			</div>
			<!-- /.modal -->
			<!-- END SAMPLE PORTLET CONFIGURATION MODAL FORM-->
			
            <?php echo $this->render('components/theme_switcher.phtml'); ?>
            
            <?php echo $this->layout()->content ?>
			
		</div>
		<!-- END PAGE -->
	</div>
	<!-- END CONTAINER -->
	<!-- BEGIN FOOTER -->
	<div class="footer">
		<div class="footer-inner">
			2013 &copy; Metronic by keenthemes.
		</div>
		<div class="footer-tools">
			<span class="go-top">
			<i class="fa fa-angle-up"></i>
			</span>
		</div>
	</div>
	<!-- END FOOTER -->
	<!-- BEGIN JAVASCRIPTS(Load javascripts at bottom, this will reduce page load time) -->
	<!-- BEGIN CORE PLUGINS -->   
	<!--[if lt IE 9]>
	<script src="assets//plugins/respond.min.js"></script>
	   <script src="assets//plugins/excanvas.min.js"></script>
	<![endif]-->   
	>
	<script src="assets//plugins/jquery-1.10.2.min.js" type="text/javascript"></script>
	<script src="assets//plugins/jquery-migrate-1.2.1.min.js" type="text/javascript"></script>   
	<!-- IMPORTANT! Load jquery-ui-1.10.3.custom.min.js before bootstrap.min.js to fix bootstrap tooltip conflict with jquery ui tooltip -->
	<script src="assets//plugins/jquery-ui/jquery-ui-1.10.3.custom.min.js" type="text/javascript"></script>
	<script src="assets//plugins/bootstrap/js/bootstrap.min.js" type="text/javascript"></script>
	<script src="assets//plugins/bootstrap-hover-dropdown/twitter-bootstrap-hover-dropdown.min.js" type="text/javascript" ></script>
	<script src="assets//plugins/jquery-slimscroll/jquery.slimscroll.min.js" type="text/javascript"></script>
	<script src="assets//plugins/jquery.blockui.min.js" type="text/javascript"></script>  
	<script src="assets//plugins/jquery.cookie.min.js" type="text/javascript"></script>
	<script src="assets//plugins/uniform/jquery.uniform.min.js" type="text/javascript" ></script>
        <script src="assets//plugins/bootbox/bootbox.min.js"></script>
        <script type="text/javascript" src="assets//plugins/clockface/js/clockface.js"></script>
	<!-- END CORE PLUGINS -->
	<!-- BEGIN PAGE LEVEL PLUGINS -->
	<script src="assets//plugins/jqvmap/jqvmap/jquery.vmap.js" type="text/javascript"></script>   
	<script src="assets//plugins/jqvmap/jqvmap/maps/jquery.vmap.russia.js" type="text/javascript"></script>
	<script src="assets//plugins/jqvmap/jqvmap/maps/jquery.vmap.world.js" type="text/javascript"></script>
	<script src="assets//plugins/jqvmap/jqvmap/maps/jquery.vmap.europe.js" type="text/javascript"></script>
	<script src="assets//plugins/jqvmap/jqvmap/maps/jquery.vmap.germany.js" type="text/javascript"></script>
	<script src="assets//plugins/jqvmap/jqvmap/maps/jquery.vmap.usa.js" type="text/javascript"></script>
	<script src="assets//plugins/jqvmap/jqvmap/data/jquery.vmap.sampledata.js" type="text/javascript"></script>  
	<script src="assets//plugins/flot/jquery.flot.js" type="text/javascript"></script>
	<script src="assets//plugins/flot/jquery.flot.resize.js" type="text/javascript"></script>
	<script src="assets//plugins/jquery.pulsate.min.js" type="text/javascript"></script>
	<script src="assets//plugins/bootstrap-daterangepicker/moment.min.js" type="text/javascript"></script>
	<script src="assets//plugins/bootstrap-daterangepicker/daterangepicker.js" type="text/javascript"></script>     
	<script src="assets//plugins/gritter/js/jquery.gritter.js" type="text/javascript"></script>
	<!-- IMPORTANT! fullcalendar depends on jquery-ui-1.10.3.custom.min.js for drag & drop support -->
	<script src="assets//plugins/fullcalendar/fullcalendar/fullcalendar.min.js" type="text/javascript"></script>
	<script src="assets//plugins/jquery-easy-pie-chart/jquery.easy-pie-chart.js" type="text/javascript"></script>
	<script src="assets//plugins/jquery.sparkline.min.js" type="text/javascript"></script>  
	<!-- END PAGE LEVEL PLUGINS -->
	<!-- BEGIN PAGE LEVEL SCRIPTS -->
	<script src="assets/scripts/app.js" type="text/javascript"></script>
	<script src="assets/scripts/index.js" type="text/javascript"></script>
	<script src="assets/scripts/tasks.js" type="text/javascript"></script> 
	
           <script src="assets/scripts/custom.js"></script> 	
	  <script src="assets//plugins/excanvas.min.js"></script>
	  <script src="assets//plugins/flot/jquery.flot.min.js"></script>
	  <script type="text/javascript" src="assets//plugins/flot/jquery.flot.time.js"></script> 
          <script type="text/javascript" src="assets//plugins/flot/jquery.flot.axislabels.js"></script>
         <script type="text/javascript" src="assets//plugins/flot/jquery.flot.symbol.js"></script>
         <script src="assets/plugins/bootstrap-switch/static/js/bootstrap-switch.min.js"></script>
          <script src="http://getbootstrap.com/2.3.2/assets/js/google-code-prettify/prettify.js"></script>
         <script src="assets/plugins/bootstrap-switch/static/js/bootstrap-switch.js"></script>
	
     <?php if($this->request->getActionName() == 'dashboard' and $this->request->getControllerName() == 'admin'):?>
  <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
         <script src="assets/scripts/custom.js" type="text/javascript"></script>
    <script src="assets/morris/raphael-min.js"></script>
  <script src="assets/morris/morris.js"></script>
  <script src="assets/morris/prettify.min.js"></script>
  <script src="assets/morris/example.js"></script>
  <link rel="stylesheet" href="assets/morris/example.css">
  <link rel="stylesheet" href="assets/morris/prettify.min.css">
  <link rel="stylesheet" href="assets/morris/morris.css">
   <?php endif;  ?> 
<script type="text/javascript">	  
$(document).ready(function() {
    $('#example').dataTable();
} );

</script>

 <script src="<?php echo APPLICATION_ASSETS; ?>/datatable/jquery.dataTables.js">


  <?php if($this->request->getActionName() == 'combineReport' || $this->request->getActionName() == 'reportper' || $this->request->getActionName() == 'deliverreport'):?>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://code.highcharts.com/highcharts.js"></script>
<script src="http://code.highcharts.com/modules/drilldown.js"></script>
<script>
  $(function() {
    $( ".datepicker" ).datepicker({dateFormat:'yy-mm-dd'});
  });
  </script>
<script>

$(function () {

    // Create the chart
    $('#container').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'Progress Report'
        },
        xAxis: {
            type: 'category'
        },

        legend: {
            enabled: false
        },

        plotOptions: {
            series: {
                borderWidth: 0,
                dataLabels: {
                    enabled: true
                }
            }
        },

        series: [{
            name: 'Total',
            colorByPoint: true,
            data: datavalues()
        }],
        drilldown: seriesdata()
    });
});

</script>
<?php endif; ?> 
 </script>   
	<!-- END PAGE LEVEL SCRIPTS -->  
	<script>
		jQuery(document).ready(function() {    
		   App.init(); // initlayout and core plugins
		   Index.init();
		   Index.initJQVMAP(); // init index page's custom scripts
		   //Index.initCalendar(); // init index page's custom scripts
		   //Index.initCharts(); // init index page's custom scripts
		   //Index.initChat();
		   //Index.initMiniCharts();
		   Index.initDashboardDaterange();
		
		   Custom.init();
		   //Index.initIntro();
		   //Tasks.initDashboardWidget();
		});
	</script>
	<!-- END JAVASCRIPTS -->
    
    <!-- Custom Javascript -->
    <?php if($this->request->getActionName() == 'settings' and $this->request->getControllerName() == 'admin'){ echo $this->render('javascripts/js-locations.phtml'); } ?>
    <?php if($this->request->getActionName() == 'managedeliveryareas' and $this->request->getControllerName() == 'settings'){ echo $this->render('javascripts/js-locations.phtml'); } ?>
     <?php if($this->request->getActionName() == 'managemeals' and $this->request->getControllerName() == 'Meals'){ echo $this->render('javascripts/javascript_php_helper.phtml'); } ?>


</body>
<!-- END BODY -->
</html>