<!-- edit promotion dialog -->
<div class="modal fade" id="dialog-editpromotion" tabindex="-1" role="dialog">
    <form method="post" action="" onsubmit="return editPromotion()" class="form form-horizontal">
        <input type="hidden" name="doAction" value="savepromotion" />
        <input type="hidden" name="promotion_id" value="<?php echo $this->request->promotion_id ?>" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Edit New Promotion') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="promotion_title">*<?php echo $this->translate('Promotion Title') ?></label>
                        <div class="col-sm-7">
                            <?php
                                echo $this->formText(
                                    'promotion_title',
                                    stripslashes($this->promotion->promotion_title),
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="promotion_details"><?php echo $this->translate('Promotion Details') ?></label>
                        <div class="col-sm-7">
                            <?php
                                echo $this->formTextarea(
                                    'promotion_details',
                                    stripslashes($this->promotion->promotion_details),
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 150px;'
                                    )
                                );
                            ?>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        $('#dialog-editpromotion').on('hidden.bs.modal', function(){
            $('#dialog-editpromotion').remove();
        });
        function editPromotion(){
            var btnSubmit = $('#dialog-editpromotion button[type=submit]').eq(0);
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'promotions', 'action' => 'ajaxpromotions'), 'default', true) ?>',
                type: 'post',
                dataType: 'json',
                data: $('#dialog-editpromotion form').serialize(),
                beforeSend: function(){
                    $(btnSubmit).button('loading');
                },
                success: function(d){
                    $(btnSubmit).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Promotion has been saved successfully.') ?>', function(){
                            location.href = location.href; 
                        });
                    }
                },
                error: function(){
                    $(btnSubmit).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                }  
            });
            return false;
        }
    </script>
</div>