<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-bullhorn"></i> <?php echo $this->translate('Manage Promotions') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Manage Promotions') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Manage promtions by your restaurant') ?></h3>
    <p>
        <?php echo $this->translate('You can add, edit, change promotions order from here.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Settings saved successfully.') ?>
</div>
<?php endif; ?>

<div class="well well-sm">
    <a href="#dialog-addpromotion" data-toggle="modal" class="btn green"><i class="fa fa-plus"></i> <?php echo $this->translate('Add New Promotion') ?></a>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-location-arrow"></i>  <?php echo $this->translate('List of Promotions') ?>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr>
                        <th>#</th>
                        <th><?php echo $this->translate('Promotion Title') ?></th>
                        <th><?php echo $this->translate('Is Active?') ?></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->promotions) == 0): ?>
                    <tr>
                        <td colspan="4" style="text-align: center;">
                            <span class="label label-warning">
                                <?php echo $this->translate('No promotion(s) has been added yet!') ?>
                            </span>
                        </td>
                    </tr>
                    <?php else: ?>
                        <?php foreach($this->promotions as $index => $entry): ?>
                        <tr <?php if(!$entry->is_active): ?>class="danger"<?php endif; ?>>
                            <td><?php echo ($index + 1) ?></td>
                            <td><?php echo stripslashes($entry->promotion_title) ?></td>
                            <td><?php echo ($entry->is_active ? $this->translate('Active') : $this->translate('Deactive')) ?></td>
                            <td style="width: 200px;">
                                <select class="form-control" style="width: 200px;" onchange="doPromotionAction(this)" data-promotion-id="<?php echo $entry->promotion_id ?>">
                                    <option value=""><?php echo $this->translate('-- Select Action --') ?></option>
                                    <option value="editpromotion"><?php echo $this->translate('Edit') ?></option>
                                    <?php if($entry->is_active): ?>
                                    <option value="deactivatepromotion"><?php echo $this->translate('Deactivate') ?></option>
                                    <?php else: ?>
                                    <option value="activatepromotion"><?php echo $this->translate('Activate') ?></option>
                                    <?php endif; ?>
                                    <option value="moveuppromotion"><?php echo $this->translate('Move Up') ?></option>
                                    <option value="movedownpromotion"><?php echo $this->translate('Move Down') ?></option>
                                    <option value="deletepromotion"><?php echo $this->translate('Delete') ?></option>
                                </select>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script type="text/javascript">
    function doPromotionAction(el){
        var promotion_id = $(el).attr('data-promotion-id');
        switch(el.options[el.selectedIndex].value){
            case 'editpromotion': {
                el.selectedIndex = 0;
                $.get(
                    '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'promotions', 'action' => 'editpromotion'), 'default', true) ?>',
                    {'promotion_id': promotion_id},
                    function(html){
                        $('body').append(html);
                        $('#dialog-editpromotion').modal('show');
                    },
                    'html'
                );
                break;
            }
            case 'deactivatepromotion': {
                bootbox.confirm('<?php echo $this->translate('Are you sure to deactivate this promotion?') ?>', function(result){
                    if(result){
                        $('body').append(
                            '<form id="actionForm" method="post" action="">' +
                            '<input type="hidden" name="promotion_id" value="' + promotion_id + '" />' +
                            '<input type="hidden" name="doAction" value="deactivatepromotion" />' +
                            '</form>'
                        );
                        $('#actionForm').submit();
                    } 
                });
                break;
            }
            case 'activatepromotion': {
                $('body').append(
                    '<form id="actionForm" method="post" action="">' +
                    '<input type="hidden" name="promotion_id" value="' + promotion_id + '" />' +
                    '<input type="hidden" name="doAction" value="activatepromotion" />' +
                    '</form>'
                );
                $('#actionForm').submit();
                break;
            }
            case 'deletepromotion': {
                bootbox.confirm('<?php echo $this->translate('Are you sure to delete this promotion?') ?>', function(result){
                    if(result){
                        $('body').append(
                            '<form id="actionForm" method="post" action="">' +
                            '<input type="hidden" name="promotion_id" value="' + promotion_id + '" />' +
                            '<input type="hidden" name="doAction" value="deletepromotion" />' +
                            '</form>'
                        );
                        $('#actionForm').submit();
                    } 
                });
                break;
            }
            case 'moveuppromotion': {
                $('body').append(
                    '<form id="actionForm" method="post" action="">' +
                    '<input type="hidden" name="promotion_id" value="' + promotion_id + '" />' +
                    '<input type="hidden" name="doAction" value="moveuppromotion" />' +
                    '</form>'
                );
                $('#actionForm').submit();
                break;
            }
            case 'movedownpromotion': {
                $('body').append(
                    '<form id="actionForm" method="post" action="">' +
                    '<input type="hidden" name="promotion_id" value="' + promotion_id + '" />' +
                    '<input type="hidden" name="doAction" value="movedownpromotion" />' +
                    '</form>'
                );
                $('#actionForm').submit();
                break;
            }
        }
    }
</script>

<!-- add promotion dialog -->
<div class="modal fade" id="dialog-addpromotion" tabindex="-1" role="dialog">
    <form method="post" action="" onsubmit="return addPromotion()" class="form form-horizontal">
        <input type="hidden" name="doAction" value="addpromotion" />
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Add New Promotion') ?></h4>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="promotion_title">*<?php echo $this->translate('Promotion Title') ?></label>
                        <div class="col-sm-7">
                            <?php
                                echo $this->formText(
                                    'promotion_title',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="promotion_details"><?php echo $this->translate('Promotion Details') ?></label>
                        <div class="col-sm-7">
                            <?php
                                echo $this->formTextarea(
                                    'promotion_details',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 150px;'
                                    )
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="promotion_active"><?php echo $this->translate('Activate') ?></label>
                        <div class="col-sm-7">
                            <?php
                                echo $this->formRadio(
                                    'promotion_active',
                                    0,
                                    null,
                                    array(
                                        $this->translate(' No, not now'),
                                        $this->translate(' Yes, activate now')
                                    ),
                                    '&nbsp;&nbsp;&nbsp;'
                                );
                            ?>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn green" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Add') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
    <script type="text/javascript">
        function addPromotion(){
            var btnSubmit = $('#dialog-addpromotion button[type=submit]').eq(0);
            $.ajax({
                url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'promotions', 'action' => 'ajaxpromotions'), 'default', true) ?>',
                type: 'post',
                dataType: 'json',
                data: $('#dialog-addpromotion form').serialize(),
                beforeSend: function(){
                    $(btnSubmit).button('loading');
                },
                success: function(d){
                    $(btnSubmit).button('reset');
                    if(d.error){
                        bootbox.alert(d.errorMessage);
                    }else if(d.success){
                        bootbox.alert('<?php echo $this->translate('Promotion has been added successfully.') ?>', function(){
                            location.href = location.href; 
                        });
                    }
                },
                error: function(){
                    $(btnSubmit).button('reset');
                    bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                }  
            });
            return false;
        }
    </script>
</div>