<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-cutlery"></i> <?php echo $this->translate('Menu Carts') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb"> 
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'admin-managemeals', true) ?>"><?php echo $this->translate('Manage Menu Cart') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Manage the Menu Carts served by your Shops') ?></h3>
    <p>
        
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Settings saved successfully.') ?>
</div>
<?php endif; ?>

<ul class="nav nav-tabs">
  <li class="active"><a href="<?php echo $this->url(array(), 'admin-managemeals', true) ?>"><?php echo $this->translate('Regular Meals') ?></a></li>
  <li >
    <a  href="<?php echo $this->url(array(), 'admin-CrustSouce-crusts', true) ?>"><?php echo $this->translate(' Manage Extras ') ?></a>
  </li>
  <li>
    <a href="<?php echo $this->url(array(), 'admin-mealcategory', true) ?>"><?php echo $this->translate(' Manage Categories ') ?></a>
  </li>

</ul>

<div class="well well-sm">
    <div class="row">
        <div class="col-sm-6">
            <!--a href="#modal-add-category" data-toggle="modal" class="btn green"><i class="fa fa-plus"></i> <?php echo $this->translate('Add New Category') ?></a-->
            <a href="#modal-addmeal" data-toggle="modal" class="btn blue"><i class="fa fa-plus"></i> <?php echo $this->translate('Add New Menu Cart Item') ?></a>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right control-label col-sm-5" for="mealcategory"><?php echo $this->translate('Select Category:') ?></label>
                <div class="col-sm-7">
                    <?php
                        echo $this->formSelect(
                            'mealcategory',
                            $this->request->category,
                            array(
                                'class' => 'form-control',
                                'onchange' => "location.href = '".$this->url(array(), 'admin-managemeals', true)."' + (this.selectedIndex == 0 ? '' : ('?category=' + this.options[this.selectedIndex].value));"
                            ),
                            $this->mealscategories
                        )
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-location-arrow"></i>  <?php echo $this->translate('List of Menu Cart') ?>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover"    <?php

                    

                     if(count($this->paginator) > 0): ?> id="example" <?php endif; ?>>
                <thead>
                    <tr>
                        <th>#</th>
                        <th><?php echo $this->translate('Image'); ?></th>
                        <th><?php echo $this->translate('Item Name') ?></th>
                        <th><?php echo $this->translate('Cart Category') ?></th>
                        
                        <th><?php echo $this->translate('Price') ?></th>
                        <th><?php echo $this->translate('Extras') ?></th>
                        <th><?php echo $this->translate('Status') ?></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->meals) > 0): ?>
                        <?php foreach($this->paginator as $index => $entry): ?>
                        <tr <?php if(!$entry->is_active): ?>class="danger"<?php endif; ?>>
                            <td><?php echo ($index + 1) ?></td>
                            <td><img src="<?php echo UPLOAD_IMAGE.stripslashes(($entry->meal_image!=null? $entry->meal_image:'photo_not_available.png')) ?>" width="100px" height="100px"/></td>
                            <td><?php echo stripslashes($entry->meal_name) ?></td>
                            <td><?php echo stripslashes($entry->category_name) ?></td>
                            <td><!--i class="fa fa-try"></i--> <span class="glyphicon glyphicon-euro"></span> <?php echo number_format($entry->meal_price, 2) ?></td>
                            <td><?php echo $entry->total_selections . ' ' . $this->translate('selection(s)')  ?> / <?php echo $entry->total_addons . ' ' . $this->translate('addon(s)') ?></td>
                            <td>
                                <?php if($entry->is_active): ?>
                                <span class="label label-success"><?php echo $this->translate('Active'); ?></span>
                                <?php else: ?>
                                <span class="label label-danger"><?php echo $this->translate('Inactive'); ?></span>
                                <?php endif; ?>
                           </td>
                            <td style="width: 200px;">
                                <select name="meal_action" id="meal_action" class="form-control" style="width: 200px;" onchange="doAction(this)" data-meal-id="<?php echo $entry->meal_id ?>">
                                    <option><?php echo $this->translate('-- Select Action --') ?></option>
                                    <option value="editmeal"><?php echo $this->translate('Edit Meal') ?></option>
                                    <!--option value="manageselections"><?php //echo $this->translate('Manage Selections') ?></option-->
                                    <option value="manageaddons"><?php echo $this->translate('Manage Addons') ?></option>
                                    <?php if($entry->is_active): ?>
                                    <option value="deactivatemeal"><?php echo $this->translate('Deactivate Meal') ?></option>
                                    <?php else: ?>
                                    <option value="activatemeal"><?php echo $this->translate('Activate Meal') ?></option>
                                    <?php endif; ?>
                                    <option value="deletemeal"><?php echo $this->translate('Delete Meal') ?></option>
                                </select>
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php else: ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <span class="label label-warning">
                                <?php echo $this->translate('No meals added yet!') ?>
                            </span>
                        </td>
                    </tr>
                    <?php endif; ?>
                </tbody>
            </table>
            
              <?php if(count($this->meals) > 0): 
                   /*
                    echo $this->paginationControl($this->paginator, 
                                    'Sliding',
                                    'components/pagination.phtml');
                                    */ 
             endif; ?>
            
           
        </div>
    </div>
</div>
<script type="text/javascript">
    function doAction(el){
        var meal_id = $(el).attr('data-meal-id');
        switch(el.options[el.selectedIndex].value){
            case 'editmeal': {
                $.ajax({
                    url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'editmeal'), 'default', true) ?>',
                    type: 'get',
                    dataType: 'html',
                    data: {'meal_id' : meal_id},
                    success: function(html){ 
                        $('body').append(html);
                        $('#dialog-editmeal').modal('show');
                    },
                    error: function(){
                        bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                    } 
                });
                break;
            }
            case 'manageselections': {
                $.ajax({
                    url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'manageselections'), 'default', true) ?>',
                    type: 'get',
                    dataType: 'html',
                    data: {'meal_id' : meal_id},
                    success: function(html){
                        $('body').append(html);
                        $('#dialog-manageselections').modal('show');
                    },
                    error: function(){
                        bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                    } 
                });
                break;
            }
            case 'manageaddons': {
                $.ajax({
                    url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'manageaddons'), 'default', true) ?>',
                    type: 'get',
                    dataType: 'html',
                    data: {'meal_id' : meal_id},
                    success: function(html){
                        $('body').append(html);
                        $('#dialog-manageaddons').modal('show');
                    },
                    error: function(){
                        bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                    } 
                });
                break;
            }
            case 'deletemeal': {
                bootbox.confirm('<?php echo $this->translate('Are you sure to delete this meal?') ?>', function(result){
                    if(result == true){
                        $('body').append(
                            '<form id="doActionForm" method="post" action="">' +
                            '<input type="hidden" name="meal_id" value="' + meal_id + '" />' +
                            '<input type="hidden" name="doAction" value="deletemeal" />' +
                            '</form>'
                        );
                        $('#doActionForm').submit();
                    } 
                });
                break;
            }
            case 'activatemeal': {
                $('body').append(
                    '<form id="doActionForm" method="post" action="">' +
                    '<input type="hidden" name="meal_id" value="' + meal_id + '" />' +
                    '<input type="hidden" name="doAction" value="activatemeal" />' +
                    '</form>'
                );
                $('#doActionForm').submit();
                break;
            }
            case 'deactivatemeal': {
                bootbox.confirm('<?php echo $this->translate('Are you sure to deactivate this meal?') ?>', function(result){
                    if(result == true){
                        $('body').append(
                            '<form id="doActionForm" method="post" action="">' +
                            '<input type="hidden" name="meal_id" value="' + meal_id + '" />' +
                            '<input type="hidden" name="doAction" value="deactivatemeal" />' +
                            '</form>'
                        );
                        $('#doActionForm').submit();
                    } 
                });
                break;
            }
        }
        el.selectedIndex = 0;
    }
    function reloadDialog(dialog, meal_id){
        switch(dialog){
            case 'manageselections': {
                $('#dialog-manageselections').on('hidden.bs.modal', function(){
                    $('#dialog-manageselections').remove();
                    $.ajax({
                        url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'manageselections'), 'default', true) ?>',
                        type: 'get',
                        dataType: 'html',
                        data: {'meal_id' : meal_id},
                        success: function(html){
                            $('body').append(html);
                            $('#dialog-manageselections').modal('show');
                        },
                        error: function(){
                            bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                        } 
                    });
                });
                $('#dialog-manageselections').modal('hide');
                break;
            }
            case 'manageaddons': {
                $('#dialog-manageaddons').on('hidden.bs.modal', function(){
                    $('#dialog-manageaddons').remove();
                    $.ajax({
                        url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'manageaddons'), 'default', true) ?>',
                        type: 'get',
                        dataType: 'html',
                        data: {'meal_id' : meal_id},
                        success: function(html){
                            $('body').append(html);
                            $('#dialog-manageaddons').modal('show');
                        },
                        error: function(){
                            bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
                        } 
                    });
                });
                $('#dialog-manageaddons').modal('hide');
                break;
            }
        }
    }
</script>

<!-- Modal: Add Category -->
<div class="modal fade" id="modal-add-category" tabindex="-1" role="dialog">
    <form method="post" class="form form-horizontal" >
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Add Category') ?></h4>
                </div>
                <div class="modal-body">
                     
                    <div class="form-group">
                        <label class="control-label col-sm-4" for="category_name"><?php echo $this->translate('Category Name') ?>:</label>
                        <div class="col-sm-8">
                            <input type="text" name="category_name" class="form-control" required="required" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" onclick="addCategory()" class="btn green" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Add') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function addCategory(){
       
        var el = $('#modal-add-category').find('button[type=submit]').eq(0);
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxaddcategory'), 'default', true) ?>',
            type: 'post',
            dataType: 'json',
            data: $('#modal-add-category').find('form').serialize(),
            beforeSend: function(){
                $(el).button('loading');
            },
            success: function(d){
                $(el).button('reset');
                if(d.error){
                    bootbox.alert(d.errorMessage);
                }else if(d.success){
                    bootbox.alert('<?php echo $this->translate('Successfully added new category.') ?>', function(){
                        location.href = location.href;
                    });
                }
            },
            error: function(){
                $(el).button('reset');
                bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
            } 
        });
        return false;
    }
</script>

<!-- Modal: Add Meal -->
<div class="modal fade" id="modal-addmeal" tabindex="-1" role="dialog">
    <form method="post" id="addmeals" class="form form-horizontal" enctype="multipart/form-data" onsubmit="return addMeal()">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title"><?php echo $this->translate('Add Menu Cart Item') ?></h4>
                </div>
                <div class="modal-body">
                    
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealcategory">*<?php echo $this->translate('Select Category') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formSelect(
                                    'mealcategory',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                        
                                    ),
                                    $this->mealscategories
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealname">*<?php echo $this->translate('Item Name') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formText(
                                    'mealname',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )   
                                )
                            ?>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="control-label col-sm-3" for="mealname">*<?php echo $this->translate('Item Name In Dutch') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formText(
                                    'mealname_ar',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )   
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealdescription"><?php echo $this->translate('Item Description') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formTextarea(
                                    'mealdescription',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;'
                                    )
                                )
                            ?>
                        </div>
                    </div>
					  <div class="form-group">
                        <label class="control-label col-sm-3" for="mealdescription"><?php echo $this->translate('Item Description in Dutch') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formTextarea(
                                    'mealdescription_ar',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;'
                                    )
                                )
                            ?>
                        </div>
                    </div>
					<div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Select Enable if Custom Pizza') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                               
                               


                                    <?php
                                echo $this->formSelect(
                                    'custompizza',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                    ),
                                    array('0'=>'Disable','1'=>'Enable')
                                )
                            ?>

 
                                
                                 
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Select yes if Pizza') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"></span>
                               
                               


                                    <?php
                                echo $this->formSelect(
                                    'pizzaselect',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'onchange' =>'check_if_Pizaa(this.value)'
                                        
                                    ),
                                    array('no'=>'Select one option ','yes'=>'yes','no'=>'no')
                                )
                            ?>

 
                                
                                 
                            </div>
                        </div>
                    </div>
                    <div id="mealsizepices" style="display:none">
                       <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Small Size Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->IQD</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                             'id'    =>'small',
                                             'onkeyup'=>'makemainprisesame(this.value)'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>   
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Medium Size  Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->IQD</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                            'id'    =>'medium'
                                            
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>   <div class="form-group">
                        <label class="control-label col-sm-3" for="mealprice"><?php echo $this->translate('Large Size Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->IQD</span>
                                <?php
                                    echo $this->formText(
                                        'size[]',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                            'id'    =>'large'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                    </div>
                    <div class="form-group" id="mealpricediv">
                        <label class="control-label col-sm-3" for="mealprice">*<?php echo $this->translate('Price') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->IQD</span>
                                <?php
                                    echo $this->formText(
                                        'mealprice',
                                        null,
                                        array(
                                            'class' => 'form-control',
                                            'required' => 'required',
                                            'id'   =>'mealprice'
                                        )  
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label class="control-label col-sm-3" for="mealpic">*<?php echo $this->translate('Meal Pic') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formFile(
                                    'mealpic',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'id'       =>'mealpic'
                                    ),
                                    $this->mealpic
                                )
                            ?>
                        </div>
                    </div>
                    <!--  <div class="form-group">
                        <label class="control-label col-sm-3">*<?php echo $this->translate('Status') ?>:</label>
                        <div class="col-sm-6">    
                            <div class="input-group">
                               <span class="input-group-addon"><!--i class="fa fa-try"></i--</span>
                                <?php
                                        echo $this->formSelect(
                                            'is_enabled',
                                              (isset($this->data[0]['is_enabled'])?$this->data[0]['is_enabled']:$this->request->is_enabled),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div> -->
                       <div class="form-group">
                        <label class="control-label col-sm-3">*<?php echo $this->translate(' Select Crust Status') ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                 <span class="input-group-addon"><!--i class="fa fa-try"></i--></span>
                               <?php
                                        echo $this->formSelect(
                                            'crust_on',
                                              (isset($this->data[0]['crust_on'])?$this->data[0]['crust_on']:$this->request->crust_on),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-sm-3">*<?php echo $this->translate('Select Souce Status'); ?>:</label>
                        <div class="col-sm-6">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i--></span>
                                  <?php
                                        echo $this->formSelect(
                                            'souce_on',
                                              (isset($this->data[0]['souce_on'])?$this->data[0]['souce_on']:$this->request->souce_on),
                                            array( 'class' => 'form-control',
                                                 'required' => 'required'),
                                            array(
                                                '0' => $this->translate('Inactive'),
                                                '1' => $this->translate('Active')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="mealactive"><?php echo $this->translate('Activate') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formRadio(
                                    'mealactive',
                                    0,
                                    null,
                                    array(
                                        $this->translate('No, not now'),
                                        $this->translate('Yes, active now')
                                    ),
                                    '&nbsp;&nbsp;&nbsp;'
                                );
                            ?>
                            <p>
                                <small><?php echo $this->translate('If activated now, Menu cart will be live on the site.') ?></small>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit"  class="btn green" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Add') ?></button>
                    <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
                </div>
            </div>
        </div>
    </form>
</div>
<script type="text/javascript">
    function addMeal(){
    
        var btnSubmit = $('#modal-addmeal').find('button[type=submit]').eq(0);
        
        data = new FormData($('#modal-addmeal').find('form')[0]);
       
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'meals', 'action' => 'ajaxaddmeal'), 'default', true) ?>',
            type: 'post',
            dataType: 'json',
            processData: false,
            contentType: false,
            data:data,
            beforeSend: function(){
                $(btnSubmit).button('loading');
            },
            success: function(d){
                $(btnSubmit).button('reset');
                if(d.error){
                    alert(d.errorMessage);
                }else if(d.success){
                    bootbox.alert(
                        '<?php echo $this->translate('Meal has been added successfully.') ?>',
                        function(){
                            location.href = location.href;
                        }
                    );
                }
            },
            error: function(){
                $(btnSubmit).button('reset');
                bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
            }
        });
        return false;
    }
    
   
    function check_if_Pizaa(val)
    {
        
       if(val=='yes')
       {
           
        $('#mealsizepices').show('slow');   
        $('#mealpricediv').hide('slow');
       }
       else
       {
           
        $('#mealsizepices').hide('slow');
        $('#mealpricediv').show('slow');
           
       }
       
        
        
        
    }
    /*
    * function to make main price same in meal price as well 
     */
    function makemainprisesame(vale)
    {
        
       
       $('#mealprice').val(vale);
       
    }
</script>