<!-- BEGIN SIDEBAR MENU -->        
<ul class="page-sidebar-menu">
	<li>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone"></div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <br />
	</li>
	<li class="start <?php if($this->sidebar_menu_item == 'dashboard'): ?>active<?php endif; ?> ">
		<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>">
            <i class="fa fa-home"></i> 
            <span class="title"><?php echo $this->translate('Dashboard') ?></span>
            <span class="selected"></span>
		</a>
	</li>
    <li class="<?php if($this->sidebar_menu_item == 'restaurants'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>">
            <i class="fa fa-cutlery"></i>
            <span class="title"><?php echo $this->translate('Deliver Points') ?></span>
        </a>
    </li>
    
    <li class="<?php if($this->sidebar_menu_item == 'managemeals'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-managemeals', true) ?>">
            <i class="fa fa-cutlery"></i>
            <span class="title"><?php echo $this->translate('Menu Cart') ?></span>
        </a>
    </li>
    
    <!--li class="">
        <a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Promotions') ?></span>
        </a>
    </li-->
    
    <li class="<?php if($this->sidebar_menu_item == 'Reports'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(),'admin-Report',true); ?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Report Center') ?></span>
        </a>
    </li>
     <!--li class="<?php if($this->sidebar_menu_item == 'Commission Center'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-Report-invoiceperres', true) ;?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Commission Center') ?></span>
        </a>
    </li-->


    <!--li class="last">
        <a href="javascript:;">
            <i class="fa fa-wrench"></i>
            <span class="title"><?php echo $this->translate('Website Settings') ?></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li>
                <a href="<?php echo $this->url(array(), 'admin-settings-locations', true) ?>"><i class="fa fa-location-arrow"></i> <?php echo $this->translate('Location Manager') ?></a>
            </li>
        </ul>
    </li-->
</ul>
<!-- END SIDEBAR MENU -->