<style>.page-sidebar-menu .dropdown-menu { background: #000 none repeat scroll 0 0; border: medium none; width: 100%;}
.page-sidebar-menu .dropdown-menu li > a {color: #fff;}</style>
<!-- BEGIN SIDEBAR MENU -->        
<ul class="page-sidebar-menu">
	<li>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
		<div class="sidebar-toggler hidden-phone"></div>
		<!-- BEGIN SIDEBAR TOGGLER BUTTON -->
        <br />
	</li>
	<li class="start <?php if($this->sidebar_menu_item == 'dashboard'): ?>active<?php endif; ?> ">
		<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>">
            <i class="fa fa-home"></i> 
            <span class="title"><?php echo $this->translate('Dashboard') ?></span>
            <span class="selected"></span>
		</a>
	</li>
        <!--<li class="start <?php if($this->sidebar_menu_item == 'User'): ?>active<?php endif; ?> ">
		<a href="<?php echo $this->url(array(), 'admin-user', true) ?>">
            <i class="fa fa-user"></i> 
            <span class="title"><?php echo $this->translate('User Management') ?></span>
            <span class="selected"></span>
		</a>
	</li>-->
<!--     <li class="<?php if($this->sidebar_menu_item == 'restaurants'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>">
            <i class="fa fa-map-marker"></i>
            <span class="title"><?php echo $this->translate('Shop Management') ?></span>
        </a>
    </li> -->
  
    <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown">Shop Management<span class="fa fa-chevron-down"></span></a>
     <ul class="dropdown-menu">  
                    <!-- <li><a href="admin/Freelancer/newrequest">New Request</a></li> -->
                    <li><a href="admin/restaurant/pendingrequest">Pending Request</a></li>  
                    <li><a href="<?php echo $this->url(array(), 'admin-restaurant', true) ?>">Shop List</a></li>                 
       </ul></li>
 
    <!--li class="<?php if($this->sidebar_menu_item == 'managemeals'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-managemeals', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Menu Cart') ?></span>
        </a>
    </li-->
     <!--<li class="<?php //if($this->sidebar_menu_item == 'mealcategory'): ?>active<?php //endif; ?>">
        <a href="<?php //echo $this->url(array(), 'admin-mealcategory', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php //echo $this->translate('Manage Meal Categories') ?></span>
        </a>
    </li>-->
      <!--li class="<?php if($this->sidebar_menu_item == 'crust'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-CrustSouce-crusts', true) ?>">
            <i class="fa fa-bullhorn"></i>
            <span class="title"><?php echo $this->translate('Manage Extras') ?></span>
        </a>
    </li-->
    <!--li class="<?php if($this->sidebar_menu_item == 'coupons'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-coupons', true) ?>">
           <i class="fa fa-meh-o"></i>  
            <span class="title"><?php echo $this->translate('Manage Coupons') ?></span>
        </a>
    </li>
       <li class="<?php if($this->sidebar_menu_item == 'bulkoffer'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-bulkoffer', true) ?>">
           <i class="fa fa-envelope-o"></i>  
            <span class="title"><?php echo $this->translate('Bulk Offers Panel') ?></span>
        </a>
    </li>
	 <li class="<?php if($this->sidebar_menu_item == 'notify'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-notify-setting', true) ?>">
           <i class="fa fa-envelope-o"></i>  
            <span class="title"><?php echo $this->translate('Notification Setting'); ?></span>
        </a>
    </li-->
     
    <!--<li class="<?php if($this->sidebar_menu_item == 'Reports'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(),'admin-Report',true); ?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Report Center') ?></span>
        </a>
    </li>-->
<!--     <li class="<?php if($this->sidebar_menu_item == 'Commission Center'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-Report-invoiceperres', true) ;?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Commission Center') ?></span>
        </a>
    </li> -->


    <!--<li class="last  <?php if($this->sidebar_menu_item == 'Reports'): ?>active<?php endif; ?>" >
        <a href="javascript:;">
            <i class="fa fa-signal"></i>
            <span class="title"><?php echo $this->translate('Report') ?></span>
            <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
            <li  class="<?php if($this->sidebar_submenu_item == 'Reportsmain'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'admin-Report',true); ?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Over All Report') ?></span>
             </a>
            </li>
            <li  class="<?php if($this->sidebar_submenu_item == 'combine'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'admin-Report-combinereport',true); ?>">
            <i class="fa fa-edit"></i>
            <span class="title"><?php echo $this->translate('Combined Report') ?></span>
             </a>
            </li>
				<li  class="<?php if($this->sidebar_submenu_item == 'reportper'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'admin-Report-reportper',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Report Filter') ?></span> 
             </a>
            </li>
			<li  class="<?php if($this->sidebar_submenu_item == 'delivery'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'admin-Report-deliverreport',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Delivery Report') ?></span>   
             </a>
            </li>
			<li  class="<?php if($this->sidebar_submenu_item == 'Customerhistory'): ?>active<?php endif; ?>">
             <a href="<?php echo $this->url(array(),'admin-Report-Customerhistory',true); ?>">
              <i class="fa fa-edit"></i>
              <span class="title"><?php echo $this->translate('Customer Order History'); ?></span> 
             </a>
            </li>
            
        </ul>
    </li>-->
<!-- <li class="<?php if($this->sidebar_menu_item == 'feedback'): ?>active<?php endif; ?>">    
    <a href="<?php echo $this->url(array(), 'admin-feedback-feedback', true) ?>">            
	  <i class="fa fa-comments"></i>
	<span class="title"><?php echo $this->translate('Feedback') ?>
	</span>        </a>    </li> -->

	<li class="<?php if($this->sidebar_menu_item == 'category'): ?>active<?php endif; ?>"> <a href="<?php echo $this->url(array(), 'admin-restaurant-category', true) ?>">  <i class="fa fa-location-arrow"></i> <span class="title"><?php echo $this->translate('Shop Category Management') ?></span> </a></li>	

 <!-- <li class="<?php if($this->sidebar_menu_item == 'Location With Area'): ?>active<?php endif; ?>">        <a href="<?php echo $this->url(array(), 'admin-settings-locationsarea', true) ?>">            <i class="fa fa-location-arrow"></i>            <span class="title"><?php echo $this->translate('Location With Area') ?></span>        </a>    </li>--> 

<!--     <li class="<?php if($this->sidebar_menu_item == 'backup'): ?>active<?php endif; ?>">
        <a href="<?php echo $this->url(array(), 'admin-Backup', true) ?>">
            <i class="fa fa-upload"></i>
            <span class="title"><?php echo $this->translate(' Database Back Up') ?></span>
        </a>
    </li>	  --> 

<li class="<?php if($this->sidebar_menu_item == 'entrance'): ?>active<?php endif; ?>">
        <a href="admin/Freelancer/entrancefee">
            <i class="fa fa-ticket" aria-hidden="true"></i>
            <span class="title"><?php echo $this->translate('Entrance Fee Management') ?></span>
        </a>
    </li> 
    <li class="<?php if($this->sidebar_menu_item == 'vat'): ?>active<?php endif; ?>">
        <a href="admin/freelancer/vat">
            <i class="fa fa-gbp" aria-hidden="true"></i>
            <span class="title"><?php echo $this->translate('Vat Management') ?></span>
        </a>
    </li> 

<li class="dropdown"><a class="dropdown-toggle"  data-toggle="dropdown">Freelancer Section<span class="fa fa-chevron-down"></span></a>
     <ul class="dropdown-menu">  
                    <!-- <li><a href="admin/Freelancer/newrequest">New Request</a></li> -->
                    <li><a href="admin/Freelancer/pendingrequest">Pending Request</a></li>  
                    <li><a href="admin/Freelancer">Freelancers List</a></li>                 
       </ul></li>
<!--    <li class="<?php if($this->sidebar_menu_item == 'order'): ?>active<?php endif; ?>">
        <a href="admin/freelancer/orderlist">
           <i class="icon-tasks"></i>
            <span class="title"><?php echo $this->translate('Orders List') ?></span>
        </a>
    </li>  -->
<!-- END SIDEBAR MENU -->