<?php
// this edit form  for partiular restaurant  particular order 
 ?>
 
  <div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Feedback Detail') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-envelope-o"></i>
                <a href="<?php echo $this->url(array(), 'admin-feedback-feedback', true) ?>"><?php echo $this->translate('Feedback Management') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li> <?php echo $this->translate('Feedback Detail') ?></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row" id="printme">
    <div class="col-sm-12">
   
	<div class="row margin-bottom-20">
	<div class="col-md-12">
            
           
	<?php
		 foreach($this->data as $key=>$entry):
		?>
                   
		<p style="width: 375px; float:left;">
                    
		  <b>User Name:  &nbsp;</b>&nbsp;<span class="label label-warning"><?php echo $this->escape(stripslashes($entry->FirstName)) ?> <?php echo $this->escape(stripslashes($entry->LastName)) ?></span><br/>
		  </p>
                  
                  <p>
                      <b>#Order ID: <span class="label label-warning"><?php echo $this->escape(stripslashes($entry->order_id)) ?> </span><br/>
                  </p>
		
	
		
		<?php endforeach; ?>
		</div>
</div>
			<div class="row">
	<div class="col-md-6">
	
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-envelope-o"></i>Feedback</div>
				
			</div>
			<div class="portlet-body">
                            <div>
                              
                                <?php
                                echo  $this->escape($entry->comment); 
                                    
                             
                                ?>
                            </div>
			</div>
		</div>
			<div class="portlet box ">
		<?php if($this->restaurants->count>0): ?>
		<div class="portlet box">
              
				<table class="table table-hover">

					<thead>

						<tr style="    background-color: #CCE;">

							<th>Order Id</th>

							<th>Product Name</th>
							<th>Product Add'ons</th>
							<th>Product Extras</th>
                            <th>Quantity</th>
							<th>Price</th>
                            <th>Sub Total </th>
							

							<!--<th>Status</th>-->

						</tr>

					</thead>

					<tbody>

					<?php

					 

		 foreach($this->restaurants->list as $key=>$data):

		   

	       $serialized_data = $this->getHelper('RestaurantHelper')
	   ->Making_report_proper($data->cart);
    
		 foreach ($serialized_data->cart as $ke => $valu) {
		 	
		 

		  ?>

						<tr>
                            <td>#  <?php echo $data->id ?></td>
							<td><?php echo $valu->product_Name; ?></td>

							<td><?php echo $valu->product_Addons; ?></td>

							<td ><?php echo $valu->product_Crusts; ?><br/>

                              <?php echo $valu->product_Sauces; ?>
							 </td>
							 <td><?php  echo $valu->product_quantity; ?></td>
							 <td><?php echo $valu->product_Price; ?> SAR</td>
							 <td ><?php echo $valu->productSubTotal; ?> SAR

                              
							 </td>
							 

							<!--<td><span class="label label-success">Approved</span></td>-->

						</tr>

						<?php
                        }

						 endforeach; ?>
<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-warning"><?php echo $this->translate('Including  %'.$data->taxpay.' Tax'); ?>
						<span></td>
                <td><?php echo $data->c_tax; ?> SAR</td>
				</tr>

				<?php if(isset($this->discountdetail[0]->discount_type)): ?>
<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-success"><?php echo $this->translate('Discount Type'); ?>
						<span></td>
                <td><?php echo $this->discountdetail[0]->discount_type; ?> </td>
				</tr>
			<?php endif;?>
             <?php if(isset($this->discountdetail[0]->discount)): ?>
				<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-success"><?php echo $this->translate('Discount'); ?>
						<span></td>
                <td><?php
                if( $this->discountdetail[0]->discount_type=='cash'):

                 echo $this->discountdetail[0]->discount.'  '.' SAR'; 
             else:
            echo $this->discountdetail[0]->discount;
             	endif;?> </td>
				</tr>
			<?php endif;?>

				<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-danger"><?php echo $this->translate('Total Cart Amount'); ?><span></td>
                <td><?php echo $data->total_amount; ?> SAR</td>
				</tr>

					</tbody>

				</table>

			</div>
			<?php endif; ?>
			</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
	
</div>
		
		
		
		
    </div>
	

	
	
</div>

<script> 
 
 function printContent()
 {
   document.getElementById("hidemeass").style.display = "none";
   var printcontent = document.getElementById('printme').innerHTML;
   document.body.innerHTML = printcontent; 
   window.print(); 
   
  } 
</script>