
  <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>/date/include/jquery-1.9.0.min.js"></script>

  <style>
      .slider.slider-horizontal {
    margin: 0 3% !important;
    width: 94% !important;
}
      </style>
  <div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Coupon Management') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'admin-coupons', true) ?>"><?php echo $this->translate('Coupon Management') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#"><i class="fa fa-plus"></i> <?php echo $this->translate(Add/Edit) ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate('  Coupon Data is successfully saved') ?>.</h4>
            <p>
               
            </p>
        </div>
        <?php else: ?>
        <div class="note note-info">
            <h3><?php echo $this->translate($this->event.'Coupon to the system'); ?></h3>
           
        </div>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errormessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Coupon Add/Edit'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="first_name" class="control-label col-md-2">*<?php echo $this->translate('Coupon Code'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-meh-o"></i></span>
                                <?php
                              
                                   $bytes = rand(1000, 10000);
                                    echo $this->formText(
                                        'code',
                                        (isset($this->data[0]->code)?$this->data[0]->code: base64_encode($bytes)),
                                        array(
                                            'required' => 'required',
                                            
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="control-label col-md-2">*<?php echo $this->translate('Expirary Date'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                               
                                    echo $this->formText(
                                        'expiry_date',
                                         (isset($this->data[0]->expiry_date)?date('Y-m-d',$this->data[0]->expiry_date):$this->request->expiry_date),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Set Expirary Date'),
                                            'class' => 'form-control',
                                            'id'   =>'expirary'
                                            
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    
                 
                      <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Select Dicount Type'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                           <span class="input-group-addon"><i class="fa fa-meh-o"></i></span>
                              
                              <?php
                                    echo $this->formSelect(
                                        'discount_type',
                                       (isset($this->data[0]->discount_type)?$this->data[0]->discount_type:$this->request->discount_type),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'onchange' => 'checkdicount(this)'
                                        ),
                                        array('cash'=>'cash','offer'=>'offer')
                                    )
                                ?>
                        </div>
                    </div>
                    </div>
                       <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Dicount Offers'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-meh-o"></i></span>
                               <?php
                                echo $this->formText(
                                    'discount',
                                    (isset($this->data[0]->discount)?$this->data[0]->discount:$this->request->discount),
                                    array(
                                        'placeholder' => $this->translate('Enter Discount items or amount'),
                                        'class' => 'form-control',
                                        
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    </div>
                     <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('No Of Uses'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-meh-o"></i></span>
                               <?php
                                echo $this->formText(
                                    'no_of_uses',
                                    (isset($this->data[0]->no_of_uses)?$this->data[0]->no_of_uses:$this->request->no_of_uses),
                                    array(
                                        'placeholder' => $this->translate('Enter No Of Uses Coupons'),
                                        'class' => 'form-control',
                                        'required' => 'required',
                                           
                                  
                                        )
                                )
                            ?>
                        </div>
                    </div>
                    </div>
                     <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Age Ranges'); ?>:</label>

                        <?php if(isset($this->data[0]->ages_range))
                                 {
                                  
                                  $ages = $this->data[0]->ages_range;
                                   
                                 } 
                                else 
                                {
                                  $ages ='1,150';
                              
                                } 
                    ?>
                        <div class="col-md-8">
                            <div class="input-group">
                             <span class="input-group-addon"><i id="rangleagefirst">0</i></span>
                           <input type="text" class="span2" value="" data-slider-min="<?php (isset($this->data[0]->ages_range)?$this->data[0]->ages_range:1) ?>" data-slider-max="150" data-slider-step="5" data-slider-value="[<?php echo $ages; ?>]" data-slider-orientation="horizontal" 
                                  data-slider-selection="after"data-slider-tooltip="hide" id="ages">
                           <span class="input-group-addon"><i id="rangleagelast">150</i></span>
                           <input type ="hidden" name="ages_range" value="<?php echo $ages ?>" id="agesrange"/>
                            </div>
                    </div>
                    </div>
                     <?php if(isset($this->data[0]->money_range))
                                 {
                                  
                                  $money = $this->data[0]->money_range;
                                   
                                 } 
                                else 
                                {
                                $money =0;
                              
                                } 
                    ?>
                      <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Money Range'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"> <i class="fa fa-money"></i></span>
                        <input type="text" class="span2" value="" data-slider-min="1" data-slider-max="10000" data-slider-step="5" data-slider-value="<?php echo $money ?>" data-slider-orientation="horizontal" 
                                  data-slider-selection="after"data-slider-tooltip="hide" id="money"> 
                             <span class="input-group-addon"><i id="moneyshow"><?php echo $money ?></i> &nbsp; SAR</span>
                           
                             <input type ="hidden" name="money_range" value="<?php echo  $money; ?>" id="moneyrange"/>
                             
                             
                             
                        </div>
                    </div>
                    </div>
                  
                    
                   
                  
                </div>
            </div>
            <div class="portlet solid light-grey">
               
           
                 
                 
                    
                  
                
                    </div>
                </div>
            </div>
          
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Coupon'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>


<script>
    jQuery(document).ready(function()
    {

        
       $('#ages').slider()
       .on('slide', function(ev){
          
        $('#rangleagefirst').html(ev.value[0]); 
        $('#rangleagelast').html(ev.value[1]); 
        $('#agesrange').val(ev.value);
  });
        $('#money').slider().on('slide', function(ev){
        $('#moneyrange').val(ev.value);
        $('#moneyshow').html(ev.value);
  });
         $('#expirary').datepicker({ dateFormat:'yy-mm-dd'});
    });
   
    </script>