<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-cogs"></i> <?php echo $this->translate('Shop Settings') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Settings') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Modify your working hours') ?></h3>
</div>

<ul class="nav nav-tabs">
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-settings', true) ?>"><?php echo $this->translate('General Settings') ?></a></li>
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-managedeliveryareas') ?>"><?php echo $this->translate('Delivery Areas') ?></a></li>
  <li class="active"><a href="<?php echo $this->url(array(), 'restaurant-admin-manageworkinghours') ?>"><?php echo $this->translate('Manage Working Hours') ?></a></li>
</ul>

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-clock-o"></i> <?php echo $this->translate('List of Working Hours') ?>
        </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="active">
                        <th><?php echo $this->translate('Weekday') ?></th>
                        <th><?php echo $this->translate('Working Hours') ?></th>
                        <th>&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td style="width: 30%;"><?php echo $this->translate('Sunday') ?></td>
                        <td style="width: 60%;">
                            <?php if($this->workingHours['sun']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['sun']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['sun']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td style="width: 10%;">
                            <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'sun')" 
                                data-start-time="<?php echo $this->workingHours['sun']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['sun']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['sun']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Monday') ?></td>
                        <td>
                            <?php if($this->workingHours['mon']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['mon']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['mon']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'mon')" 
                                data-start-time="<?php echo $this->workingHours['mon']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['mon']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['mon']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Tuesday') ?></td>
                        <td>
                            <?php if($this->workingHours['tue']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['tue']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['tue']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'tue')" 
                                data-start-time="<?php echo $this->workingHours['tue']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['tue']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['tue']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Wednesday') ?></td>
                        <td>
                            <?php if($this->workingHours['wed']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['wed']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['wed']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'wed')" 
                                data-start-time="<?php echo $this->workingHours['wed']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['wed']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['wed']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Thursday') ?></td>
                        <td>
                            <?php if($this->workingHours['thu']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['thu']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['thu']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'thu')" 
                                data-start-time="<?php echo $this->workingHours['thu']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['thu']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['thu']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Friday') ?></td>
                        <td>
                            <?php if($this->workingHours['fri']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['fri']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['fri']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'fri')" 
                                data-start-time="<?php echo $this->workingHours['fri']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['fri']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['fri']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><?php echo $this->translate('Saturday') ?></td>
                        <td>
                            <?php if($this->workingHours['sat']->is_closed): ?>
                                - <?php echo $this->translate('Closed on this day'); ?> -
                            <?php else: ?>
                                <i class="fa fa-clock-o"></i> Start Time: <?php echo $this->workingHours['sat']->start_time ?> -
                                <i class="fa fa-clock-o"></i> End Time: <?php echo $this->workingHours['sat']->end_time ?>
                            <?php endif; ?>
                        </td>
                        <td>
                             <button class="btn blue btn-sm" onclick="editWorkingHour(this, 'sat')" 
                                data-start-time="<?php echo $this->workingHours['sat']->start_time ?>" 
                                data-end-time="<?php echo $this->workingHours['sat']->end_time ?>" 
                                data-is-closed="<?php echo $this->workingHours['sat']->is_closed ?>"
                            >
                                <i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-edit-working-hours" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Edit Working Hour') ?></h4>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="return false;" action="" class="form form-horizontal">
                    <input type="hidden" name="working_day" id="working_day" value="" />
                    <div class="form-group">
                        <label class="control-label col-sm-4"><?php echo $this->translate('Working Day') ?>:</label>
                        <div class="col-sm-6">
                            <input type="text" id="working_day_display" class="form-control" readonly="readonly" value="" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"><?php echo $this->translate('Is closed?') ?>:</label>
                        <div class="col-sm-8">
                            <?php
                                echo $this->formRadio(
                                    'is_closed',
                                    null,
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array($this->translate('No, opened'), $this->translate('Yes, closed')),
                                    '&nbsp;&nbsp;&nbsp;'
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"><?php echo $this->translate('Start Time') ?>:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="start_time" id="start_time" class="form-control" placeholder="0.00" value="" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-4"><?php echo $this->translate('End Time') ?>:</label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input type="text" name="end_time" id="end_time" class="form-control" placeholder="0.00" value="" />
                                <div class="input-group-btn">
                                    <button type="button" class="btn btn-default"><i class="fa fa-clock-o"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" onclick="saveWorkingHour(this)" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check-circle"></i> <?php echo $this->translate('Add') ?></button>
                <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editWorkingHour(el, day){
        $('#working_day').val(day);
        switch(day){
            case 'sun': $('#working_day_display').val('<?php echo $this->translate('Sunday') ?>'); break;
            case 'mon': $('#working_day_display').val('<?php echo $this->translate('Monday') ?>'); break;
            case 'tue': $('#working_day_display').val('<?php echo $this->translate('Tuesday') ?>'); break;
            case 'wed': $('#working_day_display').val('<?php echo $this->translate('Wednesday') ?>'); break;
            case 'thu': $('#working_day_display').val('<?php echo $this->translate('Thursday') ?>'); break;
            case 'fri': $('#working_day_display').val('<?php echo $this->translate('Friday') ?>'); break;
            case 'sat': $('#working_day_display').val('<?php echo $this->translate('Saturday') ?>'); break;
        }
        $('#start_time').val($(el).attr('data-start-time'));
        $('#end_time').val($(el).attr('data-end-time'));
        if($(el).attr('data-is-closed') == "1"){
            $('#is_closed-0').closest('span').removeClass("checked");
            $('#is_closed-0').get(0).checked = false;
            $('#is_closed-1').closest('span').addClass("checked");
            $('#is_closed-1').get(0).checked = true;
        }else{
            $('#is_closed-0').closest('span').addClass("checked");
            $('#is_closed-0').get(0).checked = true;
            $('#is_closed-1').closest('span').removeClass("checked");
            $('#is_closed-1').get(0).checked = false;
        }
        $('#modal-edit-working-hours').modal('show');
        
        $('#start_time').clockface({format: 'HH:mm', trigger: 'manual'});
        $('#end_time').clockface({format: 'HH:mm', trigger: 'manual'});
        $('#start_time').closest('div').find('button').click(function(e){
            e.stopPropagation();
            $('#start_time').clockface('toggle');
        });    
        $('#end_time').closest('div').find('button').click(function(e){
            e.stopPropagation();
            $('#end_time').clockface('toggle');
        });
    }
    function saveWorkingHour(el){
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'settings', 'action' => 'ajaxmodifyworkinghour'), 'default', true) ?>',
            type: 'post',
            dataType: 'json',
            data: $('#modal-edit-working-hours').find('form').eq(0).serialize(),
            beforeSend: function(){
                $(el).button('loading');
            },
            success: function(d){
                $(el).button('reset');
                if(d.error){
                    bootbox.alert(d.errorMessage);
                }else if(d.success){
                    bootbox.alert('<?php echo $this->translate('Working Hour updated successfully.') ?>', function(){
                        location.href = location.href;
                    });
                }
            },
            error: function(){
                $(el).button('reset');
                bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
            } 
        });
    }
</script>