<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-cogs"></i> <?php echo $this->translate('Shop Settings') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Settings') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Modify delivery areas served by your restaurant') ?></h3>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Settings saved successfully.') ?>
</div>
<?php endif; ?>

<ul class="nav nav-tabs">
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-settings', true) ?>"><?php echo $this->translate('General Settings') ?></a></li>
  <li class="active">
    <a href="<?php echo $this->url(array(), 'restaurant-admin-managedeliveryareas') ?>"><?php echo $this->translate('Delivery Areas') ?></a>
  </li>
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-manageworkinghours') ?>"><?php echo $this->translate('Manage Working Hours') ?></a></li>
</ul>

<br />

<div class="portlet box blue">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-location-arrow"></i>  <?php echo $this->translate('List of Delivery Areas') ?>
        </div>
        <div class="actions">
            <a href="#modal-add-delivery-area" data-toggle="modal" class="btn btn-sm yellow"><i class="fa fa-plus"></i> <?php echo $this->translate('Add Delivery Area') ?></a>
        </div>
    </div>
    <div class="portlet-body">
        <?php if(count($this->deliveryAreas) > 0): ?>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 10%;">#</th>
                        <th style="width: 20%;"><?php echo $this->translate('Delivery City') ?></th>
                        <th style="width: 35%;"><?php echo $this->translate('Delivery Location') ?></th>
                        <th style="width: 20%;"><?php echo $this->translate('Min. Delivery Amount') ?></th>
                        <th style="width: 15%;">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                    <?php foreach($this->deliveryAreas as $index => $entry): ?>
                    <tr>
                        <td><?php echo ($index + 1) ?></td>
                        <td><?php echo $entry->location_city ?></td>
                        <td><?php echo $entry->location_name ?></td>
                        <td class="text-right"><i class="fa fa-try"></i> <?php echo number_format($entry->minimum_delivery_amount, 2) ?></td>
                        <td class="text-center">
                            <button type="button" class="btn blue btn-sm" onclick="editAmount(<?php echo $entry->restaurant_id ?>, <?php echo $entry->location_id ?>)"><i class="fa fa-pencil-square"></i> <?php echo $this->translate('Edit') ?></button>
                            <button type="button" class="btn red btn-sm" onclick="deleteDeliveryArea(<?php echo $entry->restaurant_id ?>, <?php echo $entry->location_id ?>)"><i class="fa fa-minus"></i> <?php echo $this->translate('Delete') ?></button>
                        </td>
                    </tr>
                    <?php endforeach; ?>
                </tbody>
            </table>
        </div>
        <?php else: ?>
        <div class="text-center">
            <span class="label label-warning"><?php echo $this->translate('No delivery areas added yet') ?></span>
        </div>
        <?php endif; ?>
    </div>
</div>
<script type="text/javascript">
    function deleteDeliveryArea(resid, locid){
        bootbox.confirm('<?php echo $this->translate('Are you sure to remove this delivery area?') ?>', function(result){
            if(result){
                $('body').append(
                    '<form id="frm_delete_da" method="post" action="">' +
                    '<input type="hidden" name="xaction" value="delete" />' +
                    '<input type="hidden" name="restaurant_id" value="' + resid + '" />' +
                    '<input type="hidden" name="location_id" value="' + locid + '" />' +
                    '</form>'
                );
                $('#frm_delete_da').submit();
            }
        });
    }
</script>

<!-- Modal: Add Delivery Area -->
<div class="modal fade" id="modal-add-delivery-area" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Add Delivery Area') ?></h4>
            </div>
            <div class="modal-body">
                <form method="post" onsubmit="return false;" action="" class="form form-horizontal">
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="re_city"><?php echo $this->translate('Select City') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formSelect(
                                    'res_city',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'onchange' => 'loadLocations(this)' 
                                    ),
                                    $this->cities
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="re_city"><?php echo $this->translate('Select Location') ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formSelect(
                                    'res_location',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    ),
                                    $this->locations
                                );
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="re_city"><?php echo $this->translate('Min. Delivery Amount') ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_delivery_fees',
                                        $this->request->res_delivery_fees,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" onclick="addDeliveryArea(this)" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check-circle"></i> <?php echo $this->translate('Add') ?></button>
                <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function addDeliveryArea(el){
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'settings', 'action' => 'ajaxadddeliveryarea'), 'default', true) ?>',
            type: 'post',
            dataType: 'json',
            data: $('#modal-add-delivery-area').find('form').eq(0).serialize(),
            beforeSend: function(){
                $(el).button('loading');
            },
            success: function(d){
                $(el).button('reset');
                if(d.error){
                    bootbox.alert(d.errorMessage);
                }else if(d.success){
                    bootbox.alert('<?php echo $this->translate('Successfully added new delivery area.') ?>', function(){
                        location.href = location.href;
                    });
                }
            },
            error: function(){
                $(el).button('reset');
                bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
            } 
        });
    }
</script>

<!-- Modal: Edit Delivery Amount -->
<div class="modal fade" id="modal-edit-delivery-amount" tabindex="-1" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title"><?php echo $this->translate('Edit Min. Delivery Amount') ?></h4>
            </div>
            <div class="modal-body">
                <form method="post" class="form form-horizontal" role="form" action="" onsubmit="return false;">
                    <input type="hidden" id="restaurant_id" name="restaurant_id" value="" />
                    <input type="hidden" id="location_id" name="location_id" value="" />
                    <div class="form-group">
                        <label class="col-md-4 control-label"><?php echo $this->translate('Min. Delivery Amount') ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><span class="fa fa-try"></span></span>
                            <?php
                                echo $this->formText(
                                    'delivery_amount',
                                    null,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required'
                                    )
                                );
                            ?>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn green" onclick="saveAmount(this)" data-loading-text="<?php echo $this->translate('Please wait...') ?>"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
                <button type="button" class="btn red" data-dismiss="modal"><i class="fa fa-minus"></i> <?php echo $this->translate('Cancel') ?></button>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    function editAmount(resid, locid){
        $('#restaurant_id').val(resid);
        $('#location_id').val(locid);
        $('#modal-edit-delivery-amount').modal('show');
    }
    function saveAmount(el){
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'settings', 'action' => 'ajaxsaveamount'), 'default', true) ?>',
            type: 'post',
            dataType: 'json',
            data: $('#modal-edit-delivery-amount').find('form').eq(0).serialize(),
            beforeSend: function(){
                $(el).button('loading');
            },
            success: function(d){
                $(el).button('reset');
                if(d.error){
                    bootbox.alert(d.errorMessage);
                }else if(d.success){
                    bootbox.alert('<?php echo $this->translate('Successfully modified minimum delivery amount.') ?>', function(){
                        location.href = location.href;
                    });
                }
            },
            error: function(){
                $(el).button('reset');
                bootbox.alert('<?php echo $this->translate('Something went wrong. Please re-try again.') ?>');
            } 
        });
    }
</script>