<!-- BEGIN PAGE HEADER-->
 <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS;  ?>date/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>dateinclude/ui-1.10.0/jquery.ui.position.min.js"></script>

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.js?v=0.3.3"></script>
    <style> input.otime {width:60px; margin-left:10px;}
    .weekdays {display:none;} 
.form-control.chosen-select.kk { width: unset; }
.form-control.kk { width: 97px; }
.form-control.kkk { margin-right: 10px;  width: 97px;}
.ll {
    background: rgba(0, 0, 0, 0) url("http://deliveryapp.demodemo.ga/images/img_bck.png") no-repeat scroll left center;
    margin-left: 7px;
    padding: 0 35px;
    text-align: center;
    width: 145px !important;
}
    </style>
    <!-- // <script type="text/javascript" src="http://code.jquery.com/jquery.js"></script> -->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Setting') ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-setting', true) ?>"><?php echo $this->translate('Setting') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Setting ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errormessage; ?>
</div>
<?php endif; ?>

<?php //if($this->success): 
$cache = Zend_Controller_Front::getInstance()->getRequest()->getParam('cache');
if(!empty($cache) AND isset($cache)){
?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Setting is Saved') ?>
</div>
<?php }//endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal"  enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Info'); ?>:</h3>
                    <hr />
                  
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Shop Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_name_ar',
                                        (isset($this->request->res_name_ar)?$this->request->res_name_ar:$this->data[0]->restaurant_name_ar),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter Shop title / name here in Dutch'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Description'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_description_ar',
                                    (isset($this->request->res_description_ar)?$this->request->res_description_ar:$this->data[0]->restaurant_description_ar),
                                    array(
                                        'placeholder' => $this->translate('Describe Shop specialities and any other information here in Dutch'),
                                        'class' => 'form-control',
                                        'style' => 'height: 100px'
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Contact Email'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <?php
                                    echo $this->formText(
                                        'res_contact',
                                        (isset($this->request->res_contact)?$this->request->res_contact:$this->data[0]->contact_email),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter contact email address here'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>

                   <div class="form-group">
                      <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Shop Category'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">                               
                                <?php
                                        echo $this->formSelect(
                                        'category',
                                         (isset($this->request->category)?$this->request->category:$this->data[0]->category),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required'
                                        ),
                                        $this->category
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                     <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Address'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Address'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_address_ar',
                                    (isset($this->request->res_address_ar)?$this->request->res_address_ar:$this->data[0]->address_ar),
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;',
                                        'placeholder' => $this->translate('Enter Shop full address except location and city in Dutch'),
                                        'id'          =>'address',
                                        'required'    =>'required'
                                            )
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Postal Code'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_postal_code',                                         
                                         (isset($this->request->res_postal_code)?$this->request->res_postal_code:$this->data[0]->postal_code),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                            <div class="portlet solid light-grey">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Admin Account Details'); ?>:</h3>
                <p><?php echo $this->translate('This account is used to manage the product served by Shop and other settings.'); ?></p>
                <hr />
                <div class="form-group">
                    <label for="res_admin_name" class="control-label col-md-2">*<?php echo $this->translate('Admin User Name'); ?>:</label>
                    <div class="col-md-8">
                        <?php
                            echo $this->formText(
                                'res_admin_name',
                                $this->data[0]->user_name,
                                array(
                                    'class' => 'form-control',
                                    'required' => 'required',
                                    'placeholder' => $this->translate('Enter admin full name')
                                )
                            )
                        ?>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_email" class="control-label col-md-2">*<?php echo $this->translate('Email Address'); ?>:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <span class="input-group-addon">@</span>
                            <?php
                                echo $this->formText(
                                    'res_admin_email',
                                    // $this->request->res_admin_email,
                                    $this->data[0]->user_email,
                                    array(
                                        'class' => 'form-control',
                                        'required' => 'required',
                                        'disabled'=>'disabled',
                                        'placeholder' => $this->translate('Enter admin email address')
                                    )
                                )
                            ?>
                        </div>
                        <div class="help-block"><?php echo $this->translate('Email address entered here will be verified, and login details will be dispatched after verification is successful.'); ?></div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="res_admin_phone" class="control-label col-md-2"><?php echo $this->translate('Contact Number'); ?>:</label>
                    <div class="col-md-8">
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <?php
                                echo $this->formText(
                                    'res_admin_contact_number',
                                    // $this->request->res_admin_phone,
                                    // $this->data[0]->contact_number,
                                     (isset($this->request->res_admin_contact_number)?$this->request->res_admin_contact_number:$this->data[0]->contact_number),
                                    array(
                                        'class' => 'form-control',
                                         'required' => 'required',
                                        'placeholder' => $this->translate('Multiple numbers must be separated by comma(,)')
                                    )
                                )
                            ?>
                        </div>
                    </div>
                </div>                      
            </div>
                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
<div class="portlet solid light-grey">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Settings'); ?>:</h3>
                <hr /> 
                     <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Shop Open/Close Timings'); ?>:</label>
                        <div class="col-md-12">                            
                               <div class="input-group">      
                                        <?php $su1 = explode("-", $this->data[0]->su); ?>
                                        <?php $mo1 = explode("-", $this->data[0]->mo); ?>
                                        <?php $tu1 = explode("-", $this->data[0]->tu); ?>
                                        <?php $we1 = explode("-", $this->data[0]->we); ?>
                                        <?php $th1 = explode("-", $this->data[0]->th); ?>
                                        <?php $fr1 = explode("-", $this->data[0]->fr); ?>
                                        <?php $sa1 = explode("-", $this->data[0]->sa); ?>

                                        <table> <tr> <td> Days: </td>

                                    <td> Su <input type="checkbox" name="sun" id="timing7" <?php if(!empty($su1[0])){ ?> checked <?php } ?> value="Sunday" class="checkboxes"> </td>

                                    <td>Mo <input type="checkbox" name="mon" id="timing1" <?php if(!empty($mo1[0])){ ?> checked <?php } ?> value="Monday" class="checkboxes"></td>
                                     
                                   <td> Tu <input type="checkbox" <?php if(!empty($tu1[0])){ ?> checked <?php } ?>  name="tue" id="timing2" value="Tuesday" class="checkboxes"></td>

                                    <td>We <input type="checkbox" <?php if(!empty($we1[0])){ ?> checked <?php } ?> name="wed" id="timing3" value="Wednesday" class="checkboxes"></td>

                                   <td> Th <input type="checkbox" <?php if(!empty($th1[0])){ ?> checked <?php } ?> name="thu" id="timing4" value="Thursday" class="checkboxes"></td>

                                    <td>Fr <input type="checkbox" <?php if(!empty($fr1[0])){ ?> checked <?php } ?> name="fri" id="timing5" value="Friday" class="checkboxes"></td>

                                    <td>Sa <input type="checkbox" <?php if(!empty($sa1[0])){ ?> checked <?php } ?> name="sat" id="timing6" value="Saturday" class="checkboxes"></td></tr> <tr><td>Opening Time: </td>


                                    <td><input type="text" name="sotime1" value="<?php if(isset($su1[0])){ echo $su1[0];} ?>" id="sotime1" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime2" value="<?php if(isset($mo1[0])){ echo $mo1[0];} ?>" id="sotime2" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime3" value="<?php if(isset($tu1[0])){ echo $tu1[0];} ?>" id="sotime3" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime4" value="<?php if(isset($we1[0])){ echo $we1[0];} ?>" id="sotime4" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime5" value="<?php if(isset($th1[0])){ echo $th1[0];} ?>" id="sotime5" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime6" value="<?php if(isset($fr1[0])){ echo $fr1[0];} ?>" id="sotime6" disabled required class="otime"></td>
                                    <td><input type="text" name="sotime7" value="<?php if(isset($sa1[0])){ echo $sa1[0];} ?>" id="sotime7" disabled required class="otime"></td>

                                </tr>
                                <tr><td>Closing Time: </td>
                                    <td><input type="text" name="sctime1" value="<?php if(isset($su1[1])){echo $su1[1];} ?>" id="sctime1" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime2" value="<?php if(isset($mo1[1])){ echo $mo1[1];} ?>" id="sctime2" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime3" value="<?php if(isset($tu1[1])){ echo $tu1[1];} ?>" id="sctime3" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime4" value="<?php if(isset($we1[1])){ echo $we1[1];} ?>" id="sctime4" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime5" value="<?php if(isset($th1[1])){ echo $th1[1];} ?>" id="sctime5" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime6" value="<?php if(isset($fr1[1])){ echo $fr1[1];} ?>" id="sctime6" disabled required class="otime"></td>
                                    <td><input type="text" name="sctime7" value="<?php if(isset($sa1[1])){ echo $sa1[1];} ?>" id="sctime7" disabled required class="otime"></td>

                                </tr>
                            </table>                                                           
                            </div>
                          </div>
                    </div>

                     <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                    <!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                     
                    
                     <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Tax Charges %'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"> %</span>
                                <?php
                                    echo $this->formText(
                                        'taxpayable',
                                        (isset($this->data[0]->taxpayable)?$this->data[0]->taxpayable:$this->request->taxpayable),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Minimum Order Values'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"> <span class="glyphicon glyphicon-euro"></span></span>
                                <?php
                                    echo $this->formText(
                                        'minimum_order',
                                        (isset($this->data[0]->minimum_order)?$this->data[0]->minimum_order:$this->request->minimum_order),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div> 
                        </div>
                    </div>
<!-- ////////////////////////////////////////////////////////////////////////////////////////////////////////// -->

                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Shop Icon'); ?>:</label>
                        <div class="col-md-12">                            
                               <div class="input-group">
                                    <span class="input-group-addon"><i class=" fa fa-upload"></i></span>
                                <?php
                                    echo $this->formFile(
                                        'res_icon',
                                     $this->data[0]->logo,
                                        array(
                                            'class'      => 'form-control',                                            
                                            'id'          =>'res_icon'
                                        )                                        
                                    )
                                ?>
                            </div>
                          </div>

                          <img src="<?php echo "http://deliveryapp.demodemo.ga/uploads/".$this->data[0]->logo; ?>" alt="Shop Icon" style="width:150px; height:150px;  float: left; margin-left: 260px">
                    </div>
                        <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Payment Method'); ?>:</label>
                        <div class="col-md-12">
                            <div class="input-group">
                              Cash on Delivery <input type="checkbox" name="paymentmethod[]" <?php if(($this->data[0]->payment_method == '1') OR ($this->data[0]->payment_method == '12')){ ?> checked <?php } ?> id="paymentmethod" value="1" class="paymentmethod">
                              I Deal<input type="checkbox" name="paymentmethod[]" <?php if(($this->data[0]->payment_method == '2') OR ($this->data[0]->payment_method == '12')){ ?> checked <?php } ?>id="paymentmethod" value="2" class="paymentmethod1">
                            </div>
                        </div>
                    </div>
             <!--        <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Shop Holiday'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                              
                                <?php
                                
                               echo $this->formSelect(
                                        'shop_holiday',
                                        // $this->request->shop_holiday,
                                        (isset($this->data[0]->shop_holiday)?$this->data[0]->shop_holiday:$this->request->shop_holiday),
                                        array(
                                            'class' => 'form-control chosen-select',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                         ),
                                        array
                                            (
                                                ''  => 'Select Any one',
                                                '1' => 'On',
                                                '0'  => 'Off',
                                            )
                                    ) 
                                ?>
                            </div>
                        </div>
                    </div> -->
<!-- //////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                           
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Time Slot Delivery'); ?>:</label>
                        <div class="col-md-12">                            
                               <div class="input-group">
                                    <!-- <span class="input-group-addon"><i class=" fa fa-upload"></i></span> -->
                                   <p> <input type="checkbox" name="slotDeliveryCheckbox" <?php if($this->data[0]->during_opening == '1'){ ?> checked <?php } ?> id="slotDeliveryCheckbox" value="1" class="checkboxes1"> During Opening Hours
                                        <!-- ////////////////////////////////////////////////////// -->&nbsp;&nbsp;
                                     <?php echo $this->translate('Delivery Charges'); ?> <?php
                                    echo $this->formText(
                                        'delivery_charges_opening_hour',
                                        (isset($this->data[0]->delivery_charges_opening_hour)?$this->data[0]->delivery_charges_opening_hour:$this->request->delivery_charges_opening_hour),
                                        array(
                                            'class' => 'form-control kkk ll',
                                            'placeholder' => '0.00',
                                            'disabled' => 'disabled',
                                            'required' => 'required',
                                            'id' => 'select_time_id1'
                                        ) 
                                    )
                                ?>   
                                        <!-- ////////////////////////////////////////////////////// -->
                                       <?php
                                
                                 echo $this->formSelect(
                                        'select_time',
                                        (isset($this->data[0]->select_time)?$this->data[0]->select_time:$this->request->select_time),
                                        array(
                                            'class' => 'form-control chosen-select kk',
                                            'disabled' => 'disabled',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'id' => 'select_time_id',
                                         ),
                                        array
                                            (   ''  => 'Select one',
                                                '0.30' => '30 Minutes',
                                                '1'  => '1 Hours',
                                                '1.30' => '1.30 Hours',
                                                '2'  => '2 Hours'
                                            ) ) 
                                ?>
                                 </p> </br>
                                    <p><input type="checkbox" name="duringweekDays" id="duringweekDays" value="days" <?php if($this->data[0]->duringweekDays == 'days'){ ?> checked <?php } ?>  class="checkboxes2">  During week Days:   &nbsp;&nbsp;
                             <?php echo $this->translate('Delivery Charges'); ?> <?php
                                    echo $this->formText(
                                        'delivery_charges',
                                        (isset($this->data[0]->delivery_charges)?$this->data[0]->delivery_charges:$this->request->delivery_charges),
                                        array(
                                            'class' => 'form-control kk ll',
                                            'placeholder' => '0.00',
                                            'required' => 'required',
                                            'id' => 'duringweekDays11'
                                        ) 
                                    )
                                ?>   
                                    </p>
                                    <div class="weekdays">
                                        <?php $suno = explode("-", $this->data[0]->sun); ?>
                                        <?php $mono = explode("-", $this->data[0]->mon); ?>
                                        <?php $tueo = explode("-", $this->data[0]->tue); ?>
                                        <?php $wedo = explode("-", $this->data[0]->wed); ?>
                                        <?php $thro = explode("-", $this->data[0]->thr); ?>
                                        <?php $frio = explode("-", $this->data[0]->fri); ?>
                                        <?php $sato = explode("-", $this->data[0]->sat); ?>

                                    <table> <tr>
                                    <td><b>Days:</b></td>
                                    <td> Su </td>
                                    <td> Mo </td>                                     
                                    <td> Tu </td>
                                    <td> We </td>
                                    <td> Th </td>
                                    <td> Fr </td>
                                    <td> Sa </td></tr> 
                                    <tr><td><b>Opening Time:</b> </td>

                                    <td><input type="text" name="otime1" value="<?php if(isset($suno[0])){ echo $suno[0];} ?>" id="otime1" disabled required class="otime"></td>
                                    <td><input type="text" name="otime2" value="<?php if(isset($mono[0])){ echo $mono[0];} ?>" id="otime2" disabled required class="otime"></td>
                                    <td><input type="text" name="otime3" value="<?php if(isset($tueo[0])){ echo $tueo[0];} ?>" id="otime3" disabled required class="otime"></td>
                                    <td><input type="text" name="otime4" value="<?php if(isset($wedo[0])){ echo $wedo[0];} ?>" id="otime4" disabled required class="otime"></td>
                                    <td><input type="text" name="otime5" value="<?php if(isset($thro[0])){ echo $thro[0];} ?>" id="otime5" disabled required class="otime"></td>
                                    <td><input type="text" name="otime6" value="<?php if(isset($frio[0])){ echo $frio[0];} ?>" id="otime6" disabled required class="otime"></td>
                                    <td><input type="text" name="otime7" value="<?php if(isset($sato[0])){ echo $sato[0];} ?>" id="otime7" disabled required class="otime"></td>

                                </tr>
                                <tr><td><b>Closing Time:</b> </td>
                                    <td><input type="text" name="ctime1" value="<?php if(isset($suno[1])){echo $suno[1];} ?>" id="ctime1" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime2" value="<?php if(isset($mono[1])){ echo $mono[1];} ?>" id="ctime2" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime3" value="<?php if(isset($tueo[1])){ echo $tueo[1];} ?>" id="ctime3" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime4" value="<?php if(isset($wedo[1])){ echo $wedo[1];} ?>" id="ctime4" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime5" value="<?php if(isset($thro[1])){ echo $thro[1];} ?>" id="ctime5" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime6" value="<?php if(isset($frio[1])){ echo $frio[1];} ?>" id="ctime6" disabled required class="otime"></td>
                                    <td><input type="text" name="ctime7" value="<?php if(isset($sato[1])){ echo $sato[1];} ?>" id="ctime7" disabled required class="otime"></td>

                                </tr>
                            </table></div> 
                                </br>
                                    <p><input type="checkbox" name="pickupatlocation" id="pickupatlocation" <?php if($this->data[0]->pick_at_location == '1'){ ?> checked <?php } ?> value="1" class="checkboxes3"> Pickup at Location (FREE)</p>                             
                            </div>
                          </div>
                    </div>

 <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Password setting ' ); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_address" class="control-label col-md-2"><?php echo $this->translate('Enter password'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formPassword(
                                    'res_password',
                                    $this->request->res_password,
                                    array(
                                        'class' => 'form-control',
                                        'placeholder' => $this->translate('Enter password')
                                    )
                                )
                            ?>
                        </div>
                    </div>    <div class="form-group">         
                              <label for="res_address" class="control-label col-md-2"><?php echo $this->translate('Enter confirm password'); ?></label>           <div class="col-md-8">  
                                                              <?php echo $this->formPassword('res_con_pass',    
                                                             $this->request->res_con_pass,   
                                                              array('class' => 'form-control',
                                                                  'placeholder' => $this->translate('Enter confirm password'))) ?>
                                        </div>     
                                             </div>     

</div>
<!-- ///////////////////////////////////////////////////////////////////////////////////////////////////////// -->
                </div>
            </div>
            <button type="submit" id="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Settings') ?></button>
        </form>
    </div>
</div>
<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
<script>
 $(".timings").kendoTimePicker();
$('#res_delivery_time').timepicker();
$('#res_extra_time').timepicker();
$('#otime1').timepicker();
$('#otime2').timepicker();
$('#otime3').timepicker();
$('#otime4').timepicker();
$('#otime5').timepicker();
$('#otime6').timepicker();
$('#otime7').timepicker();
$('#ctime1').timepicker();
$('#ctime2').timepicker();
$('#ctime3').timepicker();
$('#ctime4').timepicker();
$('#ctime5').timepicker();
$('#ctime6').timepicker();
$('#ctime7').timepicker();
$('#sotime1').timepicker();
$('#sotime2').timepicker();
$('#sotime3').timepicker();
$('#sotime4').timepicker();
$('#sotime5').timepicker();
$('#sotime6').timepicker();
$('#sotime7').timepicker();
$('#sctime1').timepicker();
$('#sctime2').timepicker();
$('#sctime3').timepicker();
$('#sctime4').timepicker();
$('#sctime5').timepicker();
$('#sctime6').timepicker();
$('#sctime7').timepicker();
</script>
<script type="text/javascript">
$(document).ready(function(){
     if($("#duringweekDays").is(':checked')){
        $('.weekdays').css("display", "block"); 
     }
    $('#duringweekDays').click(function(){
            $(".weekdays").toggle();       
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){

if($("#slotDeliveryCheckbox").is(':checked')){  $('#select_time_id').attr('disabled', false);  
 $('#select_time_id1').attr('disabled', false);}
        else  {  $('#select_time_id').attr('disabled', true);
        $('#select_time_id1').attr('disabled', true);  }  

    $('#slotDeliveryCheckbox').click(function(){        
       if($("#slotDeliveryCheckbox").is(':checked')){  $('#select_time_id').attr('disabled', false);
       $('#select_time_id1').attr('disabled', false); }
        else  {  $('#select_time_id').attr('disabled', true); 
        $('#select_time_id1').attr('disabled', true); } 
    });
});
</script>

 <script type="text/javascript">
     $('#submit').click(function(){  
     var checked_boxes = $('input.paymentmethod:checked').length;
     var checked_boxes1 = $('input.paymentmethod1:checked').length;
    
      if((checked_boxes == 0) && (checked_boxes1 == 0)){     
        $(".paymentmethod").prop('required',true);  
        $(".paymentmethod1").prop('required',true); 
        }
        else
        {  
            $(".paymentmethod").prop('required',false);  
            $(".paymentmethod1").prop('required',false); 
        }

});
 </script>

 <script type="text/javascript">
$(document).ready(function(){
if($("#duringweekDays").is(':checked')){  $('#duringweekDays11').attr('disabled', false);}
        else  {  $('#duringweekDays11').attr('disabled', true);}  

    $('#duringweekDays').click(function(){        
       if($("#duringweekDays").is(':checked')){  $('#duringweekDays11').attr('disabled', false); }
        else  {  $('#duringweekDays11').attr('disabled', true);  } 
    });
});
</script>

<!-- /////////////////////////////////////////////// close/open timings//////////////////////////////////// -->
<script type="text/javascript">
$(document).ready(function(){
if($("#timing7").is(':checked')){
            $('#sotime1').attr('disabled', false); 
            $('#sctime1').attr('disabled', false);
            $('#otime1').attr('disabled', false); 
            $('#ctime1').attr('disabled', false); }
        else  {
         $('#sotime1').attr('disabled', true); 
         $('#sctime1').attr('disabled', true); 
         $('#otime1').attr('disabled', true); 
         $('#ctime1').attr('disabled', true); 
     }  
    $('#timing7').click(function(){        
       if($("#timing7").is(':checked')){
            $('#otime1').attr('disabled', false); 
            $('#ctime1').attr('disabled', false);
            $('#sotime1').attr('disabled', false); 
            $('#sctime1').attr('disabled', false); }
        else  {
         $('#sotime1').attr('disabled', true); 
         $('#sctime1').attr('disabled', true);
         $('#otime1').attr('disabled', true); 
         $('#ctime1').attr('disabled', true);   } 
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
       if($("#timing1").is(':checked')){
            $('#sotime2').attr('disabled', false); 
            $('#sctime2').attr('disabled', false);
            $('#otime2').attr('disabled', false); 
            $('#ctime2').attr('disabled', false); }
        else  {
         $('#otime2').attr('disabled', true); 
         $('#ctime2').attr('disabled', true);
         $('#sotime2').attr('disabled', true); 
         $('#sctime2').attr('disabled', true);  } 
    $('#timing1').click(function(){        
       if($("#timing1").is(':checked')){
            $('#sotime2').attr('disabled', false); 
            $('#sctime2').attr('disabled', false); 
            $('#otime2').attr('disabled', false); 
            $('#ctime2').attr('disabled', false);}
        else  {
         $('#sotime2').attr('disabled', true); 
         $('#sctime2').attr('disabled', true);
         $('#otime2').attr('disabled', true); 
         $('#ctime2').attr('disabled', true);  } 
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
           if($("#timing2").is(':checked')){
            $('#sotime3').attr('disabled', false); 
            $('#sctime3').attr('disabled', false);
            $('#otime3').attr('disabled', false); 
            $('#ctime3').attr('disabled', false); }
        else  {
         $('#sotime3').attr('disabled', true); 
         $('#sctime3').attr('disabled', true); 
         $('#otime3').attr('disabled', true); 
         $('#ctime3').attr('disabled', true); }
    $('#timing2').click(function(){        
       if($("#timing2").is(':checked')){
            $('#sotime3').attr('disabled', false); 
            $('#sctime3').attr('disabled', false);
            $('#otime3').attr('disabled', false); 
            $('#ctime3').attr('disabled', false); }
        else  {
         $('#sotime3').attr('disabled', true); 
         $('#sctime3').attr('disabled', true);
         $('#otime3').attr('disabled', true); 
         $('#ctime3').attr('disabled', true);  } 
    });
});
</script>

<script type="text/javascript">
$(document).ready(function(){
         if($("#timing3").is(':checked')){
            $('#sotime4').attr('disabled', false); 
            $('#sctime4').attr('disabled', false); 
            $('#otime4').attr('disabled', false); 
            $('#ctime4').attr('disabled', false);  }
        else  {
         $('#sotime4').attr('disabled', true); 
         $('#sctime4').attr('disabled', true);
         $('#otime4').attr('disabled', true); 
         $('#ctime4').attr('disabled', true);  } 
    $('#timing3').click(function(){        
       if($("#timing3").is(':checked')){
            $('#sotime4').attr('disabled', false); 
            $('#sctime4').attr('disabled', false);
            $('#otime4').attr('disabled', false); 
            $('#ctime4').attr('disabled', false); }
        else  {
         $('#sotime4').attr('disabled', true); 
         $('#sctime4').attr('disabled', true); 
         $('#otime4').attr('disabled', true); 
         $('#ctime4').attr('disabled', true); } 
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){
       if($("#timing4").is(':checked')){
            $('#sotime5').attr('disabled', false); 
            $('#sctime5').attr('disabled', false);
            $('#otime5').attr('disabled', false); 
            $('#ctime5').attr('disabled', false); }
        else  {
         $('#sotime5').attr('disabled', true); 
         $('#sctime5').attr('disabled', true); 
         $('#otime5').attr('disabled', true); 
         $('#ctime5').attr('disabled', true); } 

    $('#timing4').click(function(){        
       if($("#timing4").is(':checked')){
            $('#sotime5').attr('disabled', false); 
            $('#sctime5').attr('disabled', false); 
            $('#otime5').attr('disabled', false); 
            $('#ctime5').attr('disabled', false);}
        else  {
         $('#sotime5').attr('disabled', true); 
         $('#sctime5').attr('disabled', true); 
         $('#otime5').attr('disabled', true); 
         $('#ctime5').attr('disabled', true);  } 
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){

       if($("#timing5").is(':checked')){
            $('#sotime6').attr('disabled', false); 
            $('#sctime6').attr('disabled', false); 
            $('#otime6').attr('disabled', false); 
            $('#ctime6').attr('disabled', false);}
        else  {
         $('#sotime6').attr('disabled', true); 
         $('#sctime6').attr('disabled', true);
         $('#otime6').attr('disabled', true); 
         $('#ctime6').attr('disabled', true);  } 

    $('#timing5').click(function(){        
       if($("#timing5").is(':checked')){
            $('#sotime6').attr('disabled', false); 
            $('#sctime6').attr('disabled', false); 
            $('#otime6').attr('disabled', false); 
            $('#ctime6').attr('disabled', false); }
        else  {
         $('#sotime6').attr('disabled', true); 
         $('#sctime6').attr('disabled', true); 
         $('#otime6').attr('disabled', true); 
         $('#ctime6').attr('disabled', true); } 
    });
});
</script>
<script type="text/javascript">
$(document).ready(function(){

 if($("#timing6").is(':checked')){
            $('#sotime7').attr('disabled', false); 
            $('#sctime7').attr('disabled', false);
            $('#otime7').attr('disabled', false); 
            $('#ctime7').attr('disabled', false); }
        else  {
         $('#sotime7').attr('disabled', true); 
         $('#sctime7').attr('disabled', true); 
         $('#otime7').attr('disabled', true); 
         $('#ctime7').attr('disabled', true); } 

    $('#timing6').click(function(){        
       if($("#timing6").is(':checked')){
            $('#sotime7').attr('disabled', false); 
            $('#sctime7').attr('disabled', false);
            $('#otime7').attr('disabled', false); 
            $('#ctime7').attr('disabled', false); }
        else  {
         $('#sotime7').attr('disabled', true); 
         $('#sctime7').attr('disabled', true); 
         $('#otime7').attr('disabled', true); 
         $('#ctime7').attr('disabled', true); } 
    });
});
</script>