<!-- BEGIN PAGE HEADER-->

 <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/ui-lightness/jquery-ui-1.10.0.custom.min.css" type="text/css" />
    <link rel="stylesheet" href="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.css?v=0.3.3" type="text/css" />

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/jquery-1.9.0.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.core.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.widget.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/include/ui-1.10.0/jquery.ui.tabs.min.js"></script>
    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>dateinclude/ui-1.10.0/jquery.ui.position.min.js"></script>

    <script type="text/javascript" src="<?php echo APPLICATION_ASSETS; ?>date/jquery.ui.timepicker.js?v=0.3.3"></script>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Setting') ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-setting', true) ?>"><?php echo $this->translate('Setting') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Setting ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Setting is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Standard Delivery Time') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_delivery_time',
                                        (isset($this->data[0]->deliver_time)?$this->data[0]->deliver_time:$this->request->res_delivery_time),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'res_delivery_time',
                                            'placeholder' => $this->translate('Enter The Delivery Time'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                       <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Enter the Opening Time') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'open_time',
                                         (isset($this->data[0]->open_time)?$this->data[0]->open_time:$this->request->open_time),
                                        array(
                                            'class' => 'form-control timings',
                                            
                                            'required' => 'required',
                                            
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Enter the Closing Time') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'close_time',
                                         (isset($this->data[0]->close_time)?$this->data[0]->close_time:$this->request->close_time),
                                        array(
                                            'class' => 'form-control timings',
                                           
                                            'required' => 'required',
                                            
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Enter Extra time if Delivery boy is absent') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_extra_time',
                                         (isset($this->data[0]->extra_time)?$this->data[0]->extra_time:$this->request->res_extra_time),
                                        array(
                                            'class' => 'form-control',
                                            'id'    => 'res_extra_time',
                                            'required' => 'required',
                                            
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Setting Order  Approval') ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-flag-checkered"></i></span>
                                <?php
                                        echo $this->formSelect(
                                            'autoapprove',
                                              (isset($this->data[0]->approval_check)?$this->data[0]->approval_check:$this->request->autoapprove),
                                            array( 'class' => 'form-control' ),
                                            array(
                                                '1' => $this->translate('Auto Approved'),
                                                '0' => $this->translate('Approve From Admin')
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Delivery Charges'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><!--i class="fa fa-try"></i-->SAR</span>
                                <?php
                                    echo $this->formText(
                                        'delivery_charges',
                                        (isset($this->data[0]->delivery_charges)?$this->data[0]->delivery_charges:$this->request->delivery_charges),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Tax Charges %'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"> %</span>
                                <?php
                                    echo $this->formText(
                                        'taxpayable',
                                        (isset($this->data[0]->taxpayable)?$this->data[0]->taxpayable:$this->request->taxpayable),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Minimum Order Values'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"> SAR</span>
                                <?php
                                    echo $this->formText(
                                        'minimum_order',
                                        (isset($this->data[0]->minimum_order)?$this->data[0]->minimum_order:$this->request->minimum_order),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div> 
                        </div>
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Settings') ?></button>
        </form>
    </div>
</div>
<script src="http://cdn.kendostatic.com/2015.1.429/js/kendo.all.min.js"></script>
<script>
 $(".timings").kendoTimePicker();
$('#res_delivery_time').timepicker();
$('#res_extra_time').timepicker();
</script>