<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Entrance Fee Management'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
               <!-- <a href="<?php echo $this->url(array(), 'admin-restaurant-add', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add New'); ?></span></a>-->
			</li>
			<li>
				<!--<i class="fa fa-home"></i>-->
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'admin-freelancer-entrancefee', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Entrance Fee'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">        
      
           <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Enter the Entrance fee'); ?>:</h3>
                <hr />
            <!--     <div class="form-group">
                    <label for="res_admin_name" class="control-label col-md-2">*<?php echo $this->translate('Entrance Fee'); ?>:</label>
                    <div class="col-md-8">
                        <?php
                            echo $this->formText(
                                'entrance_fee',
                                //(isset($this->request->entrance_fee)?$this->request->entrance_fee:$this->data[0]->entrance),
                                array(
                                    'class' => 'form-control',
                                    'required' => 'required',
                                    'placeholder' => $this->translate('Enter only Numeric value.')
                                )
                            )
                        ?>
                    </div>
                </div> -->
                            <div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Entrance Fee'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-ticket" aria-hidden="true"></i></span>
                                <?php
                               
                                    echo $this->formText(
                                        'entrance_fee',
                                        (isset($this->request->entrance_fee)?$this->request->entrance_fee:$this->data[0]->entrancefee),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter only Numeric value.'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save'); ?></button>
            </form> 
        </div>
    </div>
   