<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('New Request Management'); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
            <li class="btn-group">
               <!-- <a href="<?php echo $this->url(array(), 'admin-restaurant-add', true) ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Add New'); ?></span></a>-->
			</li>
			<li>
				<!--<i class="fa fa-home"></i>-->
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'admin-user', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('New Request'); ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                    

                     if(count($this->paginator) > 0): ?> id="example" <?php endif; ?>>
			<!-- <div class="bttnss">
			<a style="color: #fff;" class="btn green" href="<?php echo $this->url(array(), 'admin-user-add', true); ?>"><i class="fa fa-plus"></i> <span>Add New</span></a> &nbsp;                 
			</div> -->		
                <thead>
                    <tr>
                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>                      
                 
                        <th><!--<i class="fa fa-location-arrow"></i>--> <?php echo $this->translate('Email'); ?></th>
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Action'); ?></th>
                       
                    </tr>
                </thead>
                <tbody>
                    <?php if($this->count == 0): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No Request found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->count > 0): ?>
                        <?php foreach($this->paginator as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->id, array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td>                          
                            <td><?php echo $this->escape(stripslashes($entry->email)) ?></td>                     
                            <td>
                               <a href="<?php echo $this->url(array(), 'admin-freelancer-approval', true); ?>?user_id=<?php echo $entry->id; ?>">Approve</a>
                               /
                               <a href="<?php echo $this->url(array(), 'admin-freelancer-deleterequest', true); ?>?user_id=<?php echo $entry->id; ?>">Delete</a>
                               
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>          
            </table>       
        </div>
    </div>
</form>    