<?php $broker = Zend_Controller_Action_HelperBroker::getStaticHelper('Custom'); ?>
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <?php echo $this->translate('Orders List'); ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">           
            <li>
                <!--<i class="fa fa-home"></i>-->
                <a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'admin-user', true) ?>"><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Orders'); ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
  <!-- <div class="bttnss"> -->
      <!-- <a style="color: #fff;" class="btn green" href="/admin/restaurant/add"><i class="fa fa-plus"></i> <span>Add New</span></a> &nbsp;  -->
                         <!--    <button onclick="doMassAction('activate_selected')" type="button" class="btn btn green">Activate Selected</button> &nbsp; 
                            <button onclick="doMassAction('deactivate_selected')" type="button" class="btn btn red">Deactivate Selected</button>
      </div>-->
                            
                        <!--     <button onclick="doMassAction('denied')" type="button" class="btn btn red">Disallow Editing</button>
                            <button onclick="doMassAction('delete')" type="button" class="btn btn red">Delete</button> -->
      <!-- </div> -->
    <!-- Restaurants List -->
    <p><b>Shop Owner Name: </b> <?php print_r($this->data1[0]->user_name); ?> </p>
     <p><b>Address: </b> <?php print_r($this->data1[0]->address_ar); ?> </p>
      <p><b>Post Code: </b> <?php print_r($this->data1[0]->postal_code); ?> </p>
       <p><b>Commission rate: </b> 6 </p>
<hr/>

    <div class="row">
        <div class="col-sm-12">
             <div class="tabbable" id="tabs-553972">
        <ul class="nav nav-tabs">
          <li class="active">
            <a href="#panel-948516" data-toggle="tab"><b>New Orders</b></a>
          </li>
          <li>
            <a href="#panel-841244" data-toggle="tab"><b>In Process</b></a>
          </li>
            <li>
            <a href="#panel-8412445" data-toggle="tab"><b>Paid</b></a>
          </li>
        </ul>
          <div class="tab-content">
          <div class="tab-pane active" id="panel-948516">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->paginator) > 0): ?> id="example" <?php endif; ?>>       
                <thead>
                   
                    <tr>

                        <!-- <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th> -->

                        <!-- <th> <?php echo $this->translate('Id'); ?></th> -->
                        <th class="text-center"><?php echo $this->translate('Order ID'); ?></th>
                        <th class="text-center"><?php echo $this->translate('Total Amount'); ?></th>

                        <th> <?php echo $this->translate('Fee'); ?></th>

                        <th> <?php echo $this->translate('Vat low'); ?></th>

                        <th><?php echo $this->translate('Vat high'); ?></th>

                        <th><?php echo $this->translate('Delivery Cost'); ?></th>

                        <th> <?php echo $this->translate('Payment Cost'); ?></th>

                        <th>€ <?php echo $this->translate('Amount'); ?></th>

                        <th> <?php echo $this->translate('Payment Method'); ?></th>

                        <!-- <th><i class="fa fa-copy"></i> <?php echo $this->translate('Actions'); ?></th> -->
                    </tr>
                </thead>
                <tbody>
                    <?php if($this->count == 0): ?>
                    <tr>
                        <td colspan="9" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->count > 0): ?>
                        <?php foreach($this->paginator as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">  
                        <?php $vatlow = ($broker->gethighlowvat($entry->cart)[6])*(6/100);
                              $vathigh = ($broker->gethighlowvat($entry->cart)[21])*(21/100);
                              $totalamout = (($broker->gethighlowvat($entry->cart)[6]) + ($broker->gethighlowvat($entry->cart)[21]));
                              $commsion = round(($totalamout)*(6/100), 2);
                              $array['comm'] +=$commsion;
                              $array[$entry->payment_method] +=$entry->total_payment;
                              $array['total'] +=$entry->total_payment;
                         ?>     
                            <td><?php echo $this->escape(stripslashes($entry->id)) ?></td>        
                            <td><?php echo $this->escape(stripslashes(round($totalamout, 2))) ?></td>
                            <td><?php echo $this->escape(stripslashes($commsion)) ?></td>
                            <td><?php echo $this->escape(stripslashes(round($vatlow, 2))) ?></td>
                <td class="text-center" style="vertical-align: middle;">
                                <?php echo $this->escape(stripslashes(round($vathigh, 2))) ?>
                                
                            </td>
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->delivery_charge)) ?></td>
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->service_charge)) ?></td>
                            <td class="text-right"> <?php echo $this->escape(stripslashes($entry->total_payment)) ?></td>
                            <td class="text-right"> <?php echo $this->escape(stripslashes($entry->payment_method)) ?></td>
                            <!-- <td> &nbsp;                                
                               <a href="<?php //echo $this->url(array(), 'admin-freelancer-details', true); ?>?user_id=<?php echo $entry->id; ?>">Delete</a>                        
                            </td> -->
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
            <?php if(count($this->paginator) > 0):
             $paymentsystem = (($array['Paypal']) + ($array['Ideal']));
             $commsionvat = round(($array['comm'] * (21/100)), 2);
             $totalcommsrecive = ($commsionvat + $array['comm']);
             if($paymentsystem > $totalcommsrecive){
             $lastpayment =  ($paymentsystem - $totalcommsrecive);
             $topayrec = "pay";
         }
             else{$lastpayment =  ($totalcommsrecive - $paymentsystem); $topayrec = "receive";}
             ?>
                    
                                    <p><b>Total Commission: </b> <?php echo $array['comm'];?>  &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Total of Payment systems: </b> <?php echo $paymentsystem;?></p>
                        <p><b>Vat commission 21%: </b> <?php echo $commsionvat; ?>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Total of Cash: </b> <?php echo $array['Free']; ?> </p>
                        <p><b>Total commission to receive: </b> <?php echo $totalcommsrecive;?>   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<b>Total Sold: </b> <?php echo $array['total']?> </p>
                         &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;
                         <p><b>To <?php echo $topayrec;?>: </b> <?php echo $lastpayment; ?> </p>
                     <?php endif; ?>
                     <?php if($this->count > 0): ?>
                     <a href="http://deliveryapp.demodemo.ga/web/cron?shopid=<?php echo $entry->shopid;?>" class="btn btn green">Send Invoice</a>
                   <?php endif; ?>
                      </div>
                          <div class="tab-pane" id="panel-841244">
                            <!--   //////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                  <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->data2) > 0): ?> id="example" <?php endif; ?>>       
                <thead>                   
                    <tr>
                        <th><?php echo $this->translate('Invoice ID'); ?></th>
                        <th><?php echo $this->translate('Invoice Detail'); ?></th>
                        <th> <?php echo $this->translate('Date'); ?></th>
                        <th> <?php echo $this->translate('Action'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->data2) == 0): ?>
                    <tr>
                        <td colspan="4" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif(count($this->data2) > 0): ?>
                        <?php foreach($this->data2 as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">                             
                           
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->id)) ?></td>
                           <td class="text-right">  <a href="<?php echo $entry->invoice_name;?>" download><b>Download Invoice</b></a></td>
                            <td class="text-right"> <?php echo $this->escape(stripslashes($entry->invoice_date)) ?></td>
                           
                             <td>
                                 <form method="POST" action="<?php echo $this->url(array(), 'admin-freelancer-updatestatus', true); ?>">
                                    <input type="hidden" name="order_id" value="<?php echo $entry->id; ?>">
                                    <input type="hidden" name="shopid" value="<?php echo $entry->shopid; ?>">
                                    <select data-id="<?php echo $entry->id; ?>" id ="selectaction" class="entry-action form-control" name="changestatus" onchange="this.form.submit();">
                                         <option value=""><?php echo $this->translate('Select An Action'); ?> </option>
                                         <option value="2"><?php echo $this->translate('Paid'); ?></option>  
                                     </select>
                                 </form>
                            </td>    
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
                               <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                            </div>
                             <div class="tab-pane" id="panel-8412445">
                               <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                   <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->data3) > 0): ?> id="example" <?php endif; ?>>       
                <thead>                   
                    <tr>
                        <th><?php echo $this->translate('Invoice ID'); ?></th>
                        <th><?php echo $this->translate('Invoice Detail'); ?></th>
                        <th> <?php echo $this->translate('Date'); ?></th>
                        <th> <?php echo $this->translate('Status'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->data3) == 0): ?>
                    <tr>
                        <td colspan="4" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif(count($this->data3) > 0): ?>
                        <?php foreach($this->data3 as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">                             
                           
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->id)) ?></td>
                           <td class="text-right">  <a href="<?php echo $entry->invoice_name;?>" download><b>Download Invoice</b></a></td>
                            <td class="text-right"> <?php echo $this->escape(stripslashes($entry->invoice_date)) ?></td>
                           
                             <td class="text-right"> <button type="button" class="btn btn green">Paid</button></td>   
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
                                <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                            </div>
                          </div>
                </div>
        </div>
    </div>
   