<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <?php echo $this->translate('Vat Management'); ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">           
            <li>
                <!--<i class="fa fa-home"></i>-->
                <a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Dashboard'); ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <!-- <li><a href="<?php echo $this->url(array(), 'admin-user', true) ?>"> --><!--<i class="fa fa-cutlery"></i>--><!--  <?php echo $this->translate('Vat List'); ?></a></li> -->
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->paginator) > 0): ?> id="example" <?php endif; ?>>   
        
         <div class="bttnss">
            <a style="color: #fff;" class="btn green" href="/admin/freelancer/addvat"><i class="fa fa-plus"></i> <span>Add New</span></a> &nbsp;                         
          </div>
            
                <thead>
                    <tr>
                        <th><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Vat %'); ?></th>
                        <th><!--<i class="fa fa-location-arrow"></i>--> <?php echo $this->translate('Type'); ?></th>                      
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Action'); ?></th>                       
                    </tr>
                </thead>
                <tbody>
                    <?php if($this->count == 0): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No Vat list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif($this->count > 0): ?>
                        <?php foreach($this->paginator as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td><?php echo $this->escape(stripslashes($entry->vat)) ?></td>
                            <td><?php echo $this->escape(stripslashes($entry->type)) ?></td>                       
                            <td> &nbsp;                                
                               <a href="<?php echo $this->url(array(), 'admin-freelancer-edit', true); ?>?id=<?php echo $entry->id; ?>">Edit</a>                        
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</form>    