 
  <script src="<?php echo APPLICATION_ASSETS; ?>/plugins/choosen/chosen.jquery.js" type="text/javascript"></script>
  <script src="<?php echo APPLICATION_ASSETS; ?>/plugins/choosen/prism.js" type="text/javascript" charset="utf-8"></script>
  <script type="text/javascript">
    var config = {
      '.chosen-select'           : {},
      '.chosen-select-deselect'  : {allow_single_deselect:true},
      '.chosen-select-no-single' : {disable_search_threshold:10},
      '.chosen-select-no-results': {no_results_text:'Oops, nothing found!'},
      '.chosen-select-width'     : {width:"95%"}
    }
    for (var selector in config) {
      $(selector).chosen(config[selector]);
    }
  </script> 