

<script src="http://maps.googleapis.com/maps/api/js?sensor=false" type="text/javascript"></script>

<script type="text/javascript">

    function loadLocations(el){

        var selectedCity = $('#res_city').get(0).options[$('#res_city').get(0).selectedIndex].value;

        $.ajax({

            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'restaurant', 'action' => 'ajaxloadlocation'), 'default', true) ?>',

            type: 'get',

            data: {'city': selectedCity},

            dataType: 'html',

            success: function(h){

                

                $('#res_location').html(h);

            } 

        });

    }



    function loadarea(el){

        var selectedCity = $('#res_location').get(0).options[$('#res_location').get(0).selectedIndex].value;

        $.ajax({

            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'restaurant', 'action' => 'ajaxloadarea'), 'default', true) ?>',

            type: 'get',

            data: {'city': selectedCity},

            dataType: 'html',

            success: function(h){

                

                $('#res_area').html(h);

            } 

        });

    }

    

   

 

 

 

  var map;

var marker;

var myLatlng = new google.maps.LatLng(

    <?php if(isset($this->address[0]->latitude) && !empty($this->address[0]->latitude))

        {

        echo $this->address[0]->latitude; 

        

        } 

        else

            {

            echo '24.63371407693179';

            } ?>,<?php 

            if(isset($this->address[0]->longitude) && !empty($this->address[0]->longitude)){echo $this->address[0]->longitude; } else{ echo '46.71625318512565'; } ?>);

                var geocoder = new google.maps.Geocoder();

                var infowindow = new google.maps.InfoWindow();

                function initialize(){

                var mapOptions = {

                zoom: 18,

                center: myLatlng,

                mapTypeId: google.maps.MapTypeId.TERRAIN 

};



map = new google.maps.Map(document.getElementById("canvas_change"), mapOptions);



marker = new google.maps.Marker({

map: map,

position: myLatlng,

draggable: true 

}); 



geocoder.geocode({'latLng': myLatlng }, function(results, status) {

if (status == google.maps.GeocoderStatus.OK) {

if (results[0]) {

$('#latitude,#longitude').show();

$('#address').val(results[0].formatted_address);

$('#latitude').val(marker.getPosition().lat());

$('#longitude').val(marker.getPosition().lng());

infowindow.setContent(results[0].formatted_address);

infowindow.open(map, marker);

}

}

});



google.maps.event.addListener(marker, 'dragend', function() {



geocoder.geocode({'latLng': marker.getPosition()}, function(results, status) {

if (status == google.maps.GeocoderStatus.OK) {

if (results[0]) {

$('#address').val(results[0].formatted_address);

$('#latitude').val(marker.getPosition().lat());

$('#longitude').val(marker.getPosition().lng());

infowindow.setContent(results[0].formatted_address);

infowindow.open(map, marker);

}

}

});

});



}

google.maps.event.addDomListener(window, 'load', initialize);




/******
gmap script to find the location of  particular  area and get  the result 
*****/

var geocoder;
var map;
var marker;
// initialise the google maps objects, and add listeners
function gmaps_init(){

  // center of the universe
  var latlng = new google.maps.LatLng( <?php if(isset($this->address[0]->latitude) && !empty($this->address[0]->latitude))

        {

        echo $this->address[0]->latitude; 

        

        } 

        else

            {

            echo '24.63371407693179';

            } ?>,<?php 

            if(isset($this->address[0]->longitude) && !empty($this->address[0]->longitude)){echo $this->address[0]->longitude; } else{ echo '46.71625318512565'; } ?>);

  var options = {
    zoom: 2,
    center: latlng,
   
    
    mapTypeId: google.maps.MapTypeId.ROADMAP
  };

  // create our map object
  map = new google.maps.Map(document.getElementById("gmaps-canvas"), options);

  // the geocoder object allows us to do latlng lookup based on address
  geocoder = new google.maps.Geocoder();

  // the marker shows us the position of the latest address
  marker = new google.maps.Marker({
    map: map,
   position: latlng,
    draggable: true
  });

  // event triggered when marker is dragged and dropped
  google.maps.event.addListener(marker, 'dragend', function() {
    geocode_lookup( 'latLng', marker.getPosition() );
  });

  // event triggered when map is clicked
  google.maps.event.addListener(map, 'click', function(event) {
    marker.setPosition(event.latLng)
    geocode_lookup( 'latLng', event.latLng  );
  });

  $('#gmaps-error').hide();
}

// move the marker to a new position, and center the map on it
function update_map( geometry ) {
  map.fitBounds( geometry.viewport )
  marker.setPosition( geometry.location )
}

// fill in the UI elements with new position data
function update_ui( address, latLng ) {
  $('#gmaps-input-address').autocomplete("close");
  $('#gmaps-input-address').val(address);
  $('#address').val(address);
  //$('#gmaps-output-latitude').html(latLng.lat());
  $('#latitude').val(latLng.lat());
  $('#longitude').val(latLng.lng());
  //$('#gmaps-output-longitude').html(latLng.lng());
}

// Query the Google geocode object
//
// type: 'address' for search by address
//       'latLng'  for search by latLng (reverse lookup)
//
// value: search query
//
// update: should we update the map (center map and position marker)?
function geocode_lookup( type, value, update ) {
  // default value: update = false
  update = typeof update !== 'undefined' ? update : false;

  request = {};
  request[type] = value;

  geocoder.geocode(request, function(results, status) {
    $('#gmaps-error').html('');
    $('#gmaps-error').hide();
    if (status == google.maps.GeocoderStatus.OK) {
      // Google geocoding has succeeded!
      if (results[0]) {
        // Always update the UI elements with new location data
        update_ui( results[0].formatted_address,
                   results[0].geometry.location )

        // Only update the map (position marker and center map) if requested
        if( update ) { update_map( results[0].geometry ) }
      } else {
        // Geocoder status ok but no results!?
        $('#gmaps-error').html("Sorry, something went wrong. Try again!");
        $('#gmaps-error').show();
      }
    } else {
      // Google Geocoding has failed. Two common reasons:
      //   * Address not recognised (e.g. search for 'zxxzcxczxcx')
      //   * Location doesn't map to address (e.g. click in middle of Atlantic)

      if( type == 'address' ) {
        // User has typed in an address which we can't geocode to a location
        $('#gmaps-error').html("Sorry! We couldn't find " + value + ". Try a different search term, or click the map." );
        $('#gmaps-error').show();
      } else {
        // User has clicked or dragged marker to somewhere that Google can't do a reverse lookup for
        // In this case we display a warning, clear the address box, but fill in LatLng
        $('#gmaps-error').html("Woah... that's pretty remote! You're going to have to manually enter a place name." );
        $('#gmaps-error').show();
        update_ui('', value)
      }
    };
  });
};

// initialise the jqueryUI autocomplete element
function autocomplete_init() {
  $("#gmaps-input-address").autocomplete({

    // source is the list of input options shown in the autocomplete dropdown.
    // see documentation: http://jqueryui.com/demos/autocomplete/
    source: function(request,response) {

      // the geocode method takes an address or LatLng to search for
      // and a callback function which should process the results into
      // a format accepted by jqueryUI autocomplete
      geocoder.geocode( {'address': request.term }, function(results, status) {
        response($.map(results, function(item) {
          return {
            label: item.formatted_address, // appears in dropdown box
            value: item.formatted_address, // inserted into input element when selected
            geocode: item                  // all geocode data: used in select callback event
          }
        }));
      })
    },

    // event triggered when drop-down option selected
    select: function(event,ui){
      update_ui(  ui.item.value, ui.item.geocode.geometry.location )
      update_map( ui.item.geocode.geometry )
    }
  });

  // triggered when user presses a key in the address box
  $("#gmaps-input-address").bind('keydown', function(event) {
    if(event.keyCode == 13) {
      geocode_lookup( 'address', $('#gmaps-input-address').val(), true );

      // ensures dropdown disappears when enter is pressed
      $('#gmaps-input-address').autocomplete("disable")
    } else {
      // re-enable if previously disabled above
      $('#gmaps-input-address').autocomplete("enable")
    }
  });
}; // autocomplete_init

$(document).ready(function() { 
  if( $('#gmaps-canvas').length  ) {
    gmaps_init();
    autocomplete_init();
  }; 
});
    
</script>