<?php
?>
/* 
 * To change this license header, choose License Headers in Project Properties.
 * To change this template file, choose Tools | Templates
 * and open the template in the editor.
 */
<script type="text/javascript">
    function checkAll(e){
        if(e.checked){
            $('#table-res .checkboxes').each(function(i, element){
                $(element).attr('checked', 'checked');
                $(element).closest('span').addClass('checked');
            });
        }else{
            $('#table-res .checkboxes').each(function(i, element){
                $(element).attr('checked', '');
                $(element).closest('span').removeClass('checked');
            });
        }
        
    }
    function doAction(e){
        var action = e.options[e.selectedIndex].value;
        var userid = $(e).attr('data-id');
        if(action=='edit')
        {
          window.location.href="<?php echo  $this->url(array('module' => 'admin', 'controller' => 'User', 'action' => 'edit'), 'default', true) ?>?edit_id="+userid;
           
           return false 
        }
        $('#frm-do-action input[name=frmaction]').val(action);   
        
        $('#frm-do-action').append(
            '<input type="hidden" name="resid" value="' + resid + '" />'
        );
        $('#frm-do-action').submit();
    }
    
    
    
    function doMassAction(a){
        $('#frm-do-action input[name=frmaction]').val(a);
        $('#frm-do-action').submit();
    }    
    
    
    
    
    
    	
</script>
