<script type="text/javascript">
    var selectedCity = null;
    function loadLocations(el, city){
        selectedCity = (city.length == 0) ? null : city; 
        $('#box-locations').empty();
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'settings', 'action' => 'ajaxloadlocations'), 'default', true) ?>',
            type: 'get',
            dataType: 'html',
            data: {'city': selectedCity}
            beforeSend: function(){
                $('#box-locations').append(
                    '<div class="text-center"><span class="label label-info"><?php echo $this->translate('Please wait loading...') ?></span></div>'
                );
            },
            success: function(data){
                $('#box-locations').html(data);
            },
            error: function(){
                $('#box-locations').append(
                    '<div class="text-center"><span class="label label-danger"><?php echo $this->translate('Failed to load locations. Please re-try again.') ?></span></div>'
                );
            } 
        });
    }
    
       function loadarea(el, city){
        selectedCity = (city.length == 0) ? null : city; 
        $('#box-locations').empty();
        $.ajax({
            url: '<?php echo $this->url(array('module' => 'admin', 'controller' => 'settings', 'action' => 'ajaxloadarea'), 'default', true) ?>',
            type: 'get',
            dataType: 'html',
            data: {'city': selectedCity}
            beforeSend: function(){
                $('#box-locations').append(
                    '<div class="text-center"><span class="label label-info"><?php echo $this->translate('Please wait loading...') ?></span></div>'
                );
            },
            success: function(data){
                $('#box-locations').html(data);
            },
            error: function(){
                $('#box-locations').append(
                    '<div class="text-center"><span class="label label-danger"><?php echo $this->translate('Failed to load locations. Please re-try again.') ?></span></div>'
                );
            } 
        });
    }
     
    
    
   
</script>