
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('User Management') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'admin-user', true) ?>"><?php echo $this->translate('User Management') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><i class="fa fa-plus"></i> <?php echo $this->translate('Edit User') ?></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
        <?php if($this->success): ?>
        <div class="note note-success">
            <h4 class="block"><?php echo $this->translate(' User account is Updated   successfully.') ?>.</h4>
            <p>
               
            </p>
        </div>
        <?php else: ?>
        <div class="note note-info">
            <h3><?php echo $this->translate('Edit User'); ?></h3>
            <p><?php echo $this->translate('Fill in the form below to Edit User. All User added here is automatically marked approved.'); ?></p>
        </div>
        <?php if($this->error): ?>
        <div class="alert alert-danger">
            <button class="close" data-dismiss="alert">&times;</button>
            <?php echo $this->errormessage ?>
        </div>
        <?php endif; ?>
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('User Info'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="first_name" class="control-label col-md-2">*<?php echo $this->translate('User Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <?php
                                echo $this->FirstName;
                                    echo $this->formText(
                                        'FirstName',
                                        (isset($this->request->FirstName)?$this->request->FirstName:$this->data[0]->FirstName),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter First Name'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="first_name" class="control-label col-md-2">*<?php echo $this->translate('Last Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user"></i></span>
                                <?php
                                echo $this->LastName;
                                    echo $this->formText(
                                        'LastName',
                                        (isset($this->request->LastName)?$this->request->LastName:$this->data[0]->LastName),
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter Last Name'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    
                 
                      <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Email'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                           <span class="input-group-addon">@</span>
                               <?php
                                echo $this->formText(
                                    'Email',
                                    (isset($this->request->Email)?$this->request->Email:$this->data[0]->Email),
                                    array(
                                        'placeholder' => $this->translate('Enter Email'),
                                        'class' => 'form-control',
                                        'required'=>'required'
                                        
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    </div>
                       <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Contact Number'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                               <?php
                                echo $this->formText(
                                    'ContactNo',
                                    (isset($this->request->ContactNo)?$this->request->ContactNo:$this->data[0]->ContactNo),
                                    array(
                                        'placeholder' => $this->translate('Enter Contact info'),
                                        'class' => 'form-control',
                                        
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    </div>
                     <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Address'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                            
                               <?php
                                echo $this->formTextarea(
                                    'Address',
                                    (isset($this->request->Address)?$this->request->Address:$this->data[0]->Address),
                                    array(
                                        'placeholder' => $this->translate('Enter Address info'),
                                        'class' => 'form-control',
                                        
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    </div>
                    
                      <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Address'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                            
                                <?php
                                    echo $this->formSelect(  
                                        'Cityid',
                                        (isset($this->request->Cityid)?$this->request->Cityid:$this->data[0]->Cityid),
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'onchange' => 'loadLocations(this)'
                                        ),
                                        $this->cities
                                    )
                                ?>
                        </div>
                    </div>
                    </div>
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Password'); ?>:</label>
                        <div class="col-md-4">
                          <div class="input-group">
                                                                
                                
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                
                                <?php
                                    echo $this->formPassword(
                                        'Password',
                                        (isset($this->request->Password)?$this->request->Password:''),
                                        array(
                                            
                                            'placeholder' => $this->translate('Enter Password here'),
                                            'class' => 'form-control'
                                        )
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                     <div class="form-group">
                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Confirm Password'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                                                
                                
                        <span class="input-group-addon"><i class="fa fa-key fa-fw"></i></span>
                                
                                <?php
                                    echo $this->formPassword(
                                        'cpassword',
                                        (isset($this->request->cpassword)?$this->request->cpassword:''),
                                        array(
                                            
                                            'placeholder' => $this->translate('Enter Confirm Password here'),
                                            'class' => 'form-control'
                                        )
                                    );
                                ?>
                            </div>
                        </div>
                    </div>
                   
                  
                </div>
            </div>
            <div class="portlet solid light-grey">
               
           
                 
                 
                    
                  
                
                    </div>
                </div>
            </div>
          
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Edit User'); ?></button>
        </form>
        <?php endif; ?>
    </div>
</div>