<!-- BEGIN PAGE HEADER-->

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-user-times"></i> <?php echo $this->translate('Add/Edit Delivery Boy') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'restaurant-admin-deliveryboy', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="<?php echo $this->url(array(), 'restaurant-admin-deliveryboy', true) ?>"><?php echo $this->translate('Add/Edit Delivery Boy') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Add/Edit Delivery Boy ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errormessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Data is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                    
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Deliver Boy Name') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-times"></i></span>
                                <?php
                                    echo $this->formText(
                                        'name',
                                        (isset($this->data[0]->name)?$this->data[0]->name:$this->request->name),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'res_delivery_time',
                                            'placeholder' => $this->translate('Enter The Delivery Boy Name'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Address') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-times"></i></span>
                                <?php
                                    echo $this->formText(
                                        'address',
                                        (isset($this->data[0]->address)?$this->data[0]->address:$this->request->address),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'res_delivery_time',
                                            'placeholder' => $this->translate('Enter The Delivery Boy Address'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Contact No') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-user-times"></i></span>
                                <?php
                                    echo $this->formText(
                                        'mobileno',
                                        (isset($this->data[0]->mobileno)?$this->data[0]->mobileno:$this->request->mobileno),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'res_delivery_time',
                                            'placeholder' => $this->translate('Enter The Delivery Boy Mobile No'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Email') ?>:</label>
                        <div class="col-sm-10 col-md-4">    
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                               
								<input type="email" class="form-control" name="email" id="res_extra_time" value="<?php if(isset($this->data[0]->email)){ echo $this->data[0]->email; } else { echo $this->request->email; } ?>" required />
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Password') ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <?php
                                        (isset($_GET['id'])? 
                                                $required= array(
                                            'class' => 'form-control',
                                            'id'    => 'password',
                                            
                                            
                                        ):$required= array(
                                            'class' => 'form-control',
                                            'id'    => 'password',
                                            'required' => 'required',
                                           
                                            
                                        ));
                                        echo $this->formPassword(
                                            'password',
                                              '',
                                            $required,
                                            array(
                                                
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                      <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2"><?php echo $this->translate('Confirm Password') ?>:</label>
                        <div class="col-sm-10 col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-key"></i></span>
                                <?php
                                        
                                        echo $this->formPassword(
                                            'cpassword',
                                              '',
                                            $required,
                                            array(
                                                
                                            )
                                        );
                                    ?>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
        </form>
    </div>
</div>

