<option value="">-- <?php echo $this->translate('Select A Location / Region'); ?> --</option>
<?php if(!$this->error): ?>
    <?php foreach($this->locations as $entry): ?>
    <option value="<?php echo stripslashes($entry->location_id) ?>"><?php echo stripslashes($entry->location_name) ?></option>
    <?php endforeach; ?>
<?php endif; ?>