<!-- BEGIN PAGE HEADER-->
<link rel="stylesheet" type="text/css" media="all" href="<?php echo APPLICATION_ASSETS; ?>css/stacks_page_page21.css">
		
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Dashboard') ?> <small><?php echo $this->translate('statistics and more') ?></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Dashboard') ?></a></li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number"><?php  echo $this->getHelper('RestaurantHelper')->Currency_Helper($this->income); ?></div>
				<div class="desc"><?php echo $this->translate('Gross Income') ?></div>
			</div>
			<a class="more" href="<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'Report', 'action' => 'index'), 'default', true) ?>">
			<?php echo $this->translate('Go to Report Centre') ?> <i class="m-icon-swapright m-icon-white"></i>
			</a>                 
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa  fa-exclamation-circle"></i>
			</div>
			<div class="details">
				<div class="number"><?php 
                                
                                if($this->status):
                                    
                                     echo $this->translate('Open');
                                    else:
                                     echo $this->translate('Closed');   
                                endif;
                                ?></div>
				<div class="desc">                           
					<?php echo $this->translate('Restaurant Status') ?>
				</div>
			</div>
			   <a class="more" href="<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'admin', 'action' => 'dashboard'), 'default', true) ?>">       
			 <?php echo $this->translate('Change Status to \'Closed\'') ?> <i class="m-icon-swapright m-icon-white"></i>
                           </a>     
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number"><?php echo $this->totalorders;  ?></div>
				<div class="desc"><?php echo $this->translate('Total Orders') ?></div>
			</div>
			<a class="more" href="<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'Orders', 'action' => 'orders'), 'default', true) ?>">
			<?php echo $this->translate('View All New Ordres') ?> <i class="m-icon-swapright m-icon-white"></i>
			</a>                 
		</div>
	</div>

	
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>

<div class="row">
    
     <div class="col-md-4 col-sm-4">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Recent Orders Status
							</div> 
							<div class="actions">
								<div class="btn-group">
									
									
								</div>
							</div>
						</div>
						<div class="portlet-body">
						 <div id="stackSliderstacks_in_228_page21" class="stackSlider">
                                                     
                    <?php 
                    $start =count($this->recentorders);
                    foreach($this->recentorders as $order): ?>                                 
                    <div style="display: block; overflow: hidden; opacity: 0.0228798; height: 3.2947px;"><div style="opacity: 1; background:#eee;padding:5px;margin-bottom:10px" id="stacks_in_72<?php echo $start; ?>_page21" class="stacks_in text_stack">
                            <p>Customer Name:<?php echo $order->firstname ?> <?php echo $order->lastname ;  ?><p>
                            <p>Order Date:<?php echo $order->order_date ?> <p>
                            <p class="success">Order status:<?php echo 'Delivered' ?> <p>
                             <p><?php echo $order->details; ?> <p>   
                            <!-- Styled Text Content 727 -->
                           
                            	<?php if($order->status == 1)

							{ ?>

							<span class="label label-warning"><?php echo $this->translate('In Process');?></span><?php 

							}

							elseif($order->status ==2)

                                 {?>

								 <span class="label label-class"><?php echo $this->translate('Approved'); ?></span>

														<?php 

                                                                                                                

                                                                                                                

                                 }

                                 elseif($order->status ==0)
                                 {

                                     ?>

                                     

                                      <span class="label label-success"><?php echo $this->translate('Delivered'); ?></span>

                                     

                                 <?php    

                                 }
                                  elseif($order->status ==3)
                                 {

                                     ?>

                                     

                                      <span class="label label-warning"><?php echo $this->translate('Pending'); ?> </span>

                                     

                                 <?php    

                                 }?>
		              <i class="fa fa-share"></i>
			      </span>
                            <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
                            <!-- Styled Text Content 727 -->

                        </div></div>
                                   <?php 
                                                    
                                                    $start--;
                                                    endforeach; ?>
                                                       
                                                    </div>  	
						</div>
					</div>
				</div>
    <div class="col-md-8 col-sm-8">
        
        <div class="portlet box red">
								<div class="portlet-title">
									<div class="caption"><i class="icon-bullhorn"></i>Weekly Order Report	</div>
									<div class="tools">
										<div class="btn-group pull-right" data-toggle="buttons-radio">
											
										</div>
									</div>
								</div>
								<div class="portlet-body">
									<div id="graph"></div>
                                                                        <script id="code" >
                                                                                    var decimal_data = [];
                                                                                    var weeks        = ['First week','Second week','Third Week','Last Week'];
                                                                                    var data         = [<?php echo implode(',',$this->getHelper('RestaurantHelper')->To_make_Graph_Json($this->data)) ?>]; 
                                                                                    var yaxis        = 10;
                                                                                    
                                                                                    var decimal_data = [];
                                                                                    for (var x = 0; x <4 ; x += 1) {
                                                                                      decimal_data.push({
                                                                                        x: weeks[x],
                                                                                        y: data[x]
                                                                                      });
                                                                                    }
                                                                                    window.m = Morris.Line({
                                                                                      element: 'graph',
                                                                                      data: decimal_data,
                                                                                      xkey: 'x',
                                                                                      ykeys: ['y'],
                                                                                      labels: ['Total Sale'],
                                                                                      parseTime: false
                                                                                     
                                                                                    });
                                                                        </script>	
										
									
								</div>
							</div>
        
        
    </div>
    
    
    
    
    
  
</div>

<div class="clearfix"></div>

<div  class="row" >
    <div class="col-sm-12 col-sm-12 ">
        <div class="portlet paddingless">
						<div class="portlet-title line">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Order Alerts
							</div>
							<div class="tools">
								<a class="collapse" href="" data-original-title="" title="">
								</a>
								<a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title="">
								</a>
								<a class="reload" href="" data-original-title="" title="">
								</a>
								<a class="remove" href="" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--BEGIN TABS-->
							<div class="tabbable-line">
								<ul class="nav nav-tabs">
									<li class="active">
										<a data-toggle="tab" href="#tab_1_1" aria-expanded="true">
										Under Process </a>
									</li>
									<li class="">
										<a data-toggle="tab" href="#tab_1_2" aria-expanded="false">
										Delivered </a>
									</li>
									<li class="">
										<a data-toggle="tab" href="#tab_1_3" aria-expanded="false">
										Red Alerted </a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="tab_1_1" class="tab-pane active">
										<div class="scroller" style="height: 290px; " data-always-visible="1" data-rail-visible1="1">
											<ul class="feeds">
                                                                                            
                                                                                                <?php if(count($this->processionorder)>0): 
                                                                                                    
                                                                                                    
                                                                                                    foreach($this->processionorder as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $orders->firstname ?>

																	<?php echo $orders->lastname ;  ?><p><br> 
																	
																	<p>Order Date:<?php echo $orders->order_date ?> </p>
																	<span class="label label-sm label-warning ">
																 	Under Process 
																	
																	<i class="fa fa-share"></i>
																	</span>
																	 <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $orders->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                 else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php $this->translate('No Order In Process') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
											</ul>
                                                                                       
										</div>
									
									</div>
									
									<div id="tab_1_2" class="tab-pane">
										<div class="slimScrollDiv" style="position: relative; overflow: scoll; width: auto; height: 290px;"><div data-rail-visible1="1" data-always-visible="1" style="height: 290px; overflow: hidden; width: auto;" class="scroller" data-initialized="1">
											<ul class="feeds">
												<?php if(count($this->delivedorders)>0): 
                                                                                                    
                                                                                                    
                                                                                                    foreach($this->delivedorders as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $order->firstname ?>

																	<?php echo $order->lastname ;  ?><p>
																		<br>
                                                                 <p>Order Date:<?php echo $order->order_date ?> </p>
																		<span class="label label-sm label-success ">
																 	Delivered <i class="fa fa-share"></i>
																	</span>
																	 <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                
                                                                                                
                                                                                                else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php echo $this->translate('No Delivered Order Available ') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
												
											</ul>
										</div><div class="slimScrollBar" style="background: none repeat scroll 0% 0% rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
									</div>
									<div id="tab_1_3" class="tab-pane">
										<div class="slimScrollDiv" style="position: relative; overflow: scoll; width: auto; height: 290px;"><div data-rail-visible1="1" data-always-visible="1" style="height: 290px; overflow: hidden; width: auto;" class="scroller" data-initialized="1">
										<ul class="feeds">
												<?php if(count($this->highalerted)>0): 
                                                                                                    
                                                                                                    
                                                      foreach($this->highalerted as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $order->firstname ?>

																	<?php echo $order->lastname ;  ?><p><br>
<p>Order Date:<?php echo $orders->order_date ?> </p>
                                                																	<span class="label label-sm  label-class" >
																 	On high Alert <i class="fa fa-share"></i>
																	</span>
																	<span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                 else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php $this->translate('No Order In High Alert') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
												
											</ul>	
										</div><div class="slimScrollBar" style="background: none repeat scroll 0% 0% rgb(187, 187, 187); width: 7px; position: absolute; top: 0px; opacity: 0.4; display: block; border-radius: 7px; z-index: 99; right: 1px;"></div><div class="slimScrollRail" style="width: 7px; height: 100%; position: absolute; top: 0px; display: none; border-radius: 7px; background: none repeat scroll 0% 0% rgb(234, 234, 234); opacity: 0.2; z-index: 90; right: 1px;"></div></div>
									</div>
								</div>
							</div>
							<!--END TABS-->
						</div>
					</div>
        
        
        
    </div>
    
</div>
<script async="" src="<?php echo APPLICATION_ASSETS; ?>js/StackSlider_files/core-1.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo APPLICATION_ASSETS; ?>scripts/jquery_002.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo APPLICATION_ASSETS; ?>scripts/stacks_page_page21.js"></script>