<!-- BEGIN PAGE HEADER-->
<link rel="stylesheet" type="text/css" media="all" href="<?php echo APPLICATION_ASSETS; ?>css/stacks_page_page21.css">

<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">



             <?php

              $helperobject = $this->getHelper('RestaurantHelper');
              echo $this->translate($helperobject->The_Res_Name($this->myid)); ?>

			<?php echo $this->translate('statistics and more') ?></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Dashboard') ?></a></li>
			<li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
    <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat yellow">
			<div class="visual">
				<i class="fa fa-bar-chart-o"></i>
			</div>
			<div class="details">
				<div class="number"><span class="glyphicon glyphicon-euro"></span><?php echo  number_format($this->income , 2); ?></div>
				<div class="desc"><?php echo $this->translate('Bruto omzet') ?></div><!--Gross Income-->
			</div>
			<a class="more" href="<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'Report', 'action' => 'index'), 'default', true) ?>">
			<?php echo $this->translate('G naar report cetrum') ?> <i class="m-icon-swapright m-icon-white"></i><!--Go to Report Centre-->
			</a>                 
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa  fa-exclamation-circle"></i>
			</div>
			<div class="details">
				<div class="number"><?php 
                                
                                if($this->status):
                                    
                                     echo $this->translate('Open');//
                                    else:
                                     echo $this->translate('Dicht');  // close
                                endif;
                             ?></div>
   

				<div class="desc">                           
					<?php echo $this->translate('Winkel Status') ?><!--shop Status-->
				</div>
			</div>
		
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat green">
			<div class="visual">
				<i class="fa fa-shopping-cart"></i>
			</div>
			<div class="details">
				<div class="number"><?php echo $this->totalorders;  ?></div>
				<div class="desc"><?php echo $this->translate('Totaal Orders') ?></div><!--Total Orders-->
			</div>
			<a class="more" href="<?php echo $this->url(array('module' => 'restaurant', 'controller' => 'Orders', 'action' => 'orders'), 'default', true) ?>">
			<?php echo $this->translate('Alle Ordres') ?> <i class="m-icon-swapright m-icon-white"></i><!--View All New Ordres-->
			</a>                 
		</div>
	</div>
	<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		     <?php
                                   echo $this->formSelect(
                                        'resturant_status',
                                         (isset($this->status)) ? $this->status : $this->status,
                                        array(
                                            'class' => 'form-control',
                                            'id'    => 'auto_open_close',
                                            'required' => 'required',
                                            'onchange'  => 'change_stutus(this.value)',   
                                        ),
                                         array(
                                                '1' => $this->translate('Open'),
                                                '0' => $this->translate('Dicht')
                                            )
                                    )
                                ?>
	</div>

	
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>

<div class="row">
    
     <div class="col-md-4 col-sm-4">
					<div class="portlet box blue">
						<div class="portlet-title">
							<div class="caption">
								<i class="fa fa-bell-o"></i>Recente order status<!--Recent Orders Status-->
							</div> 
							<div class="actions">
								<div class="btn-group">
									
									
								</div>
							</div>
						</div>
						<div class="portlet-body">
						 <div id="stackSliderstacks_in_228_page21" class="stackSlider">
                                                     
                    <?php 
                    $start =count($this->recentorders);


                    if($start<1)
                    {?>
                     <div style="display: block; overflow: hidden; opacity: 0.0228798; height: 3.2947px;"><div style="opacity: 1; background:#eee;padding:5px;margin-bottom:10px" id="stacks_in_72<?php echo $start; ?>_page21" class="stacks_in text_stack">
                     
                       <p> No order available</p>
                   </div>
                     </div>

                  
                     <?php }
                    foreach($this->recentorders as $order): ?>                                 
                    <div style="display: block; overflow: hidden; opacity: 0.0228798; height: 3.2947px;"><div style="opacity: 1; background:#eee;padding:5px;margin-bottom:10px" id="stacks_in_72<?php echo $start; ?>_page21" class="stacks_in text_stack">
                            <p>Customer Name:<?php echo $order->firstname ?> <?php echo $order->lastname ;  ?><p>
                            <p>Order Date:<?php echo $order->order_date ?> <p>
                          
                             <p><?php echo $order->details; ?> <p>   
                            <!-- Styled Text Content 727 -->
                           
                            	<?php if($order->status == 2)

							{ ?>

							<span class="label label-warning"><?php echo $this->translate('In Process');?></span><?php 

							}

							elseif($order->status ==3)

                                 {?>

								 <span class="label label-class"><?php echo $this->translate('Approved'); ?></span>

														<?php 

                                                                                                                

                                                                                                                

                                 }

                                 elseif($order->status ==0)
                                 {

                                     ?>

                                     

                                      <span class="label label-success"><?php echo $this->translate('Delivered'); ?></span>

                                     

                                 <?php    

                                 }
                                  elseif($order->status ==4)
                                 {

                                     ?>

                                     

                                      <span class="label label-warning"><?php echo $this->translate('Pending'); ?> </span>

                                     

                                 <?php    

                                 }
                                  elseif($order->status ==1)
                                 {

                                     ?>

                                     

                                      <span class="label label-success"><?php echo $this->translate('On the Way'); ?> </span>

                                     

                                 <?php    

                                 }?>
		              <i class="fa fa-share"></i>
			      </span>
                            <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
                            <!-- Styled Text Content 727 -->

                        </div></div>
                                   <?php 
                                                    
                                                    $start--;
                                                    endforeach; ?>
                                                       
                                                    </div>  	
						</div>
					</div>
				</div>
    <div class="col-md-8 col-sm-8">
        
        <div class="portlet box red">
								<div class="portlet-title">
									<div class="caption"><i class="icon-bullhorn"></i>Weekoverzicht orders<!--Weekly Order Report-->	</div>
									<div class="tools">
										<div class="btn-group pull-right" data-toggle="buttons-radio">
											
										</div>
									</div>
								</div>
								<div class="portlet-body">
									<div id="graph"></div>
                                                                        <script id="code" >
                                                                                    var decimal_data = [];
                                                                                    var weeks        = ['Week 1','Week 2','Week 3','Laatste Week'];//last week
                                                                                    var data         = [<?php echo implode(',',$this->getHelper('RestaurantHelper')->To_make_Graph_Json($this->data->data)) ?>]; 
                                                                                    var yaxis        = 10;
                                                                                    
                                                                                    var decimal_data = [];
                                                                                    for (var x = 0; x <4 ; x += 1) {
                                                                                      decimal_data.push({
                                                                                        x: weeks[x],
                                                                                        y: data[x]
                                                                                      });
                                                                                    }
                                                                                    window.m = Morris.Line({
                                                                                      element: 'graph',
                                                                                      data: decimal_data,
                                                                                      xkey: 'x',
                                                                                      ykeys: ['y'],
                                                                                      labels: ['Total Sale'],
                                                                                      parseTime: false
                                                                                     
                                                                                    });
                                                                        </script>	
										
									
								</div>
							</div>
        
        
    </div>
    
    
    
    
    
  
</div>

<div class="clearfix"></div>

<div  class="row" >
    <div class="col-sm-12 col-sm-12 ">
        <div class="portlet paddingless">
						<div class="portlet-title line">
							<div class="caption">
								<i class="fa fa-bell-o high"></i>Order Alerts
							</div>
							<div class="tools">
								<a class="collapse" href="" data-original-title="" title="">
								</a>
								<a class="config" data-toggle="modal" href="#portlet-config" data-original-title="" title="">
								</a>
								<a class="reload" href="" data-original-title="" title="">
								</a>
								<a class="remove" href="" data-original-title="" title="">
								</a>
							</div>
						</div>
						<div class="portlet-body">
							<!--BEGIN TABS-->
							<div class="tabbable-line">
								<ul class="nav nav-tabs">
									<li class="active">
										<a data-toggle="tab" href="#tab_1_1" aria-expanded="true">
										Under Process </a>
									</li>
									<li class="">
										<a data-toggle="tab" href="#tab_1_2" aria-expanded="false">
										Delivered </a>
									</li>
									<li class="">
										<a data-toggle="tab" href="#tab_1_3" aria-expanded="false">
										Red Alerted </a>
									</li>
								</ul>
								<div class="tab-content">
									<div id="tab_1_1" class="tab-pane active">
										<div class="scroller" style="height: 290px; " data-always-visible="1" data-rail-visible1="1">
											<ul class="feeds">
                                                                                            
                                                                                                <?php if(count($this->processionorder)>0): 
                                                                                                    
                                                                                                    
                                                                                                    foreach($this->processionorder as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $orders->firstname ?>

																	<?php echo $orders->lastname ;  ?><p><br> 
																	
																	<p>Order Date:<?php echo $orders->order_date ?> </p>
																	<span class="label label-sm label-warning ">
																 	Under Process 
																	
																	<i class="fa fa-share"></i>
																	</span>
																	 <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $orders->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                 else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php echo $this->translate('No Order In Process') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
											</ul>
                                                                                       
										</div>
									
									</div>
									
									<div id="tab_1_2" class="tab-pane">
										<div class="scroller" style="height: 290px; " data-always-visible="1" data-rail-visible1="1">
											<ul class="feeds">
												<?php if(count($this->delivedorders)>0): 
                                                                                                    
                                                                                                    
                                                                                                    foreach($this->delivedorders as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $order->firstname ?>

																	<?php echo $order->lastname ;  ?><p>
																		<br>
                                                                 <p>Order Date:<?php echo $order->order_date ?> </p>
																		<span class="label label-sm label-success ">
																 	Delivered <i class="fa fa-share"></i>
																	</span>
																	 <span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ; ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                
                                                                                                
                                                                                                else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php echo $this->translate('No Delivered Order Available ') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
												
											</ul>
										</div>
									</div>
									<div id="tab_1_3" class="tab-pane">
									<div class="scroller" style="height: 290px; " data-always-visible="1" data-rail-visible1="1">
										<ul class="feeds">
												<?php if(count($this->highalerted)>0): 
                                                                                                    
                                                                                                    
                                                      foreach($this->highalerted as $orders):
                                                                                                    ?>
                                                                                                
												<li>
													<div class="col1">
														<div class="cont">
															<div class="cont-col1">
																<div class="label label-sm label-success">
																	<i class="fa fa-bell-o"></i>
																</div>
															</div>
															<div class="cont-col2">
																<div class="desc">
																	<p>Customer Name:<?php echo $order->firstname ?>

																	<?php echo $order->lastname ;  ?><p><br>
<p>Order Date:<?php echo $orders->order_date ?> </p>
                                                																	<span class="label label-sm  label-class" >
																 	On high Alert <i class="fa fa-share"></i>
																	</span>
																	<span><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders-detail', true) ?>?id=<?php echo $order->id; ?>" rel="self"><?php echo $this->translate('Detail');?></a></span>
																</div>
															</div>
														</div>
													</div>
													<div class="col2">
														<div class="date">
															 <?php  echo $order->order_date;?>
														</div>
													</div>
												</li>
												
												 <?php
                                                                                                endforeach;
                                                                                                 else:
                                                                                                    ?>
                                                                                                <li> 
                                                                                                <div class="label label-sm label-warning">
											           <?php echo $this->translate('No Order In High Alert') ?>	
																</div>
                                                                                                </li>
                                                                                                    <?php
                                                                                                 endif; ?>
												
											</ul>	
										</div>
									</div>
								</div>
							</div>
							<!--END TABS-->
						</div>
					</div>
        
        
        
    </div>
    
</div>
<script async="" src="<?php echo APPLICATION_ASSETS; ?>js/StackSlider_files/core-1.js" type="text/javascript"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo APPLICATION_ASSETS; ?>scripts/jquery_002.js"></script>
<script type="text/javascript" charset="utf-8" src="<?php echo APPLICATION_ASSETS; ?>scripts/stacks_page_page21.js"></script>

<script>
 function change_stutus(val)
 {
  	
   $.ajax({
       type: 'post',
       url:   'index.php/restaurant/admin/getstatus',
       success: function(res){

       	   if(res==1 && val==0)
       	   {
       	   	      if(confirm('You are attempting to close your restuarant manually. Your restaurant is set on Auto Open/Close Setting. Your restaurant will automatically open when open time will occur.'))
       	   	        {
                      window.location.href="restaurant/admin/changestatus?val=" + val;  
       	   	        }
       	   	        else
       	   	        {
       	   	        	return false;
       	   	        }
       	   }
       	   else if(res==1 && val==1)
       	   {  
       	   	 if(confirm('You are attempting to open your restuarant manually. Your restaurant is set on Auto Open/Close Setting. Your restaurant will automatically close when close time will occur.'))
       	   	        {
                      window.location.href="restaurant/admin/changestatus?val=" + val;  
       	   	        }
       	   	        else
       	   	        {
       	   	        	return false;
       	           }
       	   }
       	   else if(res==0 && val==0)
       	   {
       	   	 if(confirm('You are attempting to close your restuarant manually. Dont forget to open your Resturant because your restaurant is not set on Auto Open/Close Setting.'))
       	   	        {
                      window.location.href="restaurant/admin/changestatus?val=" + val;  
       	   	        }
       	   	        else
       	   	        {
       	   	        	return false;
       	           }
       	   }
       	   else if(res==0 && val==1)
       	   {
       	   	 if(confirm('You are attempting to open your restuarant manually. Dont forget to close your Resturant because your restaurant is not set on Auto Open/Close Setting.'))
       	   	        {
                      window.location.href="restaurant/admin/changestatus?val=" + val;  
       	   	        }
       	   	        else
       	   	        {
       	   	        	return false;
       	           }
       	   }
       
              
       },
   });

   
   

 }
</script>