<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-cogs"></i> <?php echo $this->translate('Shop Settings') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Settings') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Modify restaurant specific settings') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Settings saved successfully.') ?>
</div>
<?php endif; ?>

<ul class="nav nav-tabs">
  <li class="active"><a href="<?php echo $this->url(array(), 'restaurant-admin-settings', true) ?>"><?php echo $this->translate('General Settings') ?></a></li>
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-managedeliveryareas') ?>"><?php echo $this->translate('Delivery Areas') ?></a></li>
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-main') ?>"><?php echo $this->translate('Manage Working Hours') ?></a></li>
  <li><a href="<?php echo $this->url(array(), 'restaurant-admin-manageworkinghours') ?>"><?php echo $this->translate('Upload Logo') ?></a></li>
</ul>

<div class="row">
    <div class="col-sm-12">
        <form class="form-horizontal" method="post" enctype="multipart/form-data">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Info'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Shop Name'); ?>:</label>
                        <div class="col-md-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_name',
                                        $this->request->res_name,
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter restaurant title / name here'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Description'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_description',
                                    $this->request->res_description,
                                    array(
                                        'placeholder' => $this->translate('Describe restaurant specialities and any other information here'),
                                        'class' => 'form-control',
                                        'style' => 'height: 100px'
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Contact Email'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon">@</span>
                                <?php
                                    echo $this->formText(
                                        'res_contact',
                                        $this->request->res_contact,
                                        array(
                                            'required' => 'required',
                                            'placeholder' => $this->translate('Enter contact email address here'),
                                            'class' => 'form-control'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_payment_modes" class="control-label col-md-2">*<?php echo $this->translate('Payment Modes'); ?>:</label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formMultiCheckbox(
                                    'res_payment_modes',
                                    $this->request->res_payment_modes,
                                    null,
                                    array(
                                        'cash' => $this->translate('By Cash'),
                                        'cc' => $this->translate('By Credit Card')
                                    ),
                                    '&nbsp;&nbsp;'
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Delivery Fees'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-try"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_delivery_fees',
                                        $this->request->res_delivery_fees,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0.00',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_avg_delivery_time" class="control-label col-md-2">*<?php echo $this->translate('Average Delivery Time'); ?>:</label>
                        <div class="col-md-2">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                <?php
                                    echo $this->formText(
                                        'res_avg_delivery_time',
                                        $this->request->res_avg_delivery_time,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'required' => 'required'
                                        ) 
                                    )
                                ?>
                                <span class="input-group-addon">min(s)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Address'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_address" class="control-label col-md-2">*<?php echo $this->translate('Address'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formTextarea(
                                    'res_address',
                                    $this->request->res_address,
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;',
                                        'placeholder' => $this->translate('Enter restaurant full address except location and city')
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('City / Town'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'res_city',
                                        $this->request->res_city,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'required' => 'required',
                                            'onchange' => 'loadLocations(this)'
                                        ),
                                        $this->cities
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="res_location" class="control-label col-md-2">*<?php echo $this->translate('Location / Region'); ?>:</label>
                        <div class="col-md-4">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-location-arrow"></i></span>
                                <?php
                                    echo $this->formSelect(
                                        'res_location',
                                        $this->request->res_location,
                                        array(
                                            'class' => 'form-control',
                                            'placeholder' => '0',
                                            'required' => 'required'
                                        ),
                                        $this->locations
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
             <div class="portlet-body">
                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Upload logo & Banner'); ?>:</h3>
                    <hr />
                    <div class="form-group">
                        <label for="res_address" class="control-label col-md-2"><?php echo $this->translate('logo'); ?></label>
                        <div class="col-md-8">
                            <?php
                            
                                $doc_file = new Zend_Form_Element_File('doc_path');
        $doc_file->setLabel('Upload File:')
        				 ->setRequired(true)
        				 ->addValidator('Count', false, 1)
        				 ->addValidator('Size', false, 1048576)
        				 ->setMaxFileSize(1048576)
        				 ->addValidator('Extension', false, 'jpg,png,gif,pdf');
        				 
        				 echo $doc_file;
                               
                               
                            ?>
                        </div>
                    </div>
                    
                       <div class="form-group">
                        <label for="res_address" class="control-label col-md-2"><?php echo $this->translate('Banner'); ?></label>
                        <div class="col-md-8">
                            <?php
                                echo $this->formFILE(
                                    'res_banner',
                                    $this->request->res_banner,
                                    array(
                                        'class' => 'form-control',
                                        'style' => 'height: 100px;',
                                       
                                    )
                                )
                            ?>
                        </div>
                    </div>
                    
                    </div>
            
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save Settings'); ?></button>
        </form>
    </div>
</div>