<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body style=" font-family:Helvetica, sans-serif">
<div style="float:left; width:100%;">
<div style=" width:600px; margin:auto;">
<div style="float:left; background:#eee; width:100%; min-height:400px;border-color: FIREBRICK;border-style: groove; border-width: 12px;">
<div style="float: left;text-align: center;width: 100%; margin: 30px 0 0;"><img src="http://pizzat.justdemo.org/assets/img/login_logo.png"/></div>
<h1 style="float: left; font-size: 45px; text-align: center;width: 100%;"><?php echo $data[0]->discount_type ?></h1>
<p style="float: left;font-size: 25px; margin: auto;text-align: center;width: 100%;">Use coupon code: <?php echo  $data[0]->code ?></p>
<p style=" float: left; margin: 30px 0 0;text-align: center;width: 100%;">
 
    <?php if($data[0]->discount_type=='cash'): ?>
    Use this Coupon  to get  <?php echo $data[0]->discount ?> SAR cash discount on total cart price 
    <?php 
    else: 
    ?>
    Use this Coupon  to get free <?php echo $data[0]->discount ?>  on order
    <?php endif;?>
</p>
<p style=" float: left; margin: 30px 0 0;text-align: center;width: 100%;">Expirary Date:<?php echo date('Y-m-d',$data[0]->expiry_date) ?></p>
<p style=" float: left; margin: 30px 0 0;text-align: center;width: 100%;">
    </p>
<p style=" float: left; margin: 30px 0 0;text-align: center;width: 100%;"></p>

</div>
</div>
</div>
</body>
</html>
