<html>
<head><title><?php echo $this->mail_subject ?></title></head>
<body>
    <p>Dear <?php echo $this->user_name ?>,</p>
    <p>Below is your account temporary password. Please change your password as soon as you are logged in.</p>
    <p><strong>Temporary Password: </strong><?php echo $this->temppassword ?></p>
    <p><em>kebapiste.com Team</em></p>
</body>
</html>