<html>
    <head><title><?php echo $this->mail_subject ?></title></head>
    <body>
        <p>
            Dear <?php echo $this->admin_name ?>,
        </p>
        <p>
            Your restaurant account has been successfully created. You can login to the restaurant management panel once your email
            is verified and account is activated. To complete the email verification step, please click the link below:
        </p>
        <div style="padding: 15px; margin: 5px; background-color: #eee; border-radius: 5px;">
            <a href="<?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url(array('vercode' => $this->ver_code), 'restaurant-admin-email-verification', true); ?>">
                <?php echo 'http://'.$_SERVER['HTTP_HOST'].$this->url(array('vercode' => $this->ver_code), 'restaurant-admin-email-verification', true); ?>
            </a>
        </div>
        <small>If above link don't work, then copy paste it directly in web browser address bar.</small>
        <p>
            <em><?php echo $this->appConfig->mailsettings->sender->name ?></em>
        </p>
    </body>
</html>