html {

	font-size: 10pt;

}

label {

	display: block;

	color: #999;

}

.cf:before,

.cf:after {

    content: ""; 

    display: table;

}



.cf:after {

    clear: both;

}

.cf {

    *zoom: 1;

}

:focus {

	outline: 0;

}

.loginform {

	width: 410px;

	margin: 22% auto;

	padding: 25px;

	background-color: rgba(250,250,250,0.5);

	border-radius: 5px;

    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2), 

    			inset 0px 1px 0px 0px rgba(250, 250, 250, 0.5);

    border: 1px solid rgba(0, 0, 0, 0.3);

}

.loginform ul {

	padding: 0;

	margin: 0;

}

.loginform li {

	display: inline;

	float: left;

}

.loginform input:not([type=submit]) {

	padding: 5px;

	margin-right: 10px;

	border: 1px solid rgba(0, 0, 0, 0.3);

	border-radius: 3px;

	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1), 

				0px 1px 0px 0px rgba(250, 250, 250, 0.5) ;

}

.loginform input[type=submit] {

	border: 1px solid rgba(0, 0, 0, 0.3);

	background: #64c8ef; /* Old browsers */

	background: -moz-linear-gradient(top,  #64c8ef 0%, #00a2e2 100%); /* FF3.6+ */

	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#64c8ef), color-stop(100%,#00a2e2)); /* Chrome,Safari4+ */

	background: -webkit-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Chrome10+,Safari5.1+ */

	background: -o-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* Opera 11.10+ */

	background: -ms-linear-gradient(top,  #64c8ef 0%,#00a2e2 100%); /* IE10+ */

	background: linear-gradient(to bottom,  #64c8ef 0%,#00a2e2 100%); /* W3C */

	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#64c8ef', endColorstr='#00a2e2',GradientType=0 ); /* IE6-9 */

	color: #fff;

	padding: 5px 15px;

	margin-right: 0;

	margin-top: 15px;

	border-radius: 3px;

	text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.3);

}

.alert-danger{color:#a94442;background-color:#f2dede;border-color:#ebccd1}









body {

    background: #253b66;

    font-family: "Helvetica Neue", Helvetica, Arial;

    padding-top: 7%;

}



.containers {

    width: 360px;
    margin: 0 auto;

}



#signup {

    padding: 0px 25px 25px;

    background: #fff;font-family: "Open Sans",sans-serif;

   /* box-shadow: 

        0px 0px 0px 5px rgba( 255,255,255,0.4 ), 

        0px 4px 20px rgba( 0,0,0,0.33 );

    -moz-border-radius: 5px;

    -webkit-border-radius: 5px;

    border-radius: 5px;*/

    display: table;

    position: static;

}



#signup .header {
    float: left;
   
    padding: 18px 0;
    text-align: center;
    width: 100%;
}


/*#signup .header h3 {

    color: #333333;

    font-size: 24px;

    font-weight: bold;

    margin-bottom: 5px;

}



#signup .header p {

    color: #8f8f8f;

    font-size: 14px;

    font-weight: 300;

}
*/


#signup .sep {
    font-family: "Open Sans",sans-serif;
    font-size: 25px;
    font-weight: 300;
    margin: 0;
    width: 100%;
}



#signup .inputs {

    margin-top: 25px;

}



#signup .inputs label {

    color: #8f8f8f;

    font-size: 12px;

    font-weight: 300;

    letter-spacing: 1px;

    margin-bottom: 7px;

    display: block;

}



input::-webkit-input-placeholder {

    color:    #b5b5b5;

}



input:-moz-placeholder {

    color:    #b5b5b5;

}



#signup .inputs input[type="email"], input[type="password"] {
    background: transparent none repeat scroll 0 0;
    border: medium none;
    border-radius: 3px;
    height: auto;
    margin-bottom: 0;
    padding: 9px 10px;
}


/*#signup .inputs input[type=email]:focus, input[type=password]:focus {

    background: #fff;

    box-shadow: 0px 0px 0px 3px #fff38e, inset 0px 2px 3px rgba( 0,0,0,0.2 ), 0px 5px 5px rgba( 0,0,0,0.15 );

    outline: none;   

}
*/
.containers .input-icon { border-color: #e5e5e5 #e5e5e5 #e5e5e5 #35aa47;border-style: solid;border-width: 1px 1px 1px 2px;float: left;width: 100%;margin-bottom: 10px;}		
.glyphicon.glyphicon-user { color: #ccc;display: block;font-size: 16px;height: 16px; margin: 8px 2px 4px 10px;position: relative;text-align: center;width: 16px;  float: left;}
.form-control.fx { border: medium none!important;float: right!important; width: calc(100% - 31px)!important;box-shadow: 0 0 0 rgba(0, 0, 0, 0.075) inset!important;}
.containers .checkbox, .radio { float: left; width: 100%;}


#signup .inputs .checkboxy {

    display: block;

    position: static;

    height: 25px;

    margin-top: 10px;

    clear: both;

}



#signup .inputs input[type=checkbox] {

    float: left;

    margin-right: 10px;

    margin-top: 3px;

}



#signup .inputs label.terms {

    float: left;

    font-size: 14px;

    font-style: italic;

}



#signup .inputs #submit {
    background: #35aa47 none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1), 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    color: #fff;
    display: table;
    float: right;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-top: 5px;
    padding: 10px 0;
    position: static;
    text-align: center;
    text-decoration: none;
    width: 33%;
}


#signup .inputs #submit:hover {

    background: -moz-linear-gradient(

        top,

        #a4b0cb 0%,

        #b9c5dd);

    background: -webkit-gradient(

        linear, left top, left bottom, 

        from(#a4b0cb),

        to(#b9c5dd));

}

.log_danger {

    margin: auto;

    width: 50%;

}