<!-- BEGIN PAGE HEADER-->
  
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Combine Report') ?> <small><?php echo $this->translate('statistics and more') ?></small>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li><?php echo $this->translate('Combine Status Reports');?></li>
			<!--li class="pull-right">
				<div id="dashboard-report-range" class="dashboard-date-range tooltips" data-placement="top" data-original-title="Change dashboard date range">
					<i class="fa fa-calendar"></i>
					<span></span>
					<i class="fa fa-angle-down"></i>
				</div>
			</li-->
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->
<!-- BEGIN DASHBOARD STATS -->
<div class="row">
	
         
	<!--div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
		<div class="dashboard-stat blue">
			<div class="visual">
				<i class="fa fa-comments"></i>
			</div>
			<div class="details">
				<div class="number">5 <!-- TODO: calculate total restaurant --><!--/div>
				<div class="desc"><?php echo $this->translate('New Feedbacks') ?></div>
			</div>
			                
		</div>
	</div-->
    
    
    
    	<div class="portlet box red">
        <div class="portlet-title">
									<div class="caption"><i class="icon-bullhorn"></i><?php echo $this->translate('All Shops Report') ?><span style="margin-left: 600px !important;">	</div>
									<div class="tools">
										<div class="btn-group pull-right" data-toggle="buttons-radio">
											
										</div>
									</div>
								</div>
								<div class="portlet-body">
                                                             
                                  <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
									
								</div>
							</div>	
</div>
<!-- END DASHBOARD STATS -->
<div class="clearfix"></div>


<script>
    <?php
   
     $helper = $this->getHelper('RestaurantHelper');
    
    ?>
    
    var datavalues= function()
    {
        
        var data =[<?php echo $helper->chartsJsonFormatter($this->data); ?>];
        
        return data;
        
    }
    
    var seriesdata = function()
                        {
                            
                            var series ={
            series: [<?php echo $helper->chartJsonSubList($this->data) ?>]
        }
                            return series;
                        }


</script>