 
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-signal"></i> <?php echo $this->translate('Customer Order History '); ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
           
			<li>
				<!--<i class="fa fa-home"></i>-->
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home'); ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><?php echo $this->translate('Customer Order History'); ?></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">
    <input type="hidden" name="frmaction" value="" />
    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />
    <!-- Filters -->
    <div class="row">
        <div class="col-sm-12">
            <!--div class="portlet box red grey grey1">
                <div class="portlet-title grey2">
                    <div class="caption"><i class="fa fa-globe"></i> <?php echo $this->translate('Delivery Boy  Management'); ?></div>
    				<div class="tools">
					   <a href="" class="expand"></a>
    				</div>
                </div>
                <div class="portlet-body" style="display: none!important;">
                    <div class="form-group">
                        <label for="filterby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Filter List By'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <div class="row-fluid">
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyapprovedstatus',
                                            $this->request->filterbyapprovedstatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'approved' => $this->translate('Approved'),
                                                'underapproval' => $this->translate('Under Approval')
                                            )
                                        );
                                    ?>
                                </div>
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyactivestatus',
                                            $this->request->filterbyactivestatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'active' => $this->translate('Active'),
                                                'deactive' => $this->translate('Deactive')
                                            )
                                        );
                                    ?>
                                </div>
                                <div class="col-sm-3">
                                    <?php
                                        echo $this->formSelect(
                                            'filterbyopenstatus',
                                            $this->request->filterbyopenstatus,
                                            array( 'class' => 'form-control' ),
                                            array(
                                                'opened' => $this->translate('Open'),
                                                'closed' => $this->translate('Close')
                                            )
                                        );
                                    ?>
                                </div>
                            </div>  
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Sort By'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <?php
                                echo $this->formRadio(
                                    'sortby',
                                    (isset($this->request->sortby) ? $this->request->sortby : 'name'),
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'name' => $this->translate('Shop Name'),
                                        'location' => $this->translate('Location'),
                                        'amount' => $this->translate('Gross Income'),
                                        'orders' => $this->translate('Total Orders'),
                                        'active-orders' => $this->translate('Total Active Orders')
                                    ),
                                    '&nbsp;&nbsp;'
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Sort Order'); ?>:</strong></label>
                        <div class="col-sm-10">
                            <?php
                                echo $this->formRadio(
                                    'sortorder',
                                    (isset($this->request->sortorder) ? $this->request->sortby : 'asc'),
                                    array(
                                        'class' => 'form-control'
                                    ),
                                    array(
                                        'asc' => $this->translate('Ascending'),
                                        'desc' => $this->translate('Descending')
                                    ),
                                    '&nbsp;&nbsp;'
                                )
                            ?>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-sm-2">&nbsp;</label>
                        <div class="col-sm-10">
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(1); $('#frm-do-action').submit();" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Apply Filter'); ?></button>
                            <?php if(isset($this->request->filterset) and $this->request->filterset): ?>
                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(0); $('#frm-do-action').submit();" class="btn red"><i class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('Clear Filter'); ?></button>
                            <?php endif; ?>
                        </div>
                    </div>
                </div>
            </div-->
        </div>
    </div>

    <!-- Restaurants List -->
    <div class="row">
        <div class="col-sm-12">
            <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errormessage; ?>
            </div>
            <?php endif; ?>
			
			 <div class="col-sm-12">
			 <div class="form-group">
                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Select Delivery Point'); ?>:</strong></label>
                        <div class="col-sm-10">
			   <?php
                      echo $this->formSelect(
                              'res_id',
                                 $this->request->res_id,
                                            array( 'class' => 'form-control' ),
                                            $this->resids 
                                        );
                ?>
				</div>
				</div>
				<div class="form-group">
                        
                        <div class="col-sm-10" style="    margin: 0 0 0 16.6%;">
			     <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(1); $('#frm-do-action').submit();" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Filter By delivery Points'); ?></button>
				</div>
				</div>
			 </div>
			
			
            <table class="table table-striped table-bordered table-hover table-condensed dataTable" <?php

                     if(count($this->data) > 0): ?> 
                     id="example" <?php endif;?>>
			
			
			
			
			
			
                <thead>
                    <tr>
                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>
                      
                        <th><!--<i class="fa fa-cutlery"></i>--> <?php echo $this->translate('Customer'); ?></th>
                        <th><!--<i class="fa fa-location-arrow"></i>--> <?php echo $this->translate('Total Orders'); ?></th>
						<th class="text-center">
                                                     
                                                     <?php echo $this->translate('Total Amount Spent'); ?> <span class="glyphicon glyphicon-euro"></span></th>
						
                                  
                        
                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Action'); ?></th>
                       
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->data)< 1): ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <br />                        
                           <span class="label label-warning"><?php echo $this->translate('No Customer History available'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php 
					
					
					elseif(count($this->data) > 0): ?>
                        <?php foreach($this->data as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">
                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry['id'], array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td>
                          
                            <td><?php echo $this->escape(stripslashes($entry['name'])) ?> </td>
                            <td><?php echo $this->escape(stripslashes($entry['totalcount'])) ?> </td>
			                <td><?php echo $this->escape(stripslashes($entry['totalAmount'])) ?><span class="glyphicon glyphicon-euro"></span></td>              
                            <td> 
                              Transaction Report
                               
                            </td>
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
             
            </table>
             <?php
             
               if(!$this->count == 0):
             
                echo $this->paginationControl($this->paginator, 
                                    'Sliding',
                                    'components/pagination.phtml'); 
               
               endif;
               ?>
        
        </div>
    </div>
</form> 
     