<!-- BEGIN PAGE HEADER-->

<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cog"></i> <?php echo $this->translate('Add Commision') ?>
            
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'admin-Report-invoiceperres', true) ?>"><?php echo $this->translate('Add\Edit Commision') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->

<div class="note note-info">
    <h3><?php echo $this->translate('Please add the Commision ') ?></h3>
    <p>
        <?php echo $this->translate('Fields marked (*) are mandatory.') ?>
    </p>
</div>

<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errormessage; ?>
</div>
<?php endif; ?>

<?php if($this->success): ?>
<div class="alert alert-success">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->translate('Data is Saved') ?>
</div>
<?php endif; ?>

<div class="row">
    <div class="col-sm-12">
        <form method="post" class="form-horizontal" action="<?php echo $this->url(array(), 'admin-Report-editinvoiceperres', true) ?>?id=<?php echo $this->res_id;  ?> ">
            <div class="portlet solid light-grey">
                <div class="portlet-body">
                    <br />
                     
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Shop Name') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'restaurant_name',
                                        (isset($this->data['restaurant_name'])? $this->data['restaurant_name'] :''),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'resturant',
                                            'placeholder' => $this->translate('Enter Rastaurant name'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
               
					 <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Commision In %') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'commision_per',
                                        (isset($this->data['per_order_commision'])?$this->data['per_order_commision']:''),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'commision_per',
                                            'placeholder' => $this->translate('Enter commision in %'),
                                            'required' => 'required'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                  <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('commision') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'commision',
                                        (isset($this->data['commission'])?$this->data['commission']:''),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'commision',
                                            'placeholder' => $this->translate('commision'),
                                            'readonly' => 'readonly'
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Toatl Paid') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'total_paid',
                                        (isset($this->data['paid'])?$this->data['paid']:''),
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'total_paid',
                                            'placeholder' => $this->translate('Total Paid Amount'),
                                            'readonly' =>'readonly'
                                           
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Dues') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'dues',
                                        $this->data['commission']-$this->data['paid'],
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'dues',
                                            'placeholder' => $this->translate('Dues Amount'),
                                            'readonly' =>'readonly'
                                           
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                   <div class="form-group">
                        <label class="control-label col-sm-2 col-md-2">*<?php echo $this->translate('Paid') ?>:</label>
                        <div class="col-sm-10 col-md-8">    
                            <div class="input-group">
                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>
                                <?php
                                    echo $this->formText(
                                        'paid',
                                        '', 
                                        array(
                                            'class' => 'form-control',
                                            'id' => 'paid',
                                            'placeholder' => $this->translate('Enter paid amount')
                                            
                                           
                                        )
                                    )
                                ?>
                            </div>
                        </div>
                    </div>
                 
                    </div>
                    
                </div>
            </div>
            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Save') ?></button>
        </form>
    </div>
</div>

