<!-- BEGIN PIE CHART PORTLET-->

  <div class="row">

	<div class="col-md-12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">

			<?php echo $this->translate('Delivery Points Over all Report') ?>

		</h3>

		<ul class="page-breadcrumb breadcrumb">

			<li>

				<i class="fa fa-home"></i>

				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 

				<i class="fa fa-angle-right"></i>

			</li>

			<li>

                <i class="fa fa-cutlery"></i>

                <a href="<?php echo $this->url(array(), 'admin-Report', true) ?>"><?php echo $this->translate(' Over All Reports') ?></a>

                <i class="fa fa-angle-right"></i>

            </li>

            

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>

</div> 

             <?php 

				

				$graph_values=array();

			

				

				// for getting the   daily graph //

				

				foreach($this->data->amount as $key => $data):

				

				$time = new DateTime($key);

                                $date = $time->format('Y,m,d');

               

                             

				        

				 $graph_values[]="[gd($date), $data]";



				

				endforeach;

				

				$data = implode(',',$graph_values);

				

				

				$start=1;

				

				// for getting the weekly graph 

				

				foreach($this->week->data as $week):

			

				 $week_graph[]="[$start,$week->sum]";

				 

				 

				$start++;

				endforeach;

				

				$weekly_data=implode(',',$week_graph);

				

			//  for getting the yearly graph	

			

			for($start=0;$start<count($this->month['data']);$start++)

			  {

				$price = $this->month['data'][$start];

				$month = $this->month['months'][$start];

				

				$yearly_graph[]="[gd($month),$price]";

			

			   }

			 		$yearly_data=implode(',',$yearly_graph);	

					

					

					

					

							

				

				  

				

				

				?>

				

				<div class="row-fluid">

					<div class="span12">

					

							<!-- BEGIN PORTLET-->

							<div class="portlet box purple">

								<div class="portlet-title">

									<div class="caption"><i class="icon-bullhorn"></i>  Daily Order Report    <span style="margin-left: 600px !important;

}" >From: <?php  echo $this->data->last_date; ?> To: <?php  echo $this->data->first_date; ?></span>	  </div>

									<div class="tools">

										<div class="btn-group pull-right" data-toggle="buttons-radio">

											

										</div>

									</div>

								</div>

								<div class="portlet-body">

									<div id="site_activities_loading">

										<img src="Resturant/assets/img/loading.gif" alt="loading" />

									</div>

									   

										<div id="placeholder" class="chart"  ></div>	

										

									

								</div>

							</div>

									

									

									<div class="portlet box red">

								<div class="portlet-title">

									<div class="caption"><i class="icon-bullhorn"></i>Weekly Order Report<span style="margin-left: 600px !important;

}" >From: <?php  echo $this->last_week_date; ?> To: <?php  echo $this->first_week_date; ?></span>	</div>

									<div class="tools">

										<div class="btn-group pull-right" data-toggle="buttons-radio">

											

										</div>

									</div>

								</div>

								<div class="portlet-body">

									<div id="site_activities_loading_weekly">

										<img src="Resturant/assets/img/loading.gif" alt="loading" />

									</div>

									   

										<div id="placeholder_weekly" class="chart"  ></div>	

										

									

								</div>

							</div>	

								

                  	<div class="portlet box yellow" >

								<div class="portlet-title">

									<div class="caption"><i class="icon-bullhorn"></i>Yearly Order Report<span style="margin-left: 600px !important;

}" >From: <?php  echo $this->last_month_date; ?> To: <?php  echo $this->start_month_date; ?></span></div>

									<div class="tools">

										<div class="btn-group pull-right" data-toggle="buttons-radio">

											

										</div>

									</div>

								</div>

								<div class="portlet-body">

									<div id="site_activities_loading_yearly">

										<img src="Resturant/assets/img/loading.gif" alt="loading" />

									</div>

									   

										<div id="placeholder_yearly" class="chart"  ></div>	

										

									

								</div>

							</div>		

						

							

				</div>

				</div>

				

				

				<script type="text/javascript">



                     

				// for sending the daily array graph

				

				 function datavalues()

				 {



                 $array=[<?php echo $data;?>];

				

                  





                    return $array;





					 }





                  // for sending weekly array data to flot graph

                  

				 function weekly_data()

				 {



                 $array=[<?php echo $weekly_data ;?>];

				

                  





                    return $array;





					 }

                  // for sending yearly report array data into graph 

                function yearly_report()



                {



               $array=[<?php echo $yearly_data ; ?>];



                return $array;



                    }



				 



				 function gd(year, month, day) {

					   

					



			          return new Date(year, month - 1, day).getTime();

			          

			          

			             }



				

				

				</script>