<style>

#Update{ display:none; }
 </style>
}
}

<!-- BEGIN PAGE HEADER-->
<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <i class="fa fa-cutlery"></i> <?php echo $this->translate('Meals Report') ?>
        </h3>
        <ul class="page-breadcrumb breadcrumb">
            <li>
                <i class="fa fa-home"></i>
                <a href="index.html"><?php echo $this->translate('Home') ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#"><?php echo $this->translate('Commision Details') ?></a></li>
        </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>
<!-- END PAGE HEADER-->



<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>




<?php print_r();?>
<div class="well well-sm">
    <div class="row">
      
       <div class="col-sm-6">
           <span>Shop Name:</span>   <span><?php echo $this->detail->restaurant_name; ?> <span></br>
           <span>Shop Email:</span> <span><?php echo $this->detail->contact_email; ?> <span></br>
           <span>Shop Commision In %:</span> <span><?php echo $this->detail->per_order_commision; ?><span></br>
             
        </div> 
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right control-label col-sm-5" for="mealcategory"><?php echo $this->translate('Select Year:') ?></label>
                <div class="col-sm-7">
 
                    <?php
                     $yy = date('Y');
                     for($i=$yy; $i >= ($yy-10); $i--) {

                     	$year[$i] = $i;
                     	
                     }
                    
                        
                        echo $this->formSelect(
                            'Year',
                            $this->year,
                            array(
                                'class' => 'form-control',
                                'onchange' => "get_year(this.value)"
                            ),
                           $year
                        )
                    ?>
                </div>
            </div>

        </div> 
    </div>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-location-arrow"></i>  <?php echo $this->porletname; ?>
             
             </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
         
            <table class="table table-bordered table-hover">
                <thead>
                    
                    <?php 
                   
                    if(count($this->data) > 0): ?>
                    
                       <tr>
                        
                        <th><?php echo $this->translate('Month') ?></th>
                        <th><?php echo $this->translate('Total Revenue') ?></th>
                        <th><?php echo $this->translate('Commission') ?></th>
                        <th><?php echo $this->translate('Paid') ?></th>
                        <th><?php echo $this->translate('Dues') ?></th>
                        <th>Action</th>
                        
                        </tr>
                        </thead>
                        <tbody>
                    
                        <?php foreach($this->data as $detail): 
                             
                         $totalcom[] = $detail['commision'];
                         $totalpad[] = $detail['paid'];
                        ?>
                       <tr >
                       <td><?php echo stripslashes($detail['month']) ?></td> 
                       <td><i class="fa fa-try"></i> <?php echo number_format($detail['total'], 2) ?></td>
                       <td> <i class="fa fa-try"></i> <?php echo number_format($detail['commision'],2); ?> </td>
                       <td><div class="prev-approval<?php echo $detail['month']; ?>"><i class="fa fa-try"></i> <?php echo number_format($detail['paid'],2 ) ?></div> <div class=next-approval<?php echo $detail['month']; ?> style="display:none;"><input type="text" class ="form-control" name="paidamount" id="paidamt<?php echo $detail['month']; ?>" placeholder="Enter paid Amount" /> </div></td>  
                       <td><i class="fa fa-try"></i> <?php echo number_format($detail['commision']-$detail['paid'], 2); ?></td> 
                       <td><span class="edit<?php echo $detail['month']; ?>"><a href="javascript:void(0)"  onclick="edit_paid('<?php echo $detail['month']; ?>')">edit</a> </span> <span class="cancle<?php echo $detail['month']; ?>" style="display:none"><a href="javascript:void(0)"  onclick="cancle_paid('<?php echo $detail['month']; ?>')">Cancle</a> |</span>  <span class="Update<?php echo $detail['month']; ?>" style="display:none;"><a href="javascript:void(0)"  onclick="update_paid('<?php echo $detail['month']; ?>')">Update</a></span> </td>  
                       </tr>

                        <?php
                        endforeach;
                        ?>
                        <tr >
                       <td></td> 
                       <td></td>
                       <td> <i class="fa fa-try"> <?php echo number_format(array_sum($totalcom) ,2); ?> </td>
                       <td><i class="fa fa-try"> <?php echo number_format(array_sum($totalpad) ,2); ?></td>  
                       <td><i class="fa fa-try"> <?php echo number_format(array_sum($totalcom)-array_sum($totalpad), 2); ?></td> 
                       <td></td>
                       </tr>

                       <tr >
                       <td colspan="6"></td> 
                       </tr>
                       <tr >
                       <td colspan="4"></td> 
                       <td > <span class="btn green">Total Commision: </span> </td>  
                       <td><i class="fa fa-try"> <?php echo number_format(array_sum($totalcom), 2); ?></td> 
                       </tr>
                        <tr >
                       <td colspan="4"></td> 
                       <td ><spna class="btn green">Total Paid:</span></td>
                       <td><i class="fa fa-try"> <?php echo number_format(array_sum($totalpad), 2); ?></td> 
                       </tr>
                        <tr >
                       <td colspan="4"></td> 
                       <td ><span class="btn red">Total Dues: </span></td>
                       <td><i class="fa fa-try"> <?php echo number_format(array_sum($totalcom)-array_sum($totalpad), 2); ?></td> 
                       </tr>
                       <?php else: ?>
                        <tr>
                        <td colspan="6" class="text-center">
                            <span class="label label-warning">
                                <?php echo $this->translate('No data  found!') ?>
                            </span>
                        </td>
                      </tr>
                    <?php endif; ?>
                </tbody>
            </table>
           
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script>

function get_year(val)
{ 

  window.location.href = "<?php echo $this->url(array(), 'admin-Report-invoicedetail', true); ?>?id=<?php echo $this->res_id; ?>&year="+val;
 }

 function edit_paid(month)
 {
   $('.prev-approval'+month).hide();
   $('.next-approval'+month).show();
   $('.edit'+month).hide();
   $('.Update'+month).show();
   $('.cancle'+month).show();
 }

 function cancle_paid(month)
 {
   $('.prev-approval'+month).show();
   $('.next-approval'+month).hide();
   $('.edit'+month).show();
   $('.Update'+month).hide();
   $('.cancle'+month).hide();
 }

 function update_paid(month)
 {
 
  var paidamt = $('#paidamt'+month).val(); 
  var rest_id= "<?php echo $this->res_id; ?>";
  if(paidamt=='') 
  {
  	 location.reload();    
  }
  else{


   $.ajax({ 

   	url:'admin/Report/invoiceupdate',
   	type: 'POST',
   	data:{ month:month, rest_id:rest_id , amount:paidamt },
    success: function(result){
     location.reload();    
  }
 });
}
 }

</script>
