
<?php 

if($this->detail->errormessage!= ""):
?>
<div class="note note-success">

<h4 class="block"><?php echo $this->detail->errormessage; ?></h4>

</div>

<?php 

endif;

?>
<style type="text/css">
  #googleMap{
 margin-top: 58px;

  }
  .alert.alert-danger.alert-dismissable {
    margin-top: 40px !important;
}

</style>
<div class="col-md-6 col-sm-6">
          <!-- BEGIN PORTLET-->
          <div class="portlet">
            <div class="portlet-title line">
               <div class="caption"><i class="fa fa-map-marker"></i>Location Panel</div>
                <?php 

      $arrays = $this->paginator;
      foreach($arrays as $var){
       
        $lat = $var->latitude;
        $log = $var->longitude;
      }
      if($lat and $log){

            ?>
              <div id="mapdiv" style="width:1000px;height:600px;"></div>
              <?php } 
              else{
                ?><div class="alert alert-danger alert-dismissable" style="margin-top=40px">
                <?php echo "No Delivery Boy Available ! ";
        ?>
        </div>
              <?php

              }
              ?>
              <div class="tools">
                <a href="" class="collapse"></a>
                


              </div>
              </div>
            </div>
          </div>
            
</div>

<script src="http://maps.google.com/maps/api/js?sensor=false" type="text/javascript">
           </script>

 <script type="text/javascript">

   //  var locations = [
   //   <?php 
   //   $start = 0;
   //    $array = $this->paginator;
   //   foreach ($array as $value)  { 
   //    if($start == 0){
   //    ?>
   // ['Maroubra Beach', <?php  echo  $value->latitude .','. $value->longitude; ?>]
   // <?php 
   //      }
   //      else{
   //  ?>
   // ,['Maroubra Beach', <?php  echo  $value->latitude .','. $value->longitude; ?>]
   // <?php 

   //  }
   // $start++;
   // } 
   // ?>

   //  ];
 
   //  var map = new google.maps.Map(document.getElementById('map'), {
   //    zoom: 10,
   //    center: new google.maps.LatLng(34.047863, 100.619655),
   //    mapTypeId: google.maps.MapTypeId.ROADMAP
   //  });
 
   //  var infowindow = new google.maps.InfoWindow();
 
   //  var marker, i;
 
   //  for (i = 0; i < locations.length; i++) {  
   //    marker = new google.maps.Marker({
   //      position: new google.maps.LatLng(locations[i][1], locations[i][2]),
   //      map: map
   //    });
 
   //    google.maps.event.addListener(marker, 'click', (function(marker, i) {
   //      return function() {
   //        infowindow.setContent(locations[i][0]);
   //        infowindow.open(map, marker);
   //      }
   //    })(marker, i));
   //  }
  </script>

  <script>
     /*
     * Google Maps: Zoom-to-Fit Markers (v3)
     * http://salman-w.blogspot.com/2011/03/zoom-to-fit-all-markers-on-google-map.html
     */
    // setInterval(refreshMapa, 3000);
    function map_initialize() {
      var cwc2011_venue_data = [
      <?php 
      $start = 0;
      $array = $this->paginator;

      foreach ($array as $value)  { 
      if($start == 0){
      ?>
        {
          name: "",
          latlng: new google.maps.LatLng(<?php  echo  $value->latitude .','. $value->longitude; ?>)
        }
        <?php } 
        else{


        ?>,
        {
          name: "",
          latlng: new google.maps.LatLng(<?php  echo  $value->latitude .','. $value->longitude; ?>)
        }
        <?php 
      }
      $start++;
    }
        ?>
      ];
      var map = new google.maps.Map(document.getElementById("mapdiv"), {
        center: new google.maps.LatLng(0, 0),
        zoom: 0,
        mapTypeId: google.maps.MapTypeId.ROADMAP
      });

      for (var i = 0; i < cwc2011_venue_data.length; i++) {
        new google.maps.Marker({
          position: cwc2011_venue_data[i].latlng,
          map: map,
          title: cwc2011_venue_data[i].name
        });
      }
      var latlngbounds = new google.maps.LatLngBounds();
      for (var i = 0; i < cwc2011_venue_data.length; i++) {
        latlngbounds.extend(cwc2011_venue_data[i].latlng);
      }
      map.fitBounds(latlngbounds);
      new google.maps.Rectangle({
        bounds: latlngbounds,
        map: map,
        fillColor: "#000000",
        fillOpacity: 0.2,
        strokeWeight: 0
      });
    }

    google.maps.event.addDomListener(window, 'load', map_initialize);

  </script>