  <?php

// this edit form  for partiular restaurant  particular order 

 ?>
  <style type="text/css">
    #barcodeTarget{
        margin-top: 20px;
      }  

      iframe {
    border: medium none;
} 
  </style>
  <div class="row">

	<div class="col-md-12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">

			<?php echo $this->translate('Shop Order Detail') ?>

		</h3>

		<ul class="page-breadcrumb breadcrumb">

			<li>

				<i class="fa fa-home"></i>

				<a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 

				<i class="fa fa-angle-right"></i>

			</li>

			<li>

                <i class="fa fa-cutlery"></i>

                <a href="<?php echo $this->url(array(), 'restaurant-admin-Orders', true) ?>"><?php echo $this->translate('Shop Orders') ?></a>

                <i class="fa fa-angle-right"></i>

            </li>

            <li><i class="fa fa-plus"></i> <?php echo $this->translate('Orders Detail') ?></li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>

</div>



<div class="row" >

    <div class="col-sm-12">

  

	<div class="row margin-bottom-20">

	<div class="col-md-12">
		 <form method="post" action="" id="statusupdate">

          <?php
           foreach($this->restaurants->list as $key=>$data):
           if($data->status==4): ?>
           
          <span class=" btn  btn-success" onclick="sumitme()">
          	<?php 
         
          echo $this->translate('Approve'); 
         
          ?>
           <input type="hidden" value="3" name="statusupdate" />
       </span>
        <?php elseif($data->status==3): ?>
        
        <span class=" btn  btn-danger" onclick="sumitme()">
          <input type="hidden" value="4" name="statusupdate" />
        	<?php 
         
          echo $this->translate('UnApprove'); 
         
          ?>
          </span>
          	
        <?php 

        endif;
         endforeach;
        ?>
         </form>
         </div>
</div>
   
 <h3 style="float:right;margin-right:10px;cursor:pointer"> <i class="glyphicon glyphicon-print"  onclick="printContent()" id="hidemeass"></i></h3>
   <div id="printme"> 
	<?php foreach($this->restaurants->list as $key=>$data):	?>   
		  <b>To:  &nbsp;</b>&nbsp;<?php echo $data->name; ?> <br/>
		  <b>Address: &nbsp;</b>  <?php echo $data->address; ?> <br/>
		  <b>Phone No: &nbsp;</b><?php echo $data->phone; ?><br/>
		  <b>Method of Payment: &nbsp; </b><?php echo  $data->payment_method; ?><br/>
		</p>
		<p style="width: 375px;margin-top: -80px; float:right;">
		  <i>Date: &nbsp;</i><?php  $dt = $data->order_date; 
		                      $time = new DateTime($dt);
                              $date = $time->format('n.j.Y');
                              $time = $time->format('H:i');
		  echo $date; ?><br/>
		 <i>Order time: &nbsp;</i><?php echo $data->delivery_date.'-'.$data->delivery_time;if(($data->delivery_date)==""){echo "";}else{echo ":00";}; ?><br/>	</p>
		<?php endforeach; ?>
    
			<div class="row">
	<div class="col-md-6">

		<!-- BEGIN SAMPLE TABLE PORTLET-->

		<div class="portlet box red">

			<div class="portlet-title">

				<div class="caption"><i class="fa fa-cogs"></i>Order</div>

				<div class="tools">

					<a class="collapse" href="javascript:;"></a>

					<!-- <a class="config" data-toggle="modal" href="#portlet-config"></a> -->

					<!-- <a class="reload" href="javascript:;"></a> -->

					<a class="remove" href="javascript:;"></a>

				</div>

			</div>

			<div class="portlet-body">

				<table class="table table-hover">

					<thead>

						<tr>

							<th>Product Id</th>
							<th>Product Image</th>
							<th>Product Name</th>
							<th>Quantity</th>
							<th>Vat</th>
							<th>Price</th>						
                            <th>Sub Total </th>
							

							<!--<th>Status</th>-->

						</tr>

					</thead>

					<tbody>

					<?php

					 

		 foreach($this->restaurants->list as $key=>$data):

		    

	   //     $serialized_data = $this->getHelper('RestaurantHelper')
	   // ->Making_report_proper($data->cart);
        $prodata = json_decode($data->cart);
		 foreach ($prodata as $ke => $valu) {
		 	
	

		  ?>

						<tr>
                            <td><?php echo $valu->id; ?></td>
                            <td> <img src="<?php echo UPLOAD_IMAGE.stripslashes(($valu->coupon!=null? $valu->coupon:'photo_not_available.png')) ?>" width="80px" height="80px"/>
                            <?php echo $valu->coupon; ?></td>
							<td><?php echo $valu->name; ?></td>

							<td><?php echo $valu->qty; ?></td>

							<td ><?php echo $valu->vat."%"; ?></td>
							<td>
                              <?php echo $valu->price; ?>
							 </td>		
							 <td><?php  echo $valu->subtotal; ?></td>

							<!--<td><span class="label label-success">Approved</span></td>-->

						</tr>

						<?php
                        }

						 endforeach; ?>
<!-- <tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-warning"><?php echo $this->translate('Including  %'.$data->taxpay.' Tax'); ?>
						<span></td>
                <td><?php echo $data->c_tax; ?> </td>
				</tr> -->

		<!-- 		<?php if(isset($this->discountdetail[0]->discount_type)): ?>
<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-success"><?php echo $this->translate('Discount Type'); ?>
						<span></td>
                <td><?php echo $this->discountdetail[0]->discount_type; ?> </td>
				</tr>
			<?php endif;?>
       --> <!--       <?php if(isset($this->discountdetail[0]->discount)): ?>
		 --><!-- 		<tr><td></td><td></td><td></td><td></td><td> </td><td>
					<span class=" btn  btn-success"><?php echo $this->translate('Discount'); ?>
						<span></td>
                <td><?php
                if( $this->discountdetail[0]->discount_type=='cash'):

                 echo $this->discountdetail[0]->discount.'  '.' '; 
             else:
            echo $this->discountdetail[0]->discount;
             	endif;?> </td>
				</tr> -->
	<!-- 		<?php endif;?>  -->

				<tr><td></td><td></td><td></td><td></td><td> </td>
					<td><h5><?php echo $this->translate('Payment Fee'); ?></h5></td>
					<td><?php echo $data->service_charge; ?> </td></tr>
					<tr><td></td><td></td><td></td><td></td><td>  </td>
					<td><h5><?php echo $this->translate('Delivery Cost'); ?></h5></td>
					 <td ><?php echo $data->delivery_charge; ?> </td>
					</tr>
					<tr><td></td><td></td><td></td><td></td><td> </td>
					<td><h5><b><?php echo $this->translate('Total Amount'); ?></b></h5></td>
					 
                	<td>€<?php echo $data->total_payment; ?></td>
				</tr>
					</tbody>

				</table>

			</div>

		</div>
							

		<!-- END SAMPLE TABLE PORTLET-->

	</div>

	

</div>
 </div>
		

		

		

		

    </div>

	



	

	

</div>

<script> 
 /*
 function printContent()
 {
   document.getElementById("hidemeass").style.display = "none";
   var printcontent = document.getElementById('printme').innerHTML;
   document.innerHTML = printcontent; 
   window.print(); 



   
  }
*/  
  
  
  function printContent(){
	//document.getElementById("hidemeass").style.display = "none";  
	var restorepage = document.body.innerHTML;
	var printcontent = document.getElementById('printme').innerHTML;
	document.body.innerHTML = printcontent;
	window.print();
	document.body.innerHTML = restorepage;
}
  /***
  * function to submit the from
  ****/
  function sumitme()
  {
    $('#statusupdate').submit();

  }
</script>

   
<script type="text/javascript">
    $(document).ready(function(){

     $("#bcTarget").barcode("1234567890128", "code93");   

    });
     
  </script>