<?php

// this edit form  for partiular restaurant  particular order 

 ?>

 

  <div class="row">

	<div class="col-md-12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">

			<?php echo $this->translate('Shop Order edit') ?>

		</h3>

		<ul class="page-breadcrumb breadcrumb">

			<li>

				<i class="fa fa-home"></i>

				<a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 

				<i class="fa fa-angle-right"></i>

			</li>

			<li>

                <i class="fa fa-cutlery"></i>

                <a href="<?php echo $this->url(array(), 'restaurant-admin-Orders', true) ?>"><?php echo $this->translate('Shop Orders') ?></a>

                <i class="fa fa-angle-right"></i>

            </li>

            <li><i class="fa fa-plus"></i> <?php echo $this->translate('Edit  Orders') ?></li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>

</div>



<div class="row">

    <div class="col-sm-12">

        <?php if($this->success): ?>

        <div class="note note-success">

            <h4 class="block"><?php echo $this->translate('Order is Edited') ?>.</h4>

           

        </div>

        <?php else: ?>

        <div class="note note-info">

            <h3><?php echo $this->translate('Edit Shop to the system'); ?></h3>

            <p><?php echo $this->translate('Fill in the form below to edit shop order info. '); ?></p>

        </div>

        <?php if($this->error): ?>

        <div class="alert alert-danger">

            <button class="close" data-dismiss="alert">&times;</button>

            <?php echo $this->errorMessage ?>

        </div>

        <?php endif; 

		

		foreach($this->restaurants->list as $key=>$data ):

	        

		?>

		 

        <form class="form-horizontal" method="post">

            <div class="portlet solid light-grey">

                <div class="portlet-body">

                    <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Shop Order Info'); ?>:</h3>

                    <hr />

                    <div class="form-group">

                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Shop Name'); ?>:</label>

                        <div class="col-md-8">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>

                                <input type="hidden"  name="res_id" value="<?php echo $data->id;?>"/>

                                <?php

                                    echo $this->formText(

                                        

                                        'res_name',

                                        $data->restaurant_name,

                                         

                                        array(

                                           

                                            'required' => 'required',

                                            'placeholder' => $this->translate('Enter restaurant title / name here'),

                                            'class' => 'form-control',

                                           

                                            

                                        )

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                   

                    

                    

                       <?php //field of customer detail   ?>

               <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Customer  Details'); ?>:</h3>

               

                <hr />        

                    <div class="form-group">

                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('First Name'); ?>:</label>

                        <div class="col-md-8">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>

                                <?php

                                    echo $this->formText(

                                        

                                        'res_firstname',

                                        $data->firstname,

                                        

                                        array(

                                           

                                           

                                            'class' => 'form-control',

                                              'required' => 'required'

                                          

                                            

                                        )

                                        

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                     <div class="form-group">

                        <label for="res_name" class="control-label col-md-2">*<?php echo $this->translate('Last Name'); ?>:</label>

                        <div class="col-md-8">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>

                                <?php

                                    echo $this->formText(

                                        

                                        'res_lastname',

                                         $data->lastname,

                                         

                                        

                                        array(

                                           

                                            'required' => 'required',

                                            'class' => 'form-control'

                                           

                                          

                                            

                                        )

                                        

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Customer Address'); ?>:</label>

                        <div class="col-md-8">

                            <?php

                                echo $this->formTextarea(

                                    'res_address',

                                   $this->escape(stripslashes($data->address)), 

                            

                                    array(

                                         

                                        'class' => 'form-control',

                                        'style' => 'height: 100px',

                                         'required' => 'required'

                                    )

                                )

                            ?>

                        </div>

                    </div>

                     <div class="form-group">

                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Post Code'); ?>:</label>

                        <div class="col-md-8">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>

                                <?php

                                    echo $this->formText(

                                        

                                        'res_postcode',

                                        $this->escape(stripslashes($data->postcode)),

                                        

                                        array(

                                           

                                            

                                            'class' => 'form-control',

                                         'required' => 'required'

                                            

                                        )

                                        

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('City Name'); ?>:</label>

                        <div class="col-md-8">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-cutlery"></i></span>

                                <?php

                                    echo $this->formText(

                                        

                                        'res_city',

                                       $this->escape(stripslashes($data->city)),

                                        

                                        array(

                                           

                                            

                                            'class' => 'form-control',

                                           'required'=>'required'

                                          

                                            

                                        )

                                        

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                

                      <div class="form-group">

                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Details'); ?>:</label>

                        <div class="col-md-8">

                            <?php

                                echo $this->formTextarea(

                                    'res_detail',

                                    $data->detail,

                                    array(

                                         'readonly'=>'readonly',

                                        'class' => 'form-control',

                                        'style' => 'height: 100px'

                                    )

                                )

                            ?>

                        </div>

                    </div>

                     <div class="form-group">

                 <h3><i class="fa fa-chevron-circle-right" style="vertical-align: middle;"></i> <?php echo $this->translate('Carts  Detail'); ?>:</h3>

               

                <hr />  

                        <label for="res_description" class="control-label col-md-2"><?php echo $this->translate('Cart'); ?>:</label>

                        <div class="col-md-8">

                            <?php

                           $dataname = unserialize($data->cart);

     

                                echo $this->formTextarea(

                                    'res_Cart',

					$dataname[1],

                                    array(

                                         'readonly'=>'readonly',

                                        'class' => 'form-control',

                                        'style' => 'height: 100px'

                                    )

                                )

                            ?>

                        </div>

                    </div>

                    <div class="form-group">

                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Order Date'); ?>:</label>

                        <div class="col-md-4">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                <?php

                                    

                                    echo $this->formText(

                                        'res_Order_Date',

                                        $data->order_date,

                                        array(

                                         'readonly'=>'readonly',

                                            'required' => 'required',

                                            'class' => 'form-control'

                                            

                                        )

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                    

                       <div class="form-group">

                        <label for="res_name" class="control-label col-md-2"><?php echo $this->translate('Delivery Date'); ?>:</label>

                        <div class="col-md-4">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-calendar"></i></span>

                                <?php

                                    echo $this->formText(

                                        'res_Order_Date',

                                        $data->delivery_date,

                                        array(

                                            'required' => 'required',

                                            'class' => 'form-control',

                                              'readonly'=>'readonly',

                                            

                                        )

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                    

                    <div class="form-group">

                        <label for="res_delivery_fees" class="control-label col-md-2">*<?php echo $this->translate('Total Amount'); ?>:</label>

                        <div class="col-md-2">

                            <div class="input-group">

                                <span class="input-group-addon"><i class="fa fa-try"></i></span>

                                <?php

                                    echo $this->formText(

                                        'res_total_amount',

                                         number_format($data->total_amount,2),

                                        array(

                                            'class' => 'form-control',

                                            'placeholder' => '0.00',

                                            'required' => 'required',

                                            

                                        ) 

                                    )

                                ?>

                            </div>

                        </div>

                    </div>

                    

                </div>

            </div>

          

            

       

            <button type="submit" class="btn btn-lg green"><i class="fa fa-check"></i> <?php echo $this->translate('Edit  this Order	'); ?></button>

        </form>

        <?php 

		

		endforeach;

		endif; 

		

		?>

    </div>

</div>