<div class="row">
    <div class="col-md-12">
        <!-- BEGIN PAGE TITLE & BREADCRUMB-->
        <h3 class="page-title">
            <?php echo $this->translate('Invoice List'); ?>
        </h3>
            <ul class="page-breadcrumb breadcrumb">  
            <li>
                <i class="fa fa-home"></i>
                <a href="<?php echo $this->url(array(), 'restaurant-admin-dashboard', true) ?>"><?php echo $this->translate('Home'); ?></a> 
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="<?php echo $this->url(array(), 'restaurant-admin-Orders', true) ?>"><i class="fa fa-cutlery"></i> <?php echo $this->translate('Shop Orders'); ?></a></li>
         </ul>
        <!-- END PAGE TITLE & BREADCRUMB-->
    </div>
</div>

<hr/>

    <div class="row">
        <div class="col-sm-12">
             <div class="tabbable" id="tabs-553972">
        <ul class="nav nav-tabs">         
          <li class="active">
            <a href="#panel-841244" data-toggle="tab"><b>New Invoices</b></a>
          </li>
            <li>
            <a href="#panel-8412445" data-toggle="tab"><b>Paid</b></a>
          </li>
        </ul>
          <div class="tab-content">

                          <div class="tab-pane active" id="panel-841244">
                            <!--   //////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                  <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->data2) > 0): ?> id="example" <?php endif; ?>>       
                <thead>                   
                    <tr>
                        <th><?php echo $this->translate('Invoice ID'); ?></th>
                        <th><?php echo $this->translate('Invoice Detail'); ?></th>
                        <th> <?php echo $this->translate('Date'); ?></th>
                        <th> <?php echo $this->translate('Status'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->data2) == 0): ?>
                    <tr>
                        <td colspan="4" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif(count($this->data2) > 0): ?>
                        <?php foreach($this->data2 as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">                     
                           
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->id)) ?></td>
                           <td class="text-right">  <a href="<?php echo $entry->invoice_name;?>" download><b>Download Invoice</b></a></td>
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->invoice_date)) ?></td>   
                           <td class="text-right"> <button type="button" class="btn btn yellow">New Invoices</button></td>                            
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
                               <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                            </div>
                             <div class="tab-pane" id="panel-8412445">
                               <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                   <?php if($this->error): ?>
            <div class="alert alert-danger">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                <i class="glyphicon glyphicon-warning-sign"></i>
                <?php echo $this->errorMessage; ?>
            </div>
            <?php endif; ?>
            <table class="table table-striped table-bordered table-hover table-condensed dataTable"  <?php                   

            if(count($this->data3) > 0): ?> id="example" <?php endif; ?>>       
                <thead>                   
                    <tr>
                        <th><?php echo $this->translate('Invoice ID'); ?></th>
                        <th><?php echo $this->translate('Invoice Detail'); ?></th>
                        <th> <?php echo $this->translate('Date'); ?></th>
                        <th> <?php echo $this->translate('Status'); ?></th>
                    </tr>
                </thead>
                <tbody>
                    <?php if(count($this->data3) == 0): ?>
                    <tr>
                        <td colspan="4" class="text-center">
                            <br />                        
                            <span class="label label-warning"><?php echo $this->translate('No list found in database.'); ?></span>
                            <br /><br />                            
                        </td>
                    </tr>
                    <?php elseif(count($this->data3) > 0): ?>
                        <?php foreach($this->data3 as $i => $entry): ?>
                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">                             
                           
                           <td class="text-right"> <?php echo $this->escape(stripslashes($entry->id)) ?></td>
                           <td class="text-right">  <a href="<?php echo $entry->invoice_name;?>" download><b>Download Invoice</b></a></td>
                            <td class="text-right"> <?php echo $this->escape(stripslashes($entry->invoice_date)) ?></td>
                           
                             <td class="text-right"> <button type="button" class="btn btn green">Paid</button></td>   
                        </tr>
                        <?php endforeach; ?>
                    <?php endif; ?>
                </tbody>
            </table>
                                <!--//////////////////////////////////////////////////////////////////////////////////////////////
                               /////////////////////////////////////////////////////////////////////////////////////////////-->
                            </div>
                          </div>
                </div>
        </div>
    </div>
   