<?php
// this edit form  for partiular restaurant  particular order 
 ?>
 
  <div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<?php echo $this->translate('Restaurant Order Detail') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li>
                <i class="fa fa-cutlery"></i>
                <a href="<?php echo $this->url(array(), 'admin-Orders', true) ?>"><?php echo $this->translate('Restaurant Orders') ?></a>
                <i class="fa fa-angle-right"></i>
            </li>
            <li><a href="#"><i class="fa fa-plus"></i> <?php echo $this->translate('Orders Detail') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>

<div class="row">
    <div class="col-sm-12">
  
	<div class="row margin-bottom-20">
	<div class="col-md-12">
	<?php
		 foreach($this->restaurants->list as $key=>$data):
		?>
		<p style="width: 375px; float:left;">
		  <b>To:  &nbsp;</b>&nbsp;<?php echo $data->firstname; ?> - <?php echo $data->postcode; ?>-<?php echo $data->city; ?><br/>
		  <b>Liefe anschrift: &nbsp;</b>  <?php echo $data->address; ?> <br/>
		  <b>Telefon: &nbsp;</b><?php echo $data->telephone; ?><br/>
		  <b>E-Mail: &nbsp;</b><?php echo $data->mail; ?><br/><br/>
		  <b>Method of Payment: &nbsp; </b><?php echo  $data->payment; ?><br/>
		<b>Payment on delivery: &nbsp;</b><?php //echo $data->payment; ?><br/>
		</p>
		<p style="width: 375px; float:left;">
		  <i>Date: &nbsp;</i><?php  $dt = $data->order_date; $time = new DateTime($dt);
                              $date = $time->format('n.j.Y');
                              $time = $time->format('H:i');

		  echo $date; ?><br/>
		 <i>Order time: &nbsp;</i><?php echo $time; ?><br/>
		 <i>IP-Adresse: &nbsp;</i><?php echo $data->ip; ?><br/>
		 <i>Direction: &nbsp;</i><?php echo $data->direction; ?>
		 
		</p>
		
		<?php endforeach; ?>
		</div>
</div>
			<div class="row">
	<div class="col-md-6">
		<!-- BEGIN SAMPLE TABLE PORTLET-->
		<div class="portlet box red">
			<div class="portlet-title">
				<div class="caption"><i class="fa fa-cogs"></i>Order</div>
				<div class="tools">
					<a class="collapse" href="javascript:;"></a>
					<a class="config" data-toggle="modal" href="#portlet-config"></a>
					<a class="reload" href="javascript:;"></a>
					<a class="remove" href="javascript:;"></a>
				</div>
			</div>
			<div class="portlet-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Order Id</th>
							<th>Product Name</th>
							<th>Price</th>
							<th class="hidden-480">Total Price</th>
							<!--<th>Status</th>-->
						</tr>
					</thead>
					<tbody>
					<?php
					 
		 foreach($this->restaurants->list as $key=>$data):
		    // $serialized_data = $this->restaurants->list[0]->cart;
	       $serialized_data = $data->cart;
		   $data = stripslashes($serialized_data);
		   $data = unserialize($data);
		 //  $array_restored = unserialize(base64_decode($data)); 
		  
		 
		?>
						<tr>
							<td><?php echo $data[0]; ?></td>
							<td><?php echo $data[1]; ?></td>
							<td><?php echo $data[2]; ?> EUR</td>
							<td class="hidden-480"><?php echo $data[2]; ?> EUR</td>
							<!--<td><span class="label label-success">Approved</span></td>-->
						</tr>
						<?php endforeach; ?>
				
					</tbody>
				</table>
			</div>
		</div>
		<!-- END SAMPLE TABLE PORTLET-->
	</div>
	
</div>
		
		
		
		
    </div>
	

	
	
</div>