<div class="row">

	<div class="col-md-12">

		<!-- BEGIN PAGE TITLE & BREADCRUMB-->

		<h3 class="page-title">

			<?php echo $this->translate('Restaurants'); ?>

		</h3>

		<ul class="page-breadcrumb breadcrumb">

            

			<li>

				<i class="fa fa-home"></i>

				<a href="<?php echo $this->url(array(), 'admin-dashboard', true) ?>"><?php echo $this->translate('Home'); ?></a> 

				<i class="fa fa-angle-right"></i>

			</li>

			<li><a href="#"><i class="fa fa-cutlery"></i> <?php echo $this->translate('Restaurant Orders'); ?></a></li>

		</ul>

		<!-- END PAGE TITLE & BREADCRUMB-->

	</div>

</div>



<form id="frm-do-action" class="form-horizontal" role="form" method="post" action="">

    <input type="hidden" name="frmaction" value="" />	

    <input type="hidden" name="filterset" value="<?php if(isset($this->request->filterset) and $this->request->filterset): ?>1<?php else: ?>0<?php endif; ?>" />

    <!-- Filters -->

    <div class="row">

        <div class="col-sm-12">

            <div class="portlet box red">

                <div class="portlet-title">

                    <div class="caption"><i class="fa fa-gear"></i> <?php echo $this->translate('Filter Restaurant order  List'); ?></div>

    				<div class="tools">

					   <a href="" class="expand"></a>

    				</div>

                </div>

                <div class="portlet-body" style="display: none;">

                    <div class="form-group">

                        <label for="filterby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Filter List By'); ?>:</strong></label>

                        <div class="col-sm-10">

                            <div class="row-fluid">

                                <div class="col-sm-3">

                                    <?php 

                                        echo $this->formText(

                                            'Order_from',

                                            $this->request->Order_from,

                                            array( 'class' => 'form-control','placeholder'=>'Search by Start date',



                                            'onfocus'=>'checkdate()')

                                           

                                        );

                                    ?>

                                </div>

                                <div class="col-sm-3">

                                    <?php

                                         echo $this->formText(

                                             'Order_to',

                                           $this->request->Order_to,

                                            array( 'class' => 'form-control','placeholder'=>'Search by  End date',



                                             'onfocus'=>'checkdateto()')

                                           

                                        );

                                    ?>

                                </div>

                                <div class="col-sm-3">

                                    <?php

                                        echo $this->formSelect(

                                            'filterbystatus',

                                          $this->request->filterbystatus,

                                            array( 'class' => 'form-control' ),

                                            array(

                                                '' =>$this->translate('Select One'),

                                                'Deleted' => $this->translate('Deleted'),

                                                'Publish' => $this->translate('Published')

                                            )

                                        );

                                    ?>

                                </div>

                            </div>  

                        </div>

                    </div>

                    

                    <div class="form-group">

                        <label for="sortby" class="col-sm-2 control-label"><strong><?php echo $this->translate('Sort Order'); ?>:</strong></label>

                        <div class="col-sm-10">

                            <?php

                                echo $this->formRadio(

                                    'sortorder',

                                    (isset($this->request->sortorder) ? $this->request->sortorder : 'asc'),

                                    array(

                                        'class' => 'form-control'

                                    ),

                                    array(

                                        'asc' => $this->translate('Ascending'),

                                        'desc' => $this->translate('Descending')

                                    ),

                                    '&nbsp;&nbsp;'

                                )

                            ?>

                        </div>

                    </div>

                    <div class="form-group">

                        <label class="col-sm-2">&nbsp;</label>

                        <div class="col-sm-10">

                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(1); $('#frm-do-action').submit();" class="btn green"><i class="fa fa-check"></i> <?php echo $this->translate('Apply Filter'); ?></button>

                            <?php if(isset($this->request->filterset) and $this->request->filterset): ?>

                            <button type="button" onclick="$('#frm-do-action input[name=filterset]').val(0); $('#frm-do-action').submit();" class="btn red"><i class="glyphicon glyphicon-remove"></i> <?php echo $this->translate('Clear Filter'); ?></button>

                            <?php endif; ?>

                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>



    <!-- Restaurants List -->

    <div class="row">

        <div class="col-sm-12">

            <?php if($this->error): ?>

            <div class="alert alert-danger">

                <button type="button" class="close" data-dismiss="alert">&times;</button>

                <i class="glyphicon glyphicon-warning-sign"></i>

                <?php echo $this->errorMessage; ?>

            </div>

            <?php endif; ?>

            <table class="table table-striped table-bordered table-hover table-condensed dataTable" id="table-res">

                <thead>

                    <tr>

                        <th class="table-checkbox"><input type="checkbox" class="group-checkable" onclick="checkAll(this)" /></th>

                        <th> <?php echo $this->translate('Id'); ?></th>

						<th class="text-center"><i class="fa fa-cutlery "></i><?php echo "\t". $this->translate('Name'); ?></th>

                        <th> <?php echo $this->translate('Customer'); ?></th>

                        <th><i class="fa fa-calendar"></i> <?php echo $this->translate('Order Date'); ?></th>

                        <th><i class="fa fa-calendar"></i> <?php echo $this->translate('Deliver Time'); ?></th>

                        <th><i class="fa fa-try"></i> <?php echo $this->translate('Payment'); ?></th>

                        <th><i class="fa fa-try"></i> <?php echo $this->translate('Amount'); ?></th>

						<th>Status</th>

                        <th><i class="fa fa-copy"></i> <?php echo $this->translate('Actions'); ?></th>

                        <th>&nbsp;</th>

                    </tr>

                </thead>

                <tbody>

                

                    <?php

                    

                     if($this->restaurants->count == 0): ?>

                    <tr>

                        <td colspan="7" class="text-center">

                            <br />                        

                            <span class="label label-warning"><?php echo $this->translate('No restaurants found in database.'); ?></span>

                            <br /><br />                            

                        </td>

                    </tr>

                    <?php elseif($this->restaurants->count > 0): ?>

                        <?php foreach($this->restaurants->list as $i => $entry): ?>

                        <tr class="<?php if(!$entry->is_active): ?>danger <?php endif; ?><?php if(!$entry->is_verified): ?>warning<?php endif; ?>">

                            <td style="vertical-align: middle;"><?php echo $this->formCheckbox('selectedcheckbox[]', $entry->id, array('id' => 'selectedcheckbox-'.$i, 'class' => 'checkboxes')) ?></td>

                                  <td><?php echo $this->escape(stripslashes($entry->id)) ?></td>

                                <td><?php echo $this->escape(stripslashes($entry->restaurant_name)) ?></td>

                       

                            <td><?php echo $this->escape(stripslashes($entry->firstname))."\t".$this->escape(stripslashes($entry->firstname))

                            ."\t".$this->escape(stripslashes($entry->lastname)) ."\t".$this->escape(stripslashes($entry->address)) 

                             ."\t".$this->escape(stripslashes($entry->postcode))."\t".$this->escape(stripslashes($entry->city));?></td>

                            <td><?php echo $this->escape(stripslashes($entry->Order_date)) ?></td>

                            <td class="text-right"><?php echo  $this->escape(stripslashes($entry->delivery_date)); ?></td>

                            <td class="text-center"><?php echo $this->escape(stripslashes($entry->payment)); ?></td>

                            <td class="text-center"><?php echo number_format($entry->total_amount,2)?></td>

							<td>

							<?php if($this->escape(stripslashes($entry->status))==0)
                            { ?>

							<span class="label label-success">Approved</span><?php 

                            }
                            elseif()
                            {



                            } ?>

							<!--<span class="label label-info">Pending</span>

							<span class="label label-danger">Blocked</span>-->

							</td>

                            <td>

                <a href="<?php echo $this->url(); ?>/edit?id=<?php echo $entry->id; ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Edit'); ?></span></a>

                &nbsp;<a href="<?php echo $this->url(); ?>/detail?id=<?php echo $entry->id; ?>" class="btn green" style="color: #fff;"><i class="fa fa-plus"></i> <span><?php echo $this->translate('Detail'); ?></span></a>



                            </td>

                        </tr>

                        <?php endforeach; ?>

                    <?php endif; ?>

                </tbody>

                <tfoot>

                    <tr>

                        <td colspan="6">

                            <button class="btn btn-sm red" type="button" onclick="deleted('Delete_selected');" id="delete"><?php echo $this->translate('Cancel'); ?></button>

                            <button class="btn btn-sm green" type="button" onclick="deleted('Publish_selected');"><?php echo $this->translate('Deliver'); ?></button>

                        </td>

                    </tr>

                </tfoot>

            </table>

        </div>

    </div>

</form> 





<script>



 function deleted(el)

{

	 

	

if(el=="Delete_selected")

{

	

$('#delete').append("<input type='hidden' name='frmaction' value='deleted'>");

$('.form-horizontal').submit();

}



else{

	$('#delete').append("<input type='hidden' name='frmaction' value='publish'>");

	$('.form-horizontal').submit(); 



	}

	



 



}



//checking all  check boxes //

 function checkAll(e){

     if(e.checked){

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', 'checked');

             $(element).closest('span').addClass('checked');

         });

         

     }

     else

         {

         $('#table-res .checkboxes').each(function(i, element){

             $(element).attr('checked', '');

             $(element).closest('span').removeClass('checked');

         });

     }

     

 }



 function checkdate() {



	  

	 

	

	

	 $( "#Order_from" ).datepicker(  { dateFormat: 'yy-mm-dd' });

	

	 }



 function checkdateto()

 {



	

	 $( "#Order_to" ).datepicker(  { dateFormat: 'yy-mm-dd' });

	 



	 }

 











</script> 



 