
#stacks_in_674_page21 .stacks_left {
	float:left;
	width:32%;
}

#stacks_in_674_page21 .stacks_right {
	float:right;
	width:66%;
}#stackSliderstacks_in_228_page21 {
	height: 500px;
	overflow: hidden;
}

@media print {
	#stackSliderstacks_in_228_page21 {
		height: auto;
	}
}

#stackSliderstacks_in_228_page21 div {
	opacity: 1.0;
}
#stacks_in_228_page21 {
	border: solid #CCCCCC;
	border-width:  1px;
}

#stacks_in_230_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_728_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_726_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_724_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_722_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_720_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_718_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}

#stacks_in_716_page21 {
	background-color: #F4F4F4;
	-moz-border-radius:  5px;
	-webkit-border-radius:  5px;
	border-radius:  5px;
	margin:  5px;
	padding:  10px;
}
#stackSliderstacks_in_677_page21 {
	height: 500px;
	overflow: hidden;
}

@media print {
	#stackSliderstacks_in_677_page21 {
		height: auto;
	}
}

#stackSliderstacks_in_677_page21 div {
	opacity: 1.0;
}
#stacks_in_677_page21 {
	border: solid #CCCCCC;
	border-width:  1px;
	-moz-border-radius:  10px;
	-webkit-border-radius:  10px;
	border-radius:  10px;
}

#stacks_in_702_page21 {
	border: solid #CCCCCC;
	border-width: 0px 0px 1px 0px;
	padding:  20px;
}

#stacks_in_710_page21 {
	border: solid #CCCCCC;
	border-width: 0px 0px 1px 0px;
	padding:  20px;
}

#stacks_in_713_page21 {
	border: solid #CCCCCC;
	border-width: 0px 0px 1px 0px;
	padding:  20px;
}
