<!-- BEGIN PAGE HEADER-->
<div class="row">
	<div class="col-md-12">
		<!-- BEGIN PAGE TITLE & BREADCRUMB-->
		<h3 class="page-title">
			<i class="fa fa-cutlery"></i> <?php echo $this->translate('Meals Report') ?>
		</h3>
		<ul class="page-breadcrumb breadcrumb">
			<li>
				<i class="fa fa-home"></i>
				<a href="index.html"><?php echo $this->translate('Home') ?></a> 
				<i class="fa fa-angle-right"></i>
			</li>
			<li><a href="#"><?php echo $this->translate('Meals Report') ?></a></li>
		</ul>
		<!-- END PAGE TITLE & BREADCRUMB-->
	</div>
</div>
<!-- END PAGE HEADER-->



<?php if($this->error): ?>
<div class="alert alert-danger">
    <button type="button" class="close" data-dismiss="alert">&times;</button>
    <?php echo $this->errorMessage; ?>
</div>
<?php endif; ?>




<?php print_r();?>
<div class="well well-sm">
    <div class="row">
      
        <div class="col-sm-6">
            <div class="form-group">
                <label class="text-right control-label col-sm-5" for="mealcategory"><?php echo $this->translate('Select Category:') ?></label>
                <div class="col-sm-7">
                    <?php
                        echo $this->formSelect(
                            'mealcategory',
                            $this->request->category,
                            array(
                                'class' => 'form-control',
                                'onchange' => "location.href = '".$this->url(array(), 'restaurant-Report-mealreport', true)."' + (this.selectedIndex == 0 ? '' : ('?category=' + this.options[this.selectedIndex].value));"
                            ),
                           array(''=>'Select one','daily'=>'daily','Weekly'=>'Weekly','Monthly'=>'Monthly')
                        )
                    ?>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="portlet box purple">
    <div class="portlet-title">
        <div class="caption">
            <i class="fa fa-location-arrow"></i>  <?php echo $this->porletname; ?>
              <?php  if(!is_null($this->date) ):?>
              <span style="margin-left: 519px  !important;"> <?php echo $this->translate('From') ?>:-<?php echo date('Y-m-d'); ?>   <?php echo $this->translate('To') ?>:-<?php echo $this->date; ?> </span>
             <?php  else: ?>
             <span style="margin-left: 519px  !important;"> <?php echo $this->translate('Date') ?>:<?php echo date('Y-m-d'); ?></span>
             
              <?php endif;?>
             </div>
    </div>
    <div class="portlet-body">
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead>
                    
                    <?php 
                    $count=0;
                    if(count($this->data) > 0): ?>
                    
                       <tr>
                        <th>#</th>
                        <th><?php echo $this->translate('Meal Name') ?></th>
                        <th><?php echo $this->translate('Quantity') ?></th>
                        <th><?php echo $this->translate('Total Sale') ?></th>
                      
		                        <th>&nbsp;</th>
		                    </tr>
		                </thead>
		                <tbody>
                    
                        <?php foreach($this->data as $index => $entry): ?>
                        
                       <?php for($start=0;$start<count($entry['name']);$start++): ?> 
                         <tr <?php if( $entry['quantity'][$start]<1): ?> class="Danger" <?php endif;?>>
                            <td><?php echo ($start) ?></td>
                            
                            <td><?php echo stripslashes($entry['name'][$start]) ?></td>
                            <td><?php echo stripslashes($entry['quantity'][$start]) ?></td>
                            <td><i class="fa fa-try"></i> <?php echo number_format($entry['total'][$start], 2) ?></td>
                            
                        </tr>
                        <?php
                        endfor;
                         
                        endforeach; ?>
                  
                        
                        
                        <?php else: ?>
                    <tr>
                        <td colspan="7" class="text-center">
                            <span class="label label-warning">
                                <?php echo $this->translate('No data  found!') ?>
                            </span>
                        </td>
                    </tr>
                    <?php endif; ?>
                </tbody>
            </table>
        </div>
    </div>
</div>
