body {
  background-color: rgb(255, 255, 255);
  font: 400 1.25em/1.38 'Open Sans';
  color: rgb(93, 145, 9);
}

.foodimage {
  position: relative;
  float: left;
  clear: both;
  z-index: 3;
  width: 675px;
  height: 460px;
  margin: 56px 0 0 7.2607992487%;
  border: 1px solid rgb(221, 221, 221);
  background-color: #ffffff;
}

.foodimage .image {
  float: left;
  width: 653px;
  margin: 11px 0 0 1.82021%;
}

.footer {
  float: left;
  clear: both;
  width: 1198px;
  height: 149px;
  margin-top: 61px;
  border-top: 1px solid rgb(221, 221, 221);
  background-image: url('../images/bg+footer.jpg');
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: center bottom;
}

.footer .text {
  display: block;
  width: 11.185308848%;
  min-height: 30px;
  font-size: 0.8em;
}

.header {
  float: left;
  width: 1200px;
  height: 113px;
  margin: 11px 0 0 -0.0821700001%;
  border-bottom: 1px solid #dddddd;
}

.image {
  display: block;
  height: auto;
  overflow: hidden;
}

.main-container {
  width: 1200px;
  height: 852px;
  margin: 31px auto 0;
  border: 1px solid #dddddd;
  background-color: rgb(255, 255, 255);
}

.price {
  position: relative;
  float: left;
  clear: both;
  z-index: 6;
  width: 53.0487804878%;
  height: 53px;
  margin-top: -2px;
  border-radius: 10px;
  background-color: rgb(253, 102, 2);
}

.price .text {
  margin: 5px 0 0 9.76114%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.right {
  position: relative;
  float: left;
  z-index: 10;
  width: 27.3789649415%;
  height: 460px;
  margin: 57px 0 0 1.7542257929%;
}

.shopnow {
  display: block;
  float: left;
  clear: both;
  width: 284px;
  height: 67px;
  margin: 8px 0 0 0.08575%;
  background: url('../images/bg-button.png') rgb(222, 222, 222);
  background-repeat: no-repeat;
  background-size: auto auto;
  background-position: left top;
}

.shopnow .text {
  margin: 14px 0 0 16.43926%;
  font-size: 1.5em;
  font-weight: 700;
  color: rgb(255, 255, 255);
}

.text {
  float: left;
}

.title {
  margin: 19px auto 0;
  font-size: 2.25em;
  font-weight: 700;
  text-align: center;
  color: rgb(98, 153, 10);
}

.image-2 {
  float: right;
  width: 221px;
  margin: 12px 39.48117% 0 0;
}

.image-3 {
  float: left;
  clear: both;
  width: 30px;
  margin: -60px 0 0 80.71656%;
}

.text-1 {
  position: relative;
  z-index: 4;
  width: 93.9024390243%;
  min-height: 81px;
  margin-top: 2px;
  font-size: 2em;
  font-weight: 300;
  color: rgb(98, 153, 10);
}

.text-3 {
  clear: both;
  width: 97.1585365853%;
  min-height: 194px;
  margin: 28px 0 0 0.08575%;
  font-size: 1em;
  color: rgb(93, 145, 9);
}

.text-5 {
  margin: 37px 0 0 7.2621035058%;
  color: rgb(98, 153, 10);
}

.text-6 {
  margin: -54px 0 0 83.7228714524%;
  color: rgb(59, 89, 152);
}